.error {
    border-color: red !important;
}
.success {
    border-color: green !important;
}
.error-text {
    color: red !important;
}

.datepicker .day {
    width: 32px;
    height: 29px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.datepicker .day:hover {
    background: red;
    color: white;
}

.datepicker .datepicker-switch {
    text-align: center;
}

.datepicker {
    padding: 7px 12px;
    margin-top: 6px;
}

.datepicker .next {
    text-align: right;
    cursor: pointer;
}

.datepicker .prev {
    cursor: pointer;
}

.datepicker-months .month {
    padding: 4px 7px;
    cursor: pointer;
    border-radius: 4px;
}

.datepicker-months .month:hover, .datepicker-years .year:hover {
    background: red;
    color: white;
}
.datepicker-years .year {
    padding: 4px 7px;
    cursor: pointer;
    border-radius: 4px;
}
.error-msg {
    font-size: 12px;
    color: transparent;
    padding-top: 4px;
}

.error-msg.show {
    color: red;
}
.error-msg.success {
    color: red;
}

.content-info-acc-in .checkbox {
    margin-bottom: 0px;
}

.modal-header {
    padding: 9px 15px;
}
.modal-body h3 {
    margin: 0px;
}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group .btn2 {
    background-color: #ea252f;
    color: white;
}
.gender-item {

}
.small-loading {
    width: 32px;
    height: 32px;
    background: url('../img/loader.gif') center center no-repeat;
    background-size: 100% auto;
    margin: -40px auto;
}
.account-info {
    float: right;
    display: inline-block;
    color: #777;
}
.account-info .agent:after {
    content: "";
    border-right: 1px solid #CCC;
    padding: 0px 7px;
    margin-right: 7px;
}
a.dashboard-btn {
    height: 45px !important;
    text-decoration: none;
}
a.dashboard-btn:hover {
    text-decoration: none;
}
.action-bar {
    text-align: right;
    background: #555;
}
.action-bar td {
    padding: 0px !important;
}
.action-bar .button {
    padding: 8px 12px;
    display: inline-block;
    border-right: 1px solid #FFF;
    cursor: pointer;
    margin-right: -4px;
    color: white;
}
.action-bar .button:last-child {
    border-right: 0px;
}
.action-bar .button:hover, .action-bar .button:active {
    background: #ea252f;
    color: #FFF !important;
    text-decoration: none !important;
}
.back-btn {
    color: #555;
    padding: 3px 9px;
    border-right: 1px solid #CCC;
    margin-right: 9px;
}
.breadcrumb {
    overflow: auto;
}
.table-error {
    color: #ea252f;
}
.tcbs-button {
    background-color: #ea252f;
    color: white;
    border: 0px;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 9px;
    outline: none;
    cursor: pointer;
}
.tcbs-button:hover {
    background-color: #333;
}
.excel-uploader {
    border: 1px solid #DDD;
    padding: 4px 12px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 12px;
    box-sizing: border-box;
}
#uploadExcel {
    margin-bottom: 24px;
}
.account-filter-bar {
    margin-bottom: 24px;
}
.btn .caret {
    margin-left: 7px;
}
.account-filter .account-filter-form {
    padding-bottom: 36px;
}
.account-filter .result-table {
    margin-top: 24px;
}
.acccount-err-msg {
    margin-top: 20px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    opacity: 0;
    -webkit-transition: 300ms ease-out;
    -o-transition: 300ms ease-out;
    -ms-transition: 300ms ease-out;
    -moz-transition: 300ms ease-out;
    transition: 300ms ease-out;
}
.acccount-err-msg.show {
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    opacity: 1;
}
.social .navbar-form {
    margin: 0px;
}
.fa-angle-down:before {
    margin-left: 7px;
}
.navbar-inverse .navbar-nav > li > a {
    padding-right: 0px;
    font-size: 16px;
    padding-left: 11px;
}
.navbar > .container .navbar-brand {
    margin-top: 10px;
}
.showbank, .captcha-wrapper {
    float: left;
    width: 100%;
}
.mobile-show {
    display: none;
}

@media screen and (max-width: 480px) {
    .infoTab > .col-md-12 {
        padding: 0px;
    }
    .infoTab .blog-info-acc {
        border: 0px;
    }
    .content-info-acc .col-md-12 {
        padding: 0px;
    }
    .captcha-wrapper {
        margin-top: 24px;
    }
    .blog-info-acc .content-info-acc .content-info-acc-in h5 {
        line-height: 1.5;
    }
    .navbar > .container .navbar-brand {
        margin-left: 36px;
    }
    .path-page {
        display: none;
    }
    .social {
        display: none;
    }
    .blog-info-acc .tab-info-acc {
        font-size: 18px;
    }
    .mobile-show {
        display: block;
    }
    .desktop-show {
        display: none;
    }
}
#errorModalContent {
    color: #333;
    font-size: 14px;
}
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 12px;
    position: relative;
    background: #ed1c24;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}
.btn-d {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 12px;
    position: relative;
    background: #777;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}
.btn-u:hover{
    background: #555;
    color: white;
}