@charset "UTF-8";
/* CSS Document */
.blog-content{padding-right:0px !important; margin:0 0 20px;}
.blog-info-acc{padding:20px;margin:0 auto; border:2px #f3f3f3 solid; overflow:hidden;}
.blog-info-acc .tab-info-acc{ font-size:20px;color:#fff; font-weight:normal; padding:10px 10px 10px 15px; background-color:#ea252f; text-shadow:none !important;}
.blog-info-acc .content-info-acc{ padding:20px 0 20px 0; width:100%; overflow:hidden; clear:both;}
.blog-info-acc .content-info-acc .content-info-acc-in{padding:10px;}
.blog-info-acc .content-info-acc .content-info-acc-in .lineun{ width:100%; height:2px; background-color:#e6e6e6; margin:0 0 20px 0;}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group { color:#000;}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group span{ color:#F00; font-weight:bold;}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group .form-control{ padding:10px; height:35px;}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group select.selectpicker2{ background-color:#fff; height:35px;border:1px #c2c2c2 solid; width:100% !important;}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group .selectpicker2 span{color:#4e4e4e;}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group label{ width:100%; font-weight:normal; color:#000;}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group img{ float:left; height:35px;}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group a{ float:left:; height:35px; width:35px; margin:0 0 0 20px;}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group .btn2{ background-color:#999; padding:12px 30px 12px 30px; border:none !important; font-size:16px; font-weight:normal; margin:20px 0 0 0; width:100%;text-transform:uppercase;}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group .btn2:hover{ background-color:#000; padding:12px 30px 12px 30px; border:none !important; font-size:16px; font-weight:normal; margin:20px 0 0 0; width:100%;text-transform:uppercase;}
.blog-info-acc .content-info-acc .content-info-acc-in h5{text-transform:uppercase;}
.blog-info-acc .content-info-acc .content-info-acc-in h5 img{ float:left; margin:-7px 10px 0 0;}
.td-disable{ border:0px !important; box-shadow:none !important; font-size:14px; color:#000; vertical-align:middle !important;}
.ruler20{ width:100%; overflow: hidden; clear:both; height:20px;}
.input-group-addon { border:0px !important; background:none !important;}
.fatca, info-fatca{ width:100%; height:auto; overflow:hidden; clear:both;}
.fatca .info-fatca p{ text-align:justify; color:#000;}
.labeldis{ display:none;}
.labelable{ display:block;}



