#gallery {
	margin: 20px auto 0;
    text-align: center;
}
.nums-album {text-align: center;}
#gallery ul {
	overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery ul li {
	display: inline-block;
    width: 18%;
	margin: 0 10px 20px 10px;
	padding: 5px;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
@media (max-width: 480px) {
    #gallery ul li {width: 40%;}
}
#gallery ul li a img {width: 100%;-webkit-background-size: cover!important;    background-size: cover!important;background-repeat: no-repeat;}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}

.img-box {
	position: relative;
	width: 60%;
	height: 70%;
	margin: 20px auto;
	padding: 0 80px;
  text-align:center;
}
@media (max-width: 480px) {
    .img-box {width: 100%;}
}
.img-box a {
	position: absolute;
	top: 50%;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	font-size: 80px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.img-box .next-image {
	right: 0;
}

.img-box .prev-image {
	left: 0;
}

.img-box > div  {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.img-box .img-container {
	background: url(../img/loader.gif) no-repeat center center scroll;
}

.img-box .img-container img {
	display: none;
}

.overlay > ul {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px;
	background-color: #000;
	overflow: hidden;
}

.overlay > ul li {
	float: left;
	width: 6%;
	margin-left: 2%;
	border: 1px solid transparent;
}

.overlay > ul li.active-img {
	border-color: yellow;
}

.overlay img {
	max-width: 100%;-webkit-background-size: cover!important;    background-size: cover!important;background-repeat: no-repeat;
}