/*************************
*******Typography******
**************************/

body {
  background: #fff;
  font-family: arial, helvetica, clean, sans-serif;
  color:#4e4e4e;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: arial, helvetica, clean, sans-serif;
  color:#252525;
}

h1{
  font-size: 32px;
  color:#fff;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #c52d2f;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.btn-icon i {
    background: url(../../images/ui.png) no-repeat 0 0;
    -webkit-background-size: 500px 500px;
    background-size: 500px 500px;
    display: block;
    float: left;
}
.btn-login i {background-position: 0 0;width: 24px;height: 24px;}
.btn-phone i {background-position: -25px 0;width: 24px;height: 24px;margin-right: 5px;}
.btn-open i {background-position: 0px -25px;width: 40px;height: 40px;margin-right: 5px;}

.navbar-sub {float: left;margin: 0;padding: 0;list-style: none;}
.navbar-sub li {float: left;margin-left: 32px;}
.navbar-sub li a {font-size: 14px;color: #898989;}

@media (max-width: 768px) and (min-width: 767px) {
    .navbar-sub li {float: left;margin-left: 10px;}
}

.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
    font-weight: normal;
    color: #252525;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 70px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}
@media (max-width: 767px) {
    .center {
        padding-bottom: 30px;
    }
    .center h2{
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

#header .search{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-left:0;
}

.top-bar {
  padding: 5px 0;
  background: #222222;
  line-height: 24px;
  min-height: 35px;
}
@media (max-width: 767px) {
    .top-bar {padding-top: 8px;}
}
.top-number{
  color: #fff;
    float: left;
    margin-left: 10px;
}

.top-number p{
  margin: 0
}

.social{
  text-align: right;
}
.social .navbar-form {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
}
.social .form-group {
    vertical-align: top;
}
.social .form-group .form-control{
    height: 24px;
    border-radius: 0;
    border-width: 0;
    font-size: 12px;
}
.social .form-group .form-search {position: relative;}
.social .form-group .form-search .ic-search  {position: absolute;left: 6px;top: 1px;  font-size: 15px;    line-height: 24px;color: #999;}
.social .form-group .form-search .form-control {  padding: 2px 12px 2px 24px;}
.social .btn{
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    padding: 0 10px 0 0;
    border-width: 0;
    font-weight: bold;
}
.social .btn-default {
    border-radius: 0;
    border-color: transparent;
    background-color: #757575;
    color: #fff;
}
.social .lag {float: right;margin-left: 48px;}

@media (max-width: 767px) {
    .social .navbar-form {float: none;margin-top: 0px;padding: 0 10px;}
    .social .lag {
        position: absolute;
        top: 66px;
        left: 10px;
        margin: 0;
    }
    .navbar-sub {
        float: right;
        margin: 0 10px 0 5px;
    }
    .navbar-sub li {
        margin: 0;
    }
    .navbar-sub li a {
        background-color: #757575;
        height: 24px;
        font-size: 12px;
        line-height: 24px;
        display: inline-block;
        font-weight: bold;
        padding: 0 10px;
        color: #fff!important;
    }
}
@media (max-width: 768px) and (min-width: 767px) {
    .social .lag {float: right;margin-left: 10px;}
    .form-control {width: 100px;}
}
.social-share{
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.social-share li {
  display: inline-block;
}

ul.social-share li a {
  display: inline-block;
  color: #1b1b1b!important;
  background: #9f9f9f;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 28px;
}

ul.social-share li a:hover {
  background: #c52d2f;
  color: #fff;
}

.search i {
  color: #fff;
}
.quick-info {
    clear: both;
    margin-bottom: 32px;
}
.quick-info .container {
    padding: 22px 0;
    border-bottom: 2px #dbdbdb solid;
}
.quick-info .info-item {margin: 0;padding: 0;list-style: none;float: right;}
.quick-info .navbar-form {margin-top: 3px;}
.quick-info .info-item li {float: left;padding:0 32px;border-left: 1px #e0e0e0 solid;line-height: 16px;}
.quick-info .info-item li h6 {margin: 0;color: #000;font-size: 12px;font-weight: bold;}
.quick-info .info-item li span {margin: 0;color: #7c7c7c;clear: both;font-size: 12px;}
.quick-info .info-item li b {color: #ec2127;}
.quick-info .info-item li:first-child {border-left: 0px #e0e0e0 solid;}
@media (max-width: 1024px) {
    .quick-info .info-item li {float: left;padding:0 16px;}
}
@media (max-width: 767px) {
    .quick-info {display: none;}
}
@media (max-width: 768px) and (min-width: 767px) {
    .quick-info .navbar-form { margin-left: 20px; margin-right: 20px;}
    .quick-info .info-item {float: none;}
}
input.search-form{
  background: transparent;
  border: 0 none;
  width: 60px;
  padding: 0 10px;
  color: #FFF;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
}

input.search-form:hover {
  width: 180px;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
    /*
  padding: 10px 0;
    min-height: 90px;*/
  padding-bottom: 0;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #ededed, #fff); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:         linear-gradient(to bottom, #ededed, #fff); /* Chrome 26, Firefox 16+, IE 10+, Opera */
}

.open-account {
    float: right;
    margin-left: 10px;
    margin-top:20px;
}
.open-account a {
    display: block;
    background-color: #ec2127;
    font-size: 15px;
    color: #fff;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
@media (max-width: 768px) and (min-width: 767px) {
    .open-account a span {display: none;}
    .open-account a {padding: 0;}
    .btn-open i {margin: 0 auto;}
}
 .navbar-nav{
  margin-top: 0px;
 }

.navbar-nav > li{
  margin-left: 0px;
}

.navbar-inverse .navbar-nav > li > a {

  margin: 0;
  border-radius: 3px;
  color: #393939;
  line-height: 50px;
  display: inline-block;
  font-size: 18px;
}
.navbar-inverse .navbar-nav > li > a i{
    color: #ec2127;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #000;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}
.navbar-inverse .navbar-brand img {height: 40px;margin-left:-15px;margin-top: -8px;}
@media (max-width: 767px) {
    .navbar-inverse .navbar-brand img {height: 30px;margin-top: 0;}
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #000;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}
@media (max-width: 1200px) {
    .navbar-inverse .navbar-nav > li > a {padding: 15px 5px;font-size: 16px;}
    .open-account {
        margin-left: 10px;
    }
    
}
@media (max-width: 1000px) {
    .navbar-inverse .navbar-nav > li > a {padding: 15px 5px;font-size: 14px;}
    .open-account {
        margin-left: 10px;
        margin-top: 20px;
    }
    .open-account a {
        font-size: 14px;
        line-height: 40px;
        padding-left: 5px;
        padding-right: 5px;}
    .open-account a i {display: none;}
    .navbar-inverse .navbar-brand img {height: 30px;margin-top: -5px;}
}
@media (max-width: 767px) {
    .navbar {padding:0;min-height: 50px;}
    .navbar-inverse .navbar-brand img {height: 30px;margin-top: 0;}
    .navbar-inverse .navbar-brand {line-height: 45px;}

    .open-account a i {display: inline-block;}
}

/*************************
*******Home Page******
**************************/


#main-slider {
  position: relative;
}

.no-margin {
  margin: 0;
  padding: 0;
}

#main-slider .carousel .carousel-content {
  margin-top: 150px;
}

#main-slider .carousel .slide-margin{
  margin-top: 140px;
}

#main-slider .carousel h2 {
  color: #fff;
}

#main-slider .carousel .btn-slide {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}

#main-slider .carousel .slider-img{
  text-align: right;
  position: absolute;
}


#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 730px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: #c52d2f;
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}

#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: #000;
}

#main-slider .prev {
  left: 10px;
}

#main-slider .next {
  right: 10px;
}

#main-slider .carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 0 15px 0 0;
  position: relative;
}

#main-slider .carousel-indicators li:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #FFF;
  left: -3px;
  top: -3px;
}

#main-slider .carousel-indicators .active{
  width: 20px;
  height: 20px;
  background-color: #c52d2f;
   margin: 0 15px 0 0;
   border: 1px solid #c52d2f;
   position: relative;
}

#main-slider .carousel-indicators .active:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #c52d2f;
  border: 1px solid #c52d2f;
  left: -3px;
  top: -3px;
}

#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

#feature {
  padding-bottom: 40px;
}

.features{
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
    padding: 0 24px;
}

.feature-wrap h2{
  margin-top: 24px;
    text-align: center;
    font-weight: bold;
}
.feature-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.feature-wrap ul li {
    padding: 6px 0;
}
.feature-wrap ul li a {
    line-height: 24px;
    color: #215183;
    text-align: center;
    display: block;
}
.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap i{
  font-size: 48px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  line-height: 100px;
  text-align:center;
  color: #c52d2f;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  margin:0 auto;
  display: block;
    background:#ec2127 url(../images/ui.png) no-repeat 0 0;
    -webkit-background-size: 500px 500px;
    background-size: 500px 500px;
}
.feature-wrap .feature-1 {background-position: 0 -100px;}
.feature-wrap .feature-2 {background-position: 0 -200px;}
.feature-wrap .feature-3 {background-position: 0 -300px;}
.feature-wrap .feature-4 {background-position: 0 -400px;}

@media (max-width: 767px) {
    .feature-wrap {padding: 0 24px 0 124px}
    .feature-wrap i {position: absolute;top: 0;left: 20px;}
    .feature-wrap h2,
    .feature-wrap ul li a {text-align: left;}
}
#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

#recent-works{
    padding-bottom: 70px;
    clear: both;
    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;
    font-size: 18px;
}
#recent-works .title-overlay {
    display: inline-block;
    margin-right: 2.5em;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-style: normal;
    height: 70px;
    max-height: 70px;
    line-height: 22px;
    display: block;
    padding-left: 20px;
    color: #fff;
    padding-right: 32px;
    width: 100%;
    display: table;
    table-layout: fixed;
}
#recent-works .title-overlay span {
    display: table-cell;
    vertical-align: middle;
    height: 70px;
    max-height: 70px;
    width: 100%;
    overflow: hidden;
}
#recent-works .title-overlay i {font-size: 32px;float: right;margin-left: 10px;font-weight: bold;position: absolute;right: 10px;top: 18px;}

#recent-works .tabList .title-overlay i{ display:none !important;}

#recent-works .sub-overlay {
    height: 200px;
    width: 100%;
    display: table;
    table-layout: fixed;
}
@media (min-width: 768px) {
    
    #recent-works .recent-center .sub-overlay {
        height: 420px;
    }
}

#recent-works .sub-overlay .sub-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#recent-works .sub-overlay .sub-title {
    color: #fff;
    font-weight: bold;
    line-height: 1.15;
    margin: 0 .8em 1em;
    max-height: 100px;
    overflow: hidden;
}
#recent-works .sub-overlay span.sub-button {
    color: #1f4f82;
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    background: #fff;
    line-height: 32px;
}
#recent-works .sub-overlay span.sub-button i {font-size: 32px;float: right;margin-left: 10px;font-weight: bold;}
#recent-works .sub-overlay span:hover.sub-button {
    background-color: #F00;
    color: #fff;
}
#recent-works .sub-overlay span.sub-button span{ font-size:30px; color:#F00; margin:0 10px 0 0 !important; float:left;}
#recent-works .sub-overlay span:hover.sub-button span{ color:#fff;}

.recent-work-wrap {
  position: relative;
  overflow: hidden;
  height: 200px;
  margin-bottom: 10px;
}
@media (min-width: 768px){
    .recent-work-wrap {margin-bottom: 20px;}
    .recent-work-wrap.recent-center {
        height: 420px;
    }
	.navbar-inverse .navbar-brand img { margin-left:0px;}

}
.recent-work-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.recent-work-wrap .img-responsive{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;right: 0;top: 0;bottom: 0;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}
.recent-work-wrap li,
.recent-work-wrap li a {
    cursor: pointer;
    transition: all 0.35s ease 0s;
    -moz-transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
}
.recent-work-wrap .overlay {
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  border-radius: 0;
  background: rgba(0,0,0,0.8);
  color: #fff;
  vertical-align: middle;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
.recent-work-wrap li:hover a:hover.overlay {
    bottom: 0;
}
.recent-work-wrap li:hover .overlay {
    bottom: -190px;
}
@media (min-width: 768px){
.recent-work-wrap.recent-center .overlay {
    bottom: -420px;
}
.recent-work-wrap.recent-center li:hover .overlay {
    bottom: -410px;
}
}
.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}


.txtAbout-top {text-align: center;font-size: 26px;color: #757575;padding: 50px 150px 60px 150px;line-height: 37px;}
.txtAbout-bottom {text-align: center;font-size: 22px;color: #757575;padding: 60px 100px 30px 150px;line-height: 32px;font-style: italic;}
.txtAbout-bottom span {position: relative;}
.txtAbout-bottom span:before {content: "\201C";color: #ec2127;font-size: 120px;position: absolute;left: -50px;top: 0;}
.txtAbout-bottom span:after {content: "\201D";color: #ec2127;font-size: 120px;position: absolute;right: -30px;bottom: -55px;}
@media (min-width: 768px) {
    #recent-intro .blog-content {padding-left: 10px;color: #757575;}
    #recent-news .blog-content {padding-right: 10px;color: #757575;}
    #recent-news .blog-content.bxNews {padding-right: 0px;color: #757575;}

}
#recent-news a:hover {text-decoration: underline;color: #ed1d23;}

.row-news {clear: both;}
.row-news .title-news {clear: both;border-bottom: 2px #eee solid;margin-bottom: 10px;}
.row-news .title-news h3 {
    background-color: transparent;
    color: #222;
    line-height: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.row-news .title-news h3 i {  font-weight: bold;
    font-size: 24px;
    padding: 0 10px;
    float: left;
    line-height: 32px;
    color: #ed1d23;
}
.news-header {overflow: hidden;position: relative;padding-right: 40px;}
.title-header {margin:10px 0 0 0;}
.title-header a, .text-newslist a {font-weight: bold;color: #222; font-size:16px;}
.title-date {font-weight: normal;border-left: 8px #ec1921 solid;line-height: 20px;padding-left: 10px;color: #a7a7a7;}
.title-info {margin: 10px 0 20px 0;}
.title-sub {font-weight: bold;color: #434343;}
.news-header .more-news {position: absolute;top: 15px;right: 0;}
.news-header .more-news i {
    font-weight: bold;
    font-size: 32px;
    padding: 0 10px;
    float: left;
    line-height: 32px;
    background-color: #ed1d23;
    color: #fff;
}
.blog-content img {width: auto;max-width: 100%;margin: 0 auto;display: block;}
.blog-content p {  margin: 0 0 20px; text-align:justify;}

.listNews .title-date, .text-newslist .title-date{border-left: 0px #ec1921 solid;line-height: 16px;padding: 0px;margin: 0;}
.content-sub { margin:20px 0 40px 0; color:#757575;}
.social-page {clear: both;overflow: hidden;font-size: 14px;padding: 20px 0;}
.social-page .page-inner {float: right;}
.social-page .page-inner a {font-size: 24px;margin-left: 10px;line-height: 24px;border-radius: 24px;}
.social-page .page-inner a .fa {position: relative;top: 2px;display: inline-block;width: 32px;height: 32px;text-align: center;padding: 4px;border-radius: 30px;font-size: 18px;line-height: 24px;}
.social-page .page-inner .fa-print {color: #000;margin-right: 20px;background-color: #666;color: #fff;}
.social-page .page-inner .fa-facebook {background-color: #3b5998;color: #fff;}
.social-page .page-inner .fa-google-plus {background-color: #e02f2f;color: #fff;}
#recent-intro .col-xs-12.col-sm-4.col-md-3{
    padding: 0;
}

#recent-intro{
    padding-bottom: 70px;
    clear: both;
    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;
    font-size: 16px;
    line-height: 26px;
}
#recent-intro .title-overlay {
    display: inline-block;
    margin-right: 2.5em;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-style: normal;
    line-height: 1.17em;
    height: 70px;
    line-height: 70px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-indent: 20px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

#recent-intro .title-overlay i {font-size: 48px;float: right;font-weight: bold;position: absolute;left: 10px;top: 10px;
    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
#recent-intro a:hover.overlay .title-overlay {background-color:#ec2127;}
#recent-intro a:hover.overlay .title-overlay {font-size: 24px;}
#recent-intro a:hover.overlay i {-webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        top: 3px;
}
#recent-intro .sub-overlay {
    height: 200px;
    width: 100%;
    display: table;
    table-layout: fixed;
}
@media (min-width: 768px) {

    #recent-intro .recent-center .sub-overlay {
        height: 420px;
    }
}

#recent-intro .sub-overlay .sub-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#recent-intro .sub-overlay .sub-title {
    color: #fff;
    font-weight: bold;
    line-height: 1.15;
    margin: 0 .8em 1em;
}
#recent-intro .sub-overlay span.sub-button {
    color: #1f4f82;
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    background: #fff;
    line-height: 32px;
}
#recent-intro .sub-overlay span.sub-button i {font-size: 32px;float: right;margin-left: 10px;font-weight: bold;}
#recent-intro .sub-overlay span:hover.sub-button {
    background-color: #1f4f82;
    color: #fff;
}
.recent-intro-wrap {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: 10px;
}
@media (min-width: 768px){
    .recent-intro-wrap {margin-bottom: 20px;}
    .recent-intro-wrap.recent-center {
        height: 420px;
    }

}
.recent-intro-wrap.recent-center.hide-cover {
    height: 70px;
}
.recent-intro-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.recent-intro-wrap .img-responsive{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}

.recent-intro-wrap .recent-intro-inner{
    top: 0;
    background: transparent;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}

.recent-intro-wrap .recent-intro-inner h3{
    margin: 10px 0;
}

.recent-intro-wrap .recent-intro-inner h3 a{
    font-size: 24px;
    color: #fff;
}
.recent-intro-wrap li,
.recent-intro-wrap li a {
    cursor: pointer;
    transition: all 0.35s ease 0s;
    -moz-transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
}
.recent-intro-wrap .overlay {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-radius: 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    vertical-align: middle;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
.recent-intro-wrap li:hover a:hover.overlay {
    bottom: 0;
}
.recent-intro-wrap li:hover .overlay {
    bottom: -190px;
}
@media (min-width: 768px){
    .recent-intro-wrap.recent-center .overlay {
        bottom: 0;
    }
    .recent-intro-wrap.recent-center li:hover .overlay {
        bottom: 0;
    }
}
.recent-intro-wrap.recent-center li:hover .overlay {
    bottom: 0;
}
.recent-intro-wrap .overlay .preview {
    bottom: 0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    border-radius: 0;
    background: transparent;
    text-align: center;
    color: #fff;
}

.recent-intro-wrap:hover .overlay {
    opacity: 1;
}

.tabList .col-md-4 {width: 100%;}
.tabList .recent-intro-wrap .img-responsive {display: none;}
.tabList .recent-intro-wrap li {position: relative;}
.tabList .recent-intro-wrap li a {padding: 20px 0;border-bottom: 1px #ddd solid;display: block;position: relative;}
.tabList .recent-intro-wrap {height: inherit;margin: 0;}
.tabList .recent-intro-wrap .overlay {position: relative;bottom: inherit;left: inherit;background-color: transparent;}
#recent-intro .tabList .title-overlay {height: inherit;line-height: 24px;font-weight: bold;color: #000;margin: 0;text-indent: 0px;text-align: left;}
#recent-intro .tabList .sub-overlay .sub-title {color: #323232;font-weight: normal;line-height: 18px;margin: 0;text-indent: 0px;text-align: left;}
#recent-intro .tabList .sub-overlay {height: inherit;}
#recent-intro .tabList .sub-overlay span.sub-button {background-color: transparent;position: absolute;right: 0;top: 15px;font-weight: normal;}
#recent-intro .tabList .sub-overlay span:hover.sub-button {    background-color: transparent;color: #1f4f82;}
@media (max-width: 767px) {
    #recent-intro {margin-top: 0px;padding-bottom: 10px;}
    #recent-intro .tabList .title-overlay,
    #recent-intro .tabList .sub-overlay .sub-title {text-align: left;}
    #recent-intro .txtAbout-top {  padding: 20px 50px 40px 50px;font-size: 24px;}
    #recent-intro .txtAbout-bottom {  padding: 30px 50px 10px 50px;font-size: 20px;}
    .txtAbout-bottom span:before {content: "\201C";color: #ec2127;font-size: 80px;position: absolute;left: -40px;top: 0;}
    .txtAbout-bottom span:after {content: "\201D";color: #ec2127;font-size: 80px;position: absolute;right: -30px;bottom: -35px;}

}
@media (max-width: 480px) {
    .path-page .container {padding: 0;border-top: 0px #ccc solid;}
    .tabList .recent-intro-wrap li a {padding: 10px 0;}
    #recent-intro .tabList .sub-overlay span.sub-button {display: none;}

    #recent-intro .txtAbout-top {  padding: 10px 10px 40px 10px;font-size: 20px;line-height: 30px;}
    #recent-intro .txtAbout-bottom {  padding: 30px 50px 10px 50px;font-size: 20px;}
    .txtAbout-bottom span:before {content: "\201C";color: #ec2127;font-size: 80px;position: absolute;left: -40px;top: 0;}
    .txtAbout-bottom span:after {content: "\201D";color: #ec2127;font-size: 80px;position: absolute;right: -30px;bottom: -35px;}

}

.tabList .col-md-4 {width: 100%;}
.tabList .recent-work-wrap .img-responsive {display: none;}
.tabList .recent-work-wrap li a {padding: 20px 0;border-bottom: 1px #ddd solid;display: block;position: relative;}
.tabList .recent-work-wrap {height: inherit;margin: 0;}
.tabList .recent-work-wrap .overlay {position: relative;bottom: inherit;left: inherit;background-color: transparent;}
#recent-works .tabList .title-overlay {height: inherit;line-height: 24px;font-weight: bold;color: #000;margin: 0;text-indent: 0px;text-align: left; padding-bottom: 5px; padding-left:0px;}
#recent-works .tabList .sub-overlay .sub-title {color: #323232;font-weight: normal;line-height: 18px;margin: 0;text-indent: 0px;text-align: left;width: 80%;}
#recent-works .tabList .sub-overlay {height: inherit;}
#recent-works .tabList .sub-overlay span.sub-button {background-color: transparent;position: absolute;right: 0;top: 15px;font-weight: normal;}
#recent-works .tabList .sub-overlay span:hover.sub-button {    background-color: transparent;color: #1f4f82;}
@media (max-width: 1000px) {
    #recent-works {margin-top: 20px;padding-bottom: 10px;}
    #recent-works .title-overlay{
        font-size: 14px;
        padding-left: 0px;
    }
    #recent-works .sub-overlay .sub-title {
        font-size: 14px;
        max-height: 96px;
    }
    #recent-works .sub-overlay span.sub-button {
        font-size: 14px;
        padding: 2px 10px;
    }
    #recent-works .tabList .title-overlay,
    #recent-works .tabList .sub-overlay .sub-title {text-align: left;}
}
@media (max-width: 767px) {
    #recent-works {margin-top: 20px;padding-bottom: 10px;}
    #recent-works .title-overlay{
        font-size: 14px;
        padding-left: 10px;
    }
    #recent-works .sub-overlay .sub-title {
        font-size: 14px;
    }
    #recent-works .sub-overlay span.sub-button {
        font-size: 14px;
    }
    #recent-works .tabList .title-overlay,
    #recent-works .tabList .sub-overlay .sub-title {text-align: left;}
}
@media (max-width: 480px) {
    .tabList .recent-work-wrap li a {padding: 10px 0;}
    #recent-works .tabList .sub-overlay span.sub-button {display: none;}
}
#services {
  background: #000 url(../images/services/bg_services.png);
  background-size: cover;
}

#services .lead,
#services h2{
  color: #fff;
}

.services-wrap {
  padding: 40px 30px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 40px;
}

.services-wrap h3 {
  font-size: 20px;
  margin: 10px 0;
}

.services-wrap .pull-left {
  margin-right: 20px;
}

#middle {
  background: #f2f2f2;
}

.skill h2{
  margin-bottom: 25px;
}

.progress-wrap{
  position: relative;
}

.progress .color1,
.progress .color1 .bar-width{
  background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width{
  background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width{
  background: #ffcc33;
}

.progress .color4,
.progress .color4 .bar-width{
  background: #db3615;
}

.progress, 
.progress-bar {
  height: 15px;
  line-height: 15px;
  background: #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: right;
}

.progress{
  position: relative;
}

.progress .bar-width{
  position: absolute;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  top: -30px;
  border-radius: 2px;
  margin-left: -30px;
}

.progress span{
  position: relative;
}

.progress span:before{
  content: " ";
  position: absolute;
  width: auto;
  height: auto;
  border-width: 8px 5px;
  border-style: solid;
  bottom: -15px;
  right: 8px;
}

.progress .color1 span:before{
  border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before{
  border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before{
  border-color: #ffcc33 transparent transparent transparent;
}

.progress .color4 span:before{
  border-color: #db3615 transparent transparent transparent;
}

.accordion h2{
  margin-bottom: 25px;
}

.panel-default{
  border-color: transparent;
}

.panel-default>.panel-heading,
.panel{
  background-color: #e6e6e6; 
  border:0 none;
  box-shadow:none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  background: #fff;
  color: #858586;
}

.panel-body{
  padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
  margin-top: 0;
  border-top: 1px solid #d9d9d9;
}

.panel-group .panel{
  border-radius: 0;
}

.panel-heading{
  border-radius: 0;
}

.panel-title>a{
  color: #4e4e4e;
}

.accordion-inner img{
  border-radius: 4px;
}

.accordion-inner h4{
  margin-top: 0;
}

.panel-heading.active{
  background: #1f1f20;
}

.panel-heading.active .panel-title>a{
  color:#fff;
}

a.accordion-toggle  i{
  width: 45px;
  line-height: 44px;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
  margin-right: -15px;
  background: #c9c9c9;
}

.panel-heading.active a.accordion-toggle i{
  background: #c52d2f;
  color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i{
  background: #c52d2f;
  color: #fff;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #1f1f20;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #1f1f20;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #1f1f20;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}

.tab-content{
  padding: 20px;
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}

.testimonial h2{
  margin-top: 0;
}

.testimonial-inner {
  color:#858586;
  font-size: 14px;
}

.testimonial-inner .pull-left{
  border-right: 1px solid #e7e7e7;
  padding-right: 15px;
  position: relative;
}

.testimonial-inner .pull-left:after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  margin-top: -5px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  border: 1px solid #e7e7e7;
  right: -5px;
  border-left: 0 none;
  border-bottom: 0 none;
}

#partner {
  background: url(../images/partners/partner_bg.png) 50% 50% no-repeat;
  background-size: cover;
}

#partner {
  color: #fff;
  text-align: center;
}

#partner h2, 
#partner h3 {
  color: #fff;
}

.partners ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners ul li{
  display: inline-block;
  float: left;
  width: 20%;
}

#conatcat-info{
  background: #fff url(../images/contact.png) no-repeat 90% 0;
  padding: 30px 0;
}

.contact-info i{
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 10px;
}

.contact-info h2{
  margin-top: 0;
  color: #000;
}

.contact-info{
  color:#000;
}

/*************************
********* About Us Page CSS ******
**************************/

.about-us {
  margin-top: 110px;
  margin-bottom: -110px;
}

.about-us h2, 
.skill_text h2 {
  color:#4e4e4e;
  font-size: 30px;
  font-weight: 600;
}

.about-us p {
  color:#4e4e4e;
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #777;
  border-radius:50%;
  font-size: 28px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#777;
}

#carousel-slider a i:hover {
  background:#bfbfbf;
  color:#fff;
  border: 1px solid #bfbfbf;
}

#carousel-slider 
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:-25px
}

#carousel-slider .carousel-control.right i {
  right: -25px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}

.skill_text {
  display: block;
  margin-bottom: 60px;
  margin-top: 25px;
  overflow: hidden;
}

.sinlge-skill {
  background:#f2f2f2;
  border-radius: 100%;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  height: 200px;
  position: relative;
  width: 200px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 30px 0;

}

.sinlge-skill p em {
  color: #FFFFFF;
  font-size: 38px;
}

.sinlge-skill p {
  line-height: 1;
}

.joomla-skill, 
.html-skill, 
.css-skill, 
.wp-skill {
  position: absolute;
  height: 100%;
  bottom: 0;
  width:100%;
  border-radius: 100%;
  padding: 70px 0;
  text-align: center;
}


.joomla-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 28%, rgba(45,125,164,1) 28%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(28%,rgba(242,242,242,1)), color-stop(28%,rgba(45,125,164,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#2d7da4',GradientType=0 ); /* IE6-9 */    
}

.html-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 9%, rgba(106,164,47,1) 9%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(9%,rgba(242,242,242,1)), color-stop(9%,rgba(106,164,47,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#6aa42f',GradientType=0 ); /* IE6-9 */
}

.css-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 32%, rgba(255,189,32,1) 32%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(32%,rgba(242,242,242,1)), color-stop(32%,rgba(255,189,32,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffbd20',GradientType=0 ); /* IE6-9 */
}

.wp-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 19%, rgba(219,54,21,1) 19%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(19%,rgba(242,242,242,1)), color-stop(19%,rgba(219,54,21,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#db3615',GradientType=0 ); /* IE6-9 */
}

.skill-wrap {
  display: block;
  overflow: hidden;
  margin: 60px 0;
}

.team h4 {
  margin-top: 0;
  text-transform: uppercase;
}

.team h5 {
  font-weight: 300;
}

.single-profile-top, 
.single-profile-bottom {
  font-weight: 400;
  line-height: 24px;
}

.single-profile-top, 
.single-profile-bottom  {
  border: 1px solid #ddd;
  padding: 15px;
  position: relative;
}

.media_image {
  margin-bottom: 10px;
}

.team .btn {
  background:transparent;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 1px 5px;
  text-transform: uppercase;
  border:1px solid#ddd;
  margin-right: 3px;
}


ul.social_icons,
ul.tag {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: block;
}

ul.social_icons li,
ul.tag li {
  display: inline-block;
  margin-right: 5px;
}

ul.social_icons li  a i{
  border-radius: 50%;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0;
  text-align: center;
  width: 25px;
  opacity:.8;
}


.team .social_icons .fa-facebook:hover, 
.team .social_icons .fa-twitter:hover, 
.team .social_icons .fa-google-plus:hover {
  transform: rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg); 
  transition-duration:2s;
  transition-property: all;
  transition-timing-function: ease;
  opacity:1;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.team .social_icons .fa-facebook {
  background: #0182c4;
}

.team .social_icons .fa-twitter {
  background: #20B8FF
}

.team .social_icons .fa-google-plus {
  background: #D34836
}


.team-bar .first-one-arrow {
  float: left;
  margin-right: 30px;
  width: 2%;
}

.team-bar .first-arrow {
  float: left;
  margin-left: 5px;
  margin-right: 35px;
  width: 22%;
}

.team-bar .second-arrow {
  float: left;
  margin-left: 5px;
  width: 21%;
}

.team-bar .third-arrow {
  float: left;
  margin-left: 40px;
  margin-right: 12px;
  width: 22%;
}

.team-bar .fourth-arrow {
  float: left;
  margin-left: 25px;
  width: 20%;
}

.team-bar .first-one-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
 }

.team-bar .first-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
 }

.team-bar .second-arrow hr {
  border-bottom: 1px solid #6aa42f;
  border-top: 1px solid #6aa42f;
}

.team-bar .third-arrow hr {
  border-bottom: 1px solid #FFBD20;
  border-top: 1px solid #FFBD20;

}

.team-bar .fourth-arrow hr {
  border-bottom: 1px solid #db3615;
  border-top: 1px solid #db3615;
}

.team-bar {
  margin-bottom: 15px;
  margin-top: 30px;
  position: relative;
}

.team-bar i {
  border-radius: 50%;
  color: #FFFFFF;
  display: block;
  height: 24px;
  line-height: 24px;
  margin-top: -32px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 24px;
  position: absolute;
}

.team-bar .first-arrow .fa-angle-up {
  background:#2D7DA4;
  margin-left:-33px
 }

.team-bar .second-arrow .fa-angle-down {
  background:#6AA42F;
  margin-left: -33px;
}

.team-bar .third-arrow .fa-angle-up {
  background:#FFBD20;
  margin-left: -32px;
}

.team-bar .fourth-arrow .fa-angle-down {
  background:#db3615;
  margin-left: -32px;
}

.team .single-profile-top:before, 
.team .single-profile-top:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.team .single-profile-top:before {
  left:26px;
  bottom: -20px;
  border-width: 10px;
  border-color:#fff transparent transparent transparent;
  z-index: 1;
}


.team .single-profile-top:after {
  left: 25px;
  bottom: -22px;
  border-style: solid;
  border-width: 11px;
  border-color:#ddd transparent transparent transparent;
  z-index: 0;
}

.team .single-profile-bottom:before,
.team .single-profile-bottom:after {
  position: absolute;
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
}

.team .single-profile-bottom:before {
  left:30px;
  top: -20px;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  z-index: 1;
}

.team .single-profile-bottom:after {
  left: 29px;
  top: -22px;
  border-style: solid;
  border-width: 11px;
  border-color: transparent transparent #DDD transparent;
  z-index: 0;
}

/***********************
****Service page css****
***********************/

.services {
  padding: 0;
}

.get-started {
  background: none repeat scroll 0 0 #F3F3F3;
  border-radius: 3px;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 18px;
  margin-top: 60px;
}

.get-started h2 {
  padding-top: 30px;
  margin-bottom: 20px;
}

.request {
  bottom: -15px;
  left: 50%;
  position: absolute;
  margin-left: -110px;
}

.request h4 {
  position: absolute;
  width: 220px;
  position:relative;
}

.request h4 a{
  background:#c52d2f;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  border-radius: 3px;
  padding: 5px 15px;
}

.request h4:after {
  border-color: #c52d2f transparent transparent;
  border-style: solid;
  border-width: 12px;
  bottom: -18px;
  content: "";
  height: 0;
  position: absolute;
  right: 13px;
  z-index: -99999;
}

.request h4:before {
  border-color: #c52d2f transparent transparent;
  border-style: solid;
  border-width: 12px;
  bottom: -18px;
  content: "";
  height: 0;
  left: 13px;
  position: absolute;
  z-index: -99999;
}

.clients-area {
  padding: 60px;
}

.clients-comments {
    background-image: url("../images/image_bg.png");
    background-position: center 118px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.clients-comments img {
  background:#DDDDDD;
  border: 1px solid #DDDDDD;
  height: 182px;
  padding: 3px;
  width: 182px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.clients-comments h3 {
  margin-top: 55px;
  font-weight: 300;
  padding: 0 40px;
}

.clients-comments h4 {
  font-weight: 300;
  margin-top: 15px;
}


.clients-comments  h4  span {
  font-weight: 700;
  font-style: oblique;
}

.footer {
  background: none repeat scroll 0 0 #2E2E2E;
  border-top: 5px solid #C52D2F;
  height: 84px;
  margin-top: 110px;
}

.footer_left {
  padding: 10px;
}

.text-left {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 15px;
}

/*************************
********* Portfolio CSS ******
**************************/

#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
  position: relative;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  border: 0px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
  position: relative;
  color: #000;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active,
.portfolio-filter > li a:hover.active {
  color:#fff;
  background: #000000;
  border: 0px solid #000000;
  box-shadow: none;
  -webkit-box-shadow: none;
  line-height: 35px;
}
.portfolio-filter > li a:hover {
    background-color: #ccc;
    color: #000;
}
.portfolio-filter > li .arrow {
    position: absolute;
    top: 28px;
    right: 0;
    left: 0;
    display: none;
    background-color: #ccc;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);

    transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -webkit-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
}
.portfolio-filter > li a.active .arrow,
.portfolio-filter > li a:hover.active .arrow{
    background-color: #000;
}
.portfolio-filter > li a:hover.active .arrow,
.portfolio-filter > li a:hover .arrow,
.portfolio-filter > li a.active .arrow{
    display: block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}
.portfolio-filter > li .fa {display: none;position: absolute;right: 10px;top: 8px;font-size: 24px;}


@media (min-width: 768px) {
    .tab-recent .tab-recent-content {    display: none;}
    .portfolio-filter > li .dropdown-menu,
    .portfolio-filter > li:hover .dropdown-menu {display: none!important;}

}
@media (max-width: 767px) {
    .portfolio-filter {margin-bottom: 20px;}
    .portfolio-filter > li {display: block;}
    .portfolio-filter > li a {margin: 0;text-align: left;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 100%;padding-right: 32px;border-radius: 0;}

    .portfolio-filter > li a,
    .portfolio-filter > li a.active .arrow,
    .portfolio-filter > li a:hover.active .arrow{display: none;}

    .portfolio-filter > li:hover .dropdown-menu {display: block;width: 100%;border-radius: 0;}
    .portfolio-filter > li li a,
    .portfolio-filter > li li a:hover,
    .portfolio-filter > li li a.active .arrow,
    .portfolio-filter > li li a:hover.active .arrow{display: block;background-color: transparent;line-height: 24px;margin: 0;padding: 10px;font-size: 14px;}
    .portfolio-filter > li li {border-bottom: 1px #ccc solid;}
    .portfolio-filter > li li:last-child {border-bottom: 0px #ccc solid;}

    .portfolio-filter > li a.active {display: block;}
    .portfolio-filter > li .fa {display: block;}

    .tab-recent .tab-recent-content,
    .tab-recent .tab-recent-content .dropdown-menu {display: block;width: 100%;}
    .tab-recent .tab-recent-content .dropdown-menu a {text-transform: uppercase;padding: 10px 10px;border-bottom: 1px #ccc solid;display: block;}
    .tab-recent .tab-recent-content .dropdown-menu li:last-child a {border-bottom: 0px #ccc solid;}
}
.tab-recent .dropdown-menu li {
    width: 100%;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}


/**************************
********* Pricing Table CSS *
**************************/

.pricing_heading {
  margin-top: 120px
}

.pricing_heading h2, 
.pricing_heading p {
  color:#4e4e4e;
}

.pricing-area h1 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}

.pricing-area span {
  font-weight: 700;
  font-size: 18px;
}

.pricing-area h3, 
.pricing-area span  {
  color: #fff;
}

.plan {
  position: relative;
  margin-bottom: 70px;
}

.pricing-area ul {
  background:#FAFAFA;
  padding: 0;
  margin: 0;
}

.pricing-area ul li {
  list-style: none;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 400;
}

.pricing-area ul li:nth-child(even){
  background:#f5f5f5
}

.pricing-area .price-three img, 
.pricing-area .price-six img {
  position: absolute;
  right: 15px;
  top: 0;
}

.pricing-area .heading-one, 
.pricing-area .heading-two, 
.pricing-area .heading-three {
  padding:17px 0;
  border-radius:2px 2px 0 0;
} 

.pricing-area .heading-one, 
.pricing-area .heading-two, 
.pricing-area .heading-three, 
.pricing-area .heading-four, 
.pricing-area .heading-five, 
.pricing-area .heading-six, 
.pricing-area .heading-seven {
  margin-left: -10px
}


.pricing-area .heading-one, 
.pricing-area .price-one .plan-action .btn-primary {
  background: #e24f43
}

.pricing-area .heading-two, 
.pricing-area .price-two .plan-action .btn-primary {
  background:#27AE60;
}

.pricing-area .heading-three,
.pricing-area .price-three .plan-action .btn-primary {
  background: #f39c12;
}

.pricing-area .heading-four, 
.pricing-area .price-four .plan-action .btn-primary {
  background: #5c5c5c
}

.pricing-area .heading-five, 
.pricing-area .price-five .plan-action .btn-primary {
  background: #5c5c5c
}

.pricing-area .heading-six, 
.pricing-area .price-six .plan-action .btn-primary {
  background: #e24f43
;
}

.pricing-area .heading-seven, 
.pricing-area .price-seven .plan-action .btn-primary {
  background: #5c5c5c
}

.pricing-area .bg{
 background: #fafafa 
}

.pricing-area .heading-one h3:before {
  border-color: #bf4539 transparent transparent;
}

.pricing-area .heading-two h3:before {
  border-color: #1f8c4d transparent transparent;
}

.pricing-area .heading-three h3:before {
  border-color: #d4880f transparent transparent;
}

.pricing-area .heading-four h3:before {
  border-color: #424242 transparent transparent;
}

.pricing-area .heading-five h3:before {
  border-color: #424242 transparent transparent;
}

.pricing-area .heading-six h3:before {
  border-color: #bf4539 transparent transparent;
}

.pricing-area .heading-seven h3:before {
  border-color: #424242 transparent transparent;
}

.pricing-area h3:before {
  border-color: #D4880F transparent transparent;
  border-radius: 5px 0 0 0px;
  border-style: solid;
  border-width: 12px;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  top: 78px;
  width: 0;
  z-index: -999;
}

.small-pricing h3:after {
  height:94px;
}

.small-pricing h3:before {
  top: 74px;
}

.plan-action {
  height: 40px;
}

.pricing-area .plan-action .btn-primary {
  position: relative;
  padding:5px 20px;
  color: #fff
;
  margin-top: 5px;
}

.pricing-area .plan-action .btn-primary:before {
  border-color: #E24F43 transparent transparent;
  border-radius: 5px 0 0 0;
  border-style: solid;
  border-width: 12px;
  bottom: -12px;
  content: "";
  height: 0;
  left: -9px;
  position: absolute;
  width: 0;
  z-index: -1;
}

.pricing-area .plan-action .btn-primary:after {
  border-color: #E24F43 transparent transparent;
  border-radius: 5px 0 0 0;
  border-style: solid;
  border-width: 12px;
  bottom: -12px;
  content: "";
  height: 0;
  position: absolute;
  right: -9px;
  width: 0;
  z-index: -1;
}

.pricing-area .price-two .plan-action .btn-primary:before, 
.pricing-area .price-two .plan-action .btn-primary:after {
  border-color: #1f8c4d transparent transparent;
}

.pricing-area .price-three .plan-action .btn-primary:before, 
.pricing-area .price-three .plan-action .btn-primary:after {
  border-color: #d4880f transparent transparent;
}

.pricing-area .price-four .plan-action .btn-primary:before, 
.pricing-area .price-four .plan-action .btn-primary:after, 
.pricing-area .price-five .plan-action .btn-primary:before, 
.pricing-area .price-five .plan-action .btn-primary:after, 
.pricing-area .price-seven .plan-action .btn-primary:before, 
.pricing-area .price-seven .plan-action .btn-primary:after  {
  border-color: #424242 transparent transparent;
  right: -9px;
}

.pricing-area .price-six .plan-action .btn-primary:before, 
.pricing-area .price-six .plan-action .btn-primary:after {
  border-color: #bf4539 transparent transparent;
  right: -9px;
}


/*************************
********* Contact Us CSS ******
**************************/

.gmap-area {
  background-image: url("../images/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.gmap-area .gmap iframe {
  border-radius: 50%;
  height: 280px;
  width: 300px;
}

.gmap{
    border: 10px solid #f6f5f0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.gmap-area .map-content ul {
  list-style: none; 
}

.gmap-area .map-content address h5{
  font-weight: 700;
  /* font-size: 16px; */
}

#contact-page{
  padding-top: 0;
}

#contact-page .contact-form 
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 2px 12px;
  border-color:#c2c2c2;
  box-shadow: none;
}

textarea#message{
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}

/*********************
****blog page css*****
**********************/

.widget {
    margin-bottom: 20px;
    padding-left: 0;
}

.single_comments {
    margin-bottom: 2px;
    height: 100px;
    position: relative;
    background-color: #222222;
}
.single_comments .picLeft {width: 160px;height: 100px;  -webkit-background-size: cover!important;    background-size: cover!important;position: absolute;left: 0;top: 0;}
.single_comments .txtRight {padding:20px 10px 20px 180px;}
.single_comments .txtRight p {display: block;color: #fff;  height: 70px;    overflow: hidden;}
.single_comments img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.single_comments p {
    margin-bottom: 0;
}

.single_related {
    margin-bottom: 2px;
    position: relative;
    width: 16.666666667%;
    float: left;
}
.list-related {padding: 0 5px;}
.single_related .related-inner {padding: 0 5px;}
.single_related .related-inner a {display: block;width: 100%;overflow: hidden;position: relative;
    background-color: #222222;}
.single_related .picLeft {width: 100%;height: 100px;  -webkit-background-size: cover!important;    background-size: cover!important;position: absolute;left: 0;top: 0;right: 0;}
.single_related .txtRight {padding:110px 10px 10px 10px;}
.single_related .txtRight p {display: block;color: #fff; height: 70px;    overflow: hidden; }
.single_related img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.single_related p {
    margin-bottom: 0;
}

.col_related {
    margin-bottom: 50px;
    position: relative;
    width: 50%;
    float: left;
}
.list-related {padding: 0 5px;}
.col_related .related-inner {padding: 0 5px;}
.col_related .related-inner a {display: block;width: 100%;overflow: hidden;position: relative;
    background-color: #222222;}
.col_related .picLeft {width: 100%;height: 120px;  -webkit-background-size: cover!important;    background-size: cover!important;}
.col_related .txtRight {padding:10px 10px 10px 10px;position: absolute;bottom: 0;left: 0;right: 0;background-color: rgba(0,0,0,0.8);}
.col_related .txtRight p {display: block;color: #fff; height: 70px;    overflow: hidden; }
.col_related img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.col_related p {
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .single_related {width: 50%;}
}
.related-sub {clear: both;min-height: 200px;}
.related-sub ul {margin: 0 5px;padding: 0;list-style: none;}
.related-sub ul li {border-bottom: 1px #e1e1e1 solid;display: block;padding: 10px 0;}
.related-sub ul a {display: block;position: relative;color: #222;padding: 0px 0 0px 10px;max-height: 44px;overflow: hidden;}
.related-sub ul a i {position: absolute;left: 0;top: 7px;font-size: 8px;color: #ed1d23;}
.view-news {text-align: center;clear: both;padding: 50px 0;}
.view-news a {background-color: #222;color: #fff;padding: 0 40px;line-height: 48px;display: inline-block;font-size: 20px;}
.picThumb {width: 100%;display: block;  -webkit-background-size: cover!important;    background-size: cover!important;margin: 0!important;}
.widget .entry-meta span {
    display: inline-block;
    margin-right: 10px;
}

.widget .title-widget h3 {
    color: #fff;

    background-color: #ed1d23;
    padding:6px 10px;
    line-height: 32px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2px;
}
.widget .title-widget h3 i {
    font-weight: bold;font-size: 32px;padding: 0 10px;float: left;line-height: 32px;
}
.view-hot.widget .title-widget {border-bottom: 1px #dddddd solid;}
.view-hot.widget .title-widget h3 {background-color: transparent;color: #222;padding: 0;margin-bottom: 10px;}
.view-hot.widget .title-widget h3 i {    background-color: #ed1d23;color: #fff;margin-right: 20px;}

.related-news {background-color: #383838;clear: both;padding: 20px;}
.related-news.widget .title-widget h3 {background-color: transparent;color: #fff;padding: 0;margin-bottom: 20px;}
.related-news.widget .title-widget h3 i {    background-color: #ed1d23;color: #fff;margin-right: 20px;}


.view-all {padding: 10px;text-align: center;font-weight: bold;}
.view-all a {color: #000;}

.view-hot {clear: both;border: 2px #eeeeee solid;padding: 10px 10px 0 10px;}
.view-hot ul {margin: 0;padding: 0;list-style: none;}
.view-hot ul li {position: relative;margin-bottom: 1px;border-bottom: 1px #dddddd solid;}
.view-hot ul li a {padding: 10px 10px 10px 20px;display: block;color: #757575;}
.view-hot ul li a .fa {position: absolute;left: 0;top: 16px;color: #ed1d23;font-size: 8px;}

.view-video.widget .title-widget {border-bottom: 1px #dddddd solid;}
.view-video.widget .title-widget h3 {background-color: transparent;color: #222;padding: 0;margin-bottom: 10px;}
.view-video.widget .title-widget h3 i {    background-color: #ed1d23;color: #fff;margin-right: 20px;}

.view-video {clear: both;border: 2px #eee solid;padding: 10px 10px 0 10px;}
.view-video .title-video a {font-weight: bold;color: #222;}
.view-video .view-all {overflow: hidden;}
.view-video .view-all a {float: right;}
.view-video .view-all i {color: #ed1d23;}
.view-video ul {margin: 0;padding: 0;list-style: none;}
.view-video ul li {position: relative;margin-bottom: 1px;border-bottom: 1px #dddddd solid;}
.view-video ul li a {padding: 10px 10px 10px 20px;display: block;color: #757575;}
.view-video ul li a .fa {position: absolute;left: 0;top: 16px;color: #ed1d23;font-size: 8px;}


.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%;
}


.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#c52d2f;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #c52d2f;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #c52d2f;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h3 {
  color: #858586;
  margin-bottom: 40px;
  /* font-weight: 300 */}

.blog .blog-item .blog-content h4 {
  font-size: 14px;
}

.post-tags {

}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  background: #c52d2f;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
  background-color: #c52d2f !important;
  border-color: #c52d2f !important;
  color: #fff;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}


ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#c52d2f;
  color: #fff;  
}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}


/**********************
**blog single page css*
**********************/

.reply_section {
  background: #f5f5f5;
  border-radius: 5px;
}

.post_reply {
  margin-left: 10px;
  margin-top: 45px;
}

.post_reply img {
  width: 85px;
  height: 85px;
  border: 5px solid #D5D8DD;
}

.post_reply ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.post_reply ul li{
  float:left;
}

.post_reply ul li a {
  display: block;
}

.post_reply ul li a i {
  border: 1px solid #DDDDDD;
  border-radius: 39px;
  color: #FFFFFF;
  font-size: 20px;
  height: 30px;
  margin-right: 3px;
  padding-top: 7px;
  text-align: center;
  width: 30px;
}

.post_reply ul li a i.fa-facebook {
  background: #0182C4;
}

.post_reply ul li a i.fa-twitter {
  background: none repeat scroll 0 0 #3FC1FE;
}

.post_reply ul li a i.fa-google-plus{
 background: none repeat scroll 0 0 #D34836;
}

.post_reply ul li a i:hover{
  opacity:.5;
}

.post_reply_content {
  margin: 30px;
}

.post_reply_content h1 a:hover{
  color:#FFC800;
}

.post_reply_content h4 {
  margin-bottom: 50px;
}

.reply_section .media-body{
  display:inherit;
}

.comment_section .media-body{
  display:inherit;
}

#comments_title{
   color:#4e4e4e;
   font-weight:700px;
   font-size:20px;
   margin-top:60px;
   margin-bottom:40px;
}
.comment_section {
  margin-top: 30px;
  position: relative;
}

.post_comments img {
  width: 85px;
  height: 85px;
  margin-top: 35px;
}

.post_reply_comments {
  background:#f5f5f5;
  border-radius: 4px;
  padding: 30px;
}

.post_reply_comments:before {
  border-color: transparent #F0F0F0 transparent transparent;
  border-style: solid;
  border-width: 15px;
  content: " ";
  height: 0;
  left: 75px;
  position: absolute;
  top: 20px;
}

.post_reply_comments h3, 
.post_reply_content h3{
  margin-top: 0;
}

.post_reply_comments h1 a:hover{
  color:#c52d2f;
}

.post_reply_comments h4{
  color:#c4c4c5;
  font-weight:400;
}

.post_reply_comments p {
  padding-bottom: 30px;
}

.post_reply_comments a {
  bottom: 15px;
  position: absolute;
  right: 30px;
  background: #c52d2f;
  color: #fff;
  border-radius: 5px;
  padding: 8px 20px;
}

.post_reply_comments a:before {
  border-color: #c52d2f transparent transparent;
  border-style: solid;
  border-width: 16px;
  bottom: -11px;
  content: "";
  height: 0;
  left: -12px;
  position: absolute;
  z-index: 99999;
}

.post_reply_comments h2 a{
 
}

.message_heading {
  margin-bottom: 50px;
  margin-top: 60px;
}


/******************
 404 page css
 ******************/

#error .btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  color: #4E4E4E;
}

#error h1{
  color: #4e4e4e;
  text-transform: uppercase;
}


/******************
shortcodes page css
******************/

.shortcode-item {
  padding-bottom: 0;
}

.shortcode-item h2 {
  color: #4E4E4E;
  font-size: 24px;
  margin-bottom: 22px;
  margin-top: 0;
  font-weight: bold;
}



/***********************
********* Footer ******
************************/

#bottom {
  background: #262626;
  border-bottom: 1px solid #363636;
  font-size: 12px;
  padding: 40px 0;
  clear: both;
  display: block;
}
@media (max-width: 767px) {
    #bottom {display: none;}
}
#bottom h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size:14px;
  color: #fff;
  text-transform: uppercase;
}

#bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bottom ul li {
  display: block;
  padding: 5px 0;
}

#bottom ul li a {
  color: #808080;
}

#bottom ul li a:hover {
  color: #c52d2f;
}

#bottom .widget {
  margin-bottom: 0;
}
#bottom .navbar-form {
    display: block;overflow: hidden;
    margin-bottom: 56px;
}
#bottom .widget-support {
    float: right;
    min-width: 210px;
}
.widget-contact {
    background-color: #fff;
    clear: both;
    padding: 10px;
}
.widget-contact h6 {
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    margin:3px 0 0 0;
}
.widget-contact p {
    font-size: 12px;
    color: #676767;
    margin: 0;
    line-height: 16px;
}
.widget-contact i {
    background-position: -59px -34px;
    width: 34px;
    height: 34px;
    margin-right: 10px;
}
.title-support {text-transform: uppercase;color: #fff;font-size: 14px;font-weight: bold;line-height: 24px;margin-bottom: 15px;}
.title-support i{
    background-position: -109px -38px;
    width: 32px;
    height: 24px;
    margin-right: 10px;
}
#footer {
  padding-top: 18px;
  padding-bottom: 18px;
  color: #898989;
  font-size: 11px;
  background: #1b1b1b;
}

#footer a {
  color: #898989;
}
#footer b {
    color: #ec2127;
}
#footer a:hover {
  color: #ec2127;
    text-decoration: underline;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 6px;
}
#footer .pull-right {
    margin-top: 10px;
}
#bottom .col-md-2{
    width: 20%;
}
@media (max-width: 768px) and (min-width: 767px) {
    #bottom .col-md-2{
        width: 50%;
    }
}
#bottom .form-group {
    vertical-align: top;
}
#bottom .form-group .form-control{
    height: 24px;
    border-radius: 0;
    border-width: 0;
    font-size: 12px;
}
#bottom .btn{
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    padding: 0 15px;
    border-width: 0;
    font-weight: bold;
}
#bottom .btn-default {
    border-radius: 0;
    border-color: transparent;
    background-color: #757575;
    color: #fff;
    margin-left: 3px;
}
@media (max-width: 767px) {
    #footer {text-align: center;}
}
@media (max-width: 480px) {
    #footer ul {clear: both;display: block}
}

/*General Mosaic Styles*/
.mosaic-block {
    float:left;
    position:relative;
    overflow:hidden;
    width:100%;
    height:250px;
    margin:10px;
    background:#111 url(../img/progress.gif) no-repeat center center;
    border:1px solid #fff;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
}

.mosaic-backdrop {
    display:none;
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background:#111;
}

.mosaic-overlay {
    display:none;
    z-index:5;
    position:absolute;
    width:100%;
    height:100%;
    background:#111;
}

/*** Custom Animation Styles (You can remove/add any styles below) ***/
.circle .mosaic-overlay {
    background:url(../img/hover-magnify.png) no-repeat center center;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter:alpha(opacity=00);
    display:none;
}

.fade .mosaic-overlay {
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter:alpha(opacity=00);
    background:url(../img/bg-black.png);
}

.bar .mosaic-overlay {
    bottom:-100px;
    height:100px;
    background:url(../img/bg-black.png);
}

.bar2 .mosaic-overlay {
    bottom:-50px;
    height:100px;
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
}

.bar2 .mosaic-overlay:hover {
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
}

.bar3 .mosaic-overlay {
    top:-100px;
    height:100px;
    background:url(../img/bg-black.png);
}
/*** End Animation Styles ***/

.btn-vertical-slider{ margin:0 10px; cursor:pointer;}
a {  cursor:pointer;}
.carousel.vertical .carousel-inner .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 100%;
}

.carousel.vertical .prev {
    top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}

.carousel.vertical .active.left {
    top: -100%;
}

.carousel.vertical .active.right {
    top: 100%;
}

.carousel.vertical .item {
    left: 0;
}​

/*------------------------------------------------*/
/* Switch SECTION START*/
/*------------------------------------------------*/
body.IE7 .Switch { width: 78px; }
.Switch {
    position: absolute;
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    color: #ccc;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
    width: 82px;
    height: 35px;
    right: 0;
    top: 0;
    background: url("../images/switch.png") no-repeat center top;
    -webkit-background-size: 82px 70px; /* Safari 3-4 */
    background-size: 82px 70px;
}
.Switch.On {background-position: 0 -35px;}
.Switch.Off {background-position: 0 0px;}
@media (max-width: 768px) {
    .Switch {display: none;}
}
.Switch span {
    display: inline-block;
    width: 40px;
    float: left;
    height: 35px;
    line-height: 35px;
    text-indent: -99999px;
    display: none;
}
.Switch span.On { color: #33d2da; }
.Switch .Toggle {
    position: absolute;
    top: 0px;
    width: 40px;
    height: 33px;
    border-radius: 2px;
    background: #4a4a4a;
    z-index: -1;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
}
.Switch.On .Toggle { left: 50%;border-radius: 2px 0 0 2px; }
.Switch.Off .Toggle { left: 0%;border-radius:0 2px 2px 0;}
/* Round Switch */
.Switch.Round {
    padding: 0px 20px;
    border-radius: 40px;
}
body.IE7 .Switch.Round { width: 1px; }
.Switch.Round .Toggle {
    border-radius: 40px;
    width: 14px;
    height: 14px;
}
.Switch.Round.Off .Toggle {
    left: 3%;
    background: #33d2da;
}
.Switch.Round.On .Toggle { left: 58%; }
.info {
    font-size: 1.2em;
    margin-bottom: 4px;
}

.syntaxhighlighter table, .syntaxhighlighter .container { font-size: 15px!important; }
.demo { padding-left: 30px; }

.syntaxhighlighter {
    background-color: #1b2426 !important;
}
.syntaxhighlighter .line.alt1 {
    background-color: #1b2426 !important;
}
.syntaxhighlighter .line.alt2 {
    background-color: #1b2426 !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #323e41 !important;
}
.syntaxhighlighter .line.highlighted.number {
    color: #b9bdb6 !important;
}
.syntaxhighlighter table caption {
    color: #b9bdb6 !important;
}
.syntaxhighlighter .gutter {
    color: #afafaf !important;
}
.syntaxhighlighter .gutter .line {
    border-right: 3px solid #435a5f !important;
}
.syntaxhighlighter .gutter .line.highlighted {
    background-color: #435a5f !important;
    color: #1b2426 !important;
}
.syntaxhighlighter.printing .line .content {
    border: none !important;
}
.syntaxhighlighter.collapsed {
    overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
    color: #5ba1cf !important;
    background: black !important;
    border: 1px solid #435a5f !important;
}
.syntaxhighlighter.collapsed .toolbar a {
    color: #5ba1cf !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
    color: #5ce638 !important;
}
.syntaxhighlighter .toolbar {
    color: white !important;
    background: #435a5f !important;
    border: none !important;
}
.syntaxhighlighter .toolbar a {
    color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
    color: #e0e8ff !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #b9bdb6 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #878a85 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #5ce638 !important;
}
.syntaxhighlighter .keyword {
    color: #5ba1cf !important;
}
.syntaxhighlighter .preprocessor {
    color: #435a5f !important;
}
.syntaxhighlighter .variable {
    color: #ffaa3e !important;
}
.syntaxhighlighter .value {
    color: #009900 !important;
}
.syntaxhighlighter .functions {
    color: #ffaa3e !important;
}
.syntaxhighlighter .constants {
    color: #e0e8ff !important;
}
.syntaxhighlighter .script {
    font-weight: bold !important;
    color: #5ba1cf !important;
    background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #e0e8ff !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: white !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: #ffaa3e !important;
}

/* jssor slider bullet navigator skin 21 css */
/*
    .jssorb21 div           (normal)
    .jssorb21 div:hover     (normal mouseover)
    .jssorb21 .av           (active)
    .jssorb21 .av:hover     (active mouseover)
    .jssorb21 .dn           (mousedown)
    */
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
   background-color: #ec2127;
    overflow: hidden;
    cursor: pointer;
}

.jssorb21 div {
    background-position: -5px -5px;
}

.jssorb21 div:hover, .jssorb21 .av:hover {
    background-position: -35px -5px;
}

.jssorb21 .av {
    background-position: -65px -5px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
    background-position: -95px -5px;
}
/* jssor slider arrow navigator skin 21 css */
/*
    .jssora21l              (normal)
    .jssora21r              (normal)
    .jssora21l:hover        (normal mouseover)
    .jssora21r:hover        (normal mouseover)
    .jssora21ldn            (mousedown)
    .jssora21rdn            (mousedown)
    */
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
    position: absolute;
    cursor: pointer;
    display: block!important;
    overflow: hidden;

}

.jssora21l {
    top: auto!important;
    right: auto!important;
}

.jssora21r {
    top: auto!important;
    right: auto!important;
}



.jssora21ldn {
    background-position: -243px -33px;
}

.jssora21rdn {
    background-position: -303px -33px;
}
<!--------------------------------Add 10.04.2014----------------------------->
/*-- to-top --*/
#toTop {display: none;text-decoration: none;position: fixed;bottom: 20px;right: 2%;overflow: hidden;z-index: 999; 
width: 32px;height: 32px;border: none;text-indent: 100%;background: url("../images/arr.png") no-repeat 0px 0px;}

#toTopHover {width: 32px;height: 32px;display: block;overflow: hidden;float: right;opacity: 0;-moz-opacity: 0;
filter: alpha(opacity=0);}

/*-- //to-top --*/
/*-- portfolio --*/
.portfolio{text-align:center; margin-bottom:35px;}
.portfolio-wrapper {overflow:hidden;position: relative !important;cursor:pointer;}
.portfolio img {max-width:100%;
transition: all 300ms!important;
-webkit-transition: all 300ms!important;
-moz-transition: all 300ms!important;}
.portfolio .label {position: absolute;width: 100%;height:40px;bottom:-40px;}
.portfolio .label-bg {background: #22B4B8;width: 100%;height:100%;position: absolute;top:0;left:0;}
.portfolio .label-text {color:#fff;position: relative;z-index:500;padding:5px 8px;}
.portfolio .text-category {display:block;font-size:9px;font-size: 12px;text-transform:uppercase;}

div#portfolio{ width:100%;}
.portfolio-info p{margin: 20px 0 0 0;color: #999;font-size: 26px;}
.portfolio-wrapper h3{color:#000;font-size:16px;margin: 70px 0 0 20px;text-align: left;}
.b-animate-go:hover div.portfolio-wrapper h3{color:#ffffff;}
.portfolio-wrapper p{color:#999;font-size:14px;text-align: left;margin: 0 0 0 20px;}
/*----- Strip -----*/
.b-link-stripe{position:relative;display:inline-block;vertical-align:top;font-weight: 300;overflow:hidden;}
.b-link-stripe .b-wrapper{position:absolute;width:100%;height:100%;top:0;left:0;text-align:center;overflow:hidden;}
.b-link-stripe .b-line{position:absolute;top:0;bottom:0;width:20%;background:rgba(15, 207, 140, 0.9);transition:all 0.5s linear;-moz-transition:all 0.5s linear;-ms-transition:all 0.5s linear;-o-transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;opacity:0;visibility:hidden; /* lt-ie9 */}
/*------------------------------------------*/
.b-animate-go{text-decoration:none;}
.b-animate{transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;-o-transition: all 0.5s;
-webkit-transition: all 0.5s;visibility: hidden;}
.b-animate img{margin-top:28.5%;display: -webkit-inline-box;}
/* lt-ie9 */
.b-animate-go:hover .b-animate{visibility:visible;}
.b-from-left{position:relative;left:-100%;}
.b-animate-go:hover .b-from-left{left:0;}
span.m_4{font-size:14px;font-weight:400;}
p.m_5 {margin: 2% auto 5%;width: 70%;color: #283A47;font-size: 1.1em;font-weight: 600;line-height: 1.5em;text-align: center;}
ul#filters {padding: 0px;margin: 79px auto 47px auto;width: 40%;}
.underline{ border-bottom:1px #ebebeb solid; overflow:hidden; display:block; clear:both; margin:15px 10px 15px 10px; padding-bottom:10px;}