/*---------------container------------------*/
@font-face {font-family: 'MyriadPro';
    src: url('fonts/MyriadPro-Cond.otf');
	src: url('fonts/MyriadPro-Regular.otf');}
	
@font-face {font-family: 'UTM HelvetIns';
    src: url('fonts/UTM HelvetIns.ttf');}
	
/*-------------------Col-------------------*/
.leftcol{ background-color:#7b7b7b; padding:5px;float:left;}
.rightcol{ float:right; background-color:#0FF;}
/*-------------------Left-------------------*/
.leftcol .nav-pills>li.active>a,
.leftcol .nav-pills>li.active>a:focus{color: #fff;background-color: #ed1b24;}
.leftcol .nav-pills>li>a {border-radius: 0px;}
.leftcol .nav>li>a {position: relative;display: block;padding:20px 10px 15px 10px;color: #fff;text-decoration: none; font-size:14px !important; font-family: MyriadPro-Regular !important;
-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; text-transform:uppercase;}
.leftcol .nav-pills>li>a:hover{ color:#000;}
.leftcol .nav>li>span.mainTitle{position: relative;display: block;padding:15px;color: #FC6;text-decoration: none; font-size:14px !important; font-family: MyriadPro-Regular !important;}
.leftcol .nav-pills>li>a img{ float:left; width:20px; margin:-2px 5px 0 0;}

/*--COMPANY-PROFILE--*/
.com-pro h1{ font-family:UTM HelvetIns; text-transform:uppercase; font-size:60px; line-height: none; color:#fff;}
.com-pro p{ text-transform:uppercase; color:#373737; font-family:MyriadPro-Regular !important; font-size:18px; line-height: normal; background-color:#CCC; padding:10px;}
.com-pro p span{ color:#717171}
.com-pro .container{ width:100%; padding:0px !important;}
.com-pro .container .collapse{ padding:0 0 10px 0;}
.com-pro button.btn-info{ background-color:#5e5e5e; border:none; border-radius:0px !important; text-shadow:none !important; margin-bottom:10px; font-size:11px; text-transform: uppercase; float:right; margin-top:38px; border:none !important; padding:5px 20px 5px 20px; font-family:Arial, Helvetica, sans-serif;}
.com-pro button.btn-info:hover{ background-color:#484848; border:none !important;}

/*--TC-RATING--*/
.tc-rating{ float:left; width:100%; height:auto; margin:0 0 10px 0;}
.tc-rating table{ border:none;background-color:#CCC; float:left;}
.tc-rating table tbody tr td.tdc,
.tc-rating table thead tr th.thc{ border-bottom:1px #fff solid;border-right:1px #fff solid;border-left:none !important;border-top:none !important;text-align:center; vertical-align:middle; padding:5px 2px 5px 3px;}
.tc-rating table thead tr th.thc h4, .tc-rating table thead tr th.thc p, .tc-rating table tbody tr td.tdc span{ line-height:normal; text-transform:uppercase; padding:0px !important; margin:0px !important;}
.tc-rating table tbody tr td.tdc span{ font-size:10px;}
.tc-rating table thead tr th.thc p{ font-size:20px;}

.box2{f}
.tabbox1{ height:50px; background-color:#e1e1e1; border-bottom:1px #fff solid; width:100%; overflow:hidden; clear:both; display:block;}
.tabbox1 p{ padding:0px; margin:15px 15px 15px 10px;}
.tabbox1 p span{ float:left; margin:0 10px 0 0;}
.tabbox1 p select{ float:left; margin: 0 30px 0 0}

.box{ min-height:526px;}
.tabbox{ height:50px; background-color:#d5d5d5; border-bottom:1px #fff solid; width:100%; overflow:hidden; clear:both; display:block;}
.tabbox span{ font-size:20px; text-transform: uppercase; font-family:MyriadPro-Regular !important; line-height:50px;float:left; margin:2px 0 0 10px}
.tabbox .move-close{ float:right; height:50px; width:auto; padding:0 10px 0 0;}
.tabbox .move-close a.moveup img, .tabbox .move-close a.closeup img{ width:30px; opacity: 0.2;
filter: alpha(opacity=20);}
.tabbox .move-close a.moveup, .tabbox .move-close a.closeup{ float:right; width:30px; height:30px; margin:10px 0 0 10px}
.tabbox .move-close a:hover.moveup img, .tabbox .move-close a:hover.closeup img{opacity:1;
filter: alpha(opacity=100);}

.l-ctbox{ float:left; width:100%; background-color:#fff; height:260px;}
.r-ctbox{ float:left; width:100%; background-color:#fff; height:260px;}

.chart{ float:left; width:100%; height:260px;}
.chart .nav-chart{padding:12px 10px 10px 10px; text-align:right; background-color:#ebebeb; float:left; width:100%;}
.chart .nav-chart .nav-chart-l{ float:left; width:50%; text-align:left}
.chart .nav-chart .nav-chart-l span{ font-size:16px; text-transform:uppercase; }
.chart .nav-chart .nav-chart-r{ float:left;width:50%;}

/* transactions */
.transactions_left {background: #f5f5f5;float:left;min-height: 996px;}
.transactions_left  .transactions_detail {width: 200px;float: left;}
.transactions_left  .transactions_chart {width: 280px;float: right;}
.transactions_left  .transactions_chart h3 {padding: 15px;}
.transactions_right {width: 351px;float: right;}

.point h1{ font-weight:bold;}
.rate_down{ color:#F00; background-color:#e5e5e5; padding:5px 10px 5px 10px;}
.rate_down img{ width:15px; margin:0 5px 0 0;}
.realtime_point {padding: 22px; float:left; width:40%;height:260px;}
 p.time,#transactions  {font-size: 12px;}
#transactions p.status {font-size: 14px;}
.point h1 {font-size: 60px;color: #555;}

table.transaction_total {font-weight: 700;font-size: 12px;margin: 0 auto; float:right; width:60%; border-left:1px #999 dotted; height:260px}
table.transaction_total tr td {text-align: center;width: 85px;padding: 8px 0px 0 10px;border-top: 1px dotted #878787; border-left: 1px dotted #9a9696 }
table.transaction_total tr td.first-child {width: 60px;border-left: 0;padding-left: 0}
table.transaction_total tr.first-child td {border-top: 0}
table.transaction_total h5 {font-size: 20px;color: #606060;margin-top:  10px;font-weight:normal;}
table.transaction_total h5.max{color: #268a40;}
table.transaction_total h5.min {color: #e70000;}
ul.time_select {padding: 10px 5px;background: #e2e2e2;}
ul.time_select li {display: block;float: left;border-left:  2px solid #555;}
ul.time_select li a {color: #333333;padding: 0 10px;font-size: 12px;font-weight: bold;}
ul.time_select li a:hover, ul.time_select li a.current{color: #199632;}
ul.time_select li.first-child, ul.time_select li:nth-child(5) {border-left: 0}

/*--ALERT--*/
.alertright{ float:left; height:260px; width:100%;}
.alertright table{ border-top:none; border-right:none; border-left:none; width:100%; height:260px;}
.alertright table thead tr th.thc,
.alertright table tbody tr td.tdc{ text-align:center; border-bottom:1px #fff solid;border-right:1px #fff solid;
border-left:none !important;border-top:none !important; background-color:#f6f6f6; height:65px; font-size:12px}
.alertright table thead tr th.thc p{ margin:0px; padding:0px;}
.alertright table thead tr th.thc h4{ text-align:center; vertical-align:middle; text-transform:uppercase; color:#09C;}
.alertright table thead tr th.thc h4 img{ width:20px; margin:0 10px 0 0;opacity:0.5;filter: alpha(opacity=50);}
.alertright table thead tr th.thc h4 b{ color:#000;}
.alertright table tbody tr td.tdc a.elip-green{ display:block; width:14px; height:14px; background-color:#090; border-radius:100px; float:left; margin:10px 0 10px 40px;}
.alertright table tbody tr td.tdc a.elip-red{ display:block; width:14px; height:14px; background-color:#F00; border-radius:100px; float:left; margin:10px 0 10px 40px;}
.alertright table tbody tr td.tdc a i{ color:#000;}
.alertright table thead tr th.color{ background-color:#ececec;}
.alertright table thead tr th.color2{ background-color:#e1e1e1;}

.un-alertright{ float:left; height:260px; width:100%;}
.un-alertright table{ width:100%; height:260px; float:left}
.un-alertright table tbody tr td.tdc{ background-color:#ececec; padding:8px 0 8px 0; border-bottom:1px #fff solid;
border-top:none !important;border-right:1px #fff solid;;border-left:none !important; text-align:center; font-size:12px}
.un-alertright table tbody tr td p{ text-align:center; margin:0; padding:7px 0 7px 0; background-color:#e1e1e1;
text-transform:uppercase; font-size:16px;}

.none{ border-right:none !important;}
.none2{ border-bottom:none !important;}

/*---NEWS---*/
.news table{ width:100%; background-color:#f8f8f8;}
.news table thead tr th.thl{ width:15%; padding:15px; text-align:center; vertical-align:middle; border-bottom:1px #fff solid;border-right:1px #fff solid;border-left:none !important;border-top:none !important; background-color:#e1e1e1; font-size:12px}
.news table tbody tr td.tdl{ width:15%;  padding:4px 15px 4px 15px; text-align:left; vertical-align:middle; border-bottom:1px #fff solid;border-right:1px #fff solid;border-left:none !important;border-top:none !important; font-size:12px }
.news table thead tr th.thr select{ float:right;}
.news table thead tr th.thr{ width:85%;  padding:15px; text-align:center; vertical-align:middle;border-bottom:1px #fff solid;border-right:1px #fff solid;border-left:none !important;border-top:none !important;background-color:#e1e1e1; font-size:12px}
.news table tbody tr td.tdr{ width:85%;  padding:4px 15px 4px 15px; text-align:left; vertical-align:middle;border-bottom:1px #fff solid;border-right:1px #fff solid;border-left:none !important;border-top:none !important; font-size:12px}
.news table tbody tr td.tdl{ text-align:center}
.news table tbody tr td.tdl b{ font-weight:normal; font-size:21px; color:#606060; line-height: normal}
.news table tbody tr td.tdl span{ color:#afafaf; font-size:11px;}
.news table tbody tr td.tdr a{ color:#666; font-size:12px;}
.news table thead tr th.thl p, .news table thead tr th.thr span{margin:0; padding:0; text-transform:uppercase;}

.color{ background-color:#dfdfdf !important}
.color2{background-color:#eaeaea !important}
.color3{ background-color:#f0f0f0 !important;}
.color4{ background-color:#e1e1e1 !important;}
.color5{ background-color:#f6f6f6 !important;}

/*---PEER---*/
.peer table{ width:100%; background-color:#f8f8f8;}
.peer table thead tr th{ background-color:#e1e1e1;}
.peer table thead tr th, .peer table tbody tr td{ vertical-align:middle; text-align:center; padding:16px 15px 15px 15px; border-bottom:1px #fff solid;border-right:1px #fff solid;border-left:none !important;border-top:none !important; font-size:12px}
.peer table tbody tr td span.up{ color:#090}
.peer table tbody tr td span.down{ color:#F00}
.peer table tbody tr td span.balance{ color:#ffa200}
.peer table tbody tr td img{ width:12px; margin:0 5px 0 0;}
.peer table thead tr th p{ margin:0; padding:0; text-transform:uppercase;}

/*---FINANCIAL STATEMENT---*/
.financial{ display:block; margin:0 auto; overflow: hidden; clear:both; width:100%;}
.financial table{ width:100%; background-color:#f6f6f6;}
.financial table thead tr th{ border-bottom:1px #fff solid; vertical-align:middle;font-weight:normal; border-right:1px #fff solid; padding:8px 10px;
 font-weight:bold; color:#000; font-size:12px;}
.financial table thead tr th span{ color:#c00; font-weight:normal; font-size:12px;}
.financial table tbody tr td{ border-bottom:1px #fff solid; vertical-align:middle;font-weight:normal; border-right:1px #fff solid; padding:13px 10px;
font-size:12px;}
.financial table thead tr th .divthl{ float:left; text-align:left;vertical-align:middle; padding:7px 0 0 0;}
.financial table thead tr th .divthl a{ float:left; font-weight:normal;}
.financial table thead tr th .divthl span{ float:left; margin:0 10px 0 10px;}
.financial table thead tr th .divthl p{ line-height:40px; margin:0; padding:0; font-weight:bold;}
.financial table thead tr th .divthr{ float:right; text-align:right;}
.financial table thead tr th .divthr span{ font-weight:normal;}
.financial table thead tr th .divthr a{ font-weight:normal;}
.financial table thead tr th .divthl b{ font-weight:normal;}
.financial table tbody tr td p i{ font-size:12px; color:#999; margin:0; padding:0;}
.financial table tbody tr td p{ margin:0px}
.financial table thead tr th .divthl img{ float:left; width:20px; margin:0 10px 0 0;}
.financial table thead tr th .divthr p{ font-weight:normal; margin:0; padding:7px 0 0 0;}
.financial table thead tr th .divthl button.select{ background-color:#CCC;}
.financial table tbody tr td img.bullet-2{ width:8px; float:left; margin:5px 10px 0 0;}
.financial table tbody tr td i u{ color:#000;}

.chartcoll{ text-align:center; width:100%; padding:30px 0 30px 0;}

.chart3{ text-align:center !important;}
.nonepadd{ padding:0px !important;}
button{ box-shadow:none !important; text-shadow:none !important;}
.bold{ text-transform:uppercase !important; font-weight:bold !important; color:#006e92; font-size:12px}
.padd{ padding-left:28px !important;}
.align-left{ text-align:left !important;}

/*TABS-CONTENT*/
ul.tabs{margin: 0px;padding: 0px;list-style: none;}
ul.tabs li{background: none;color: #222;display: inline-block;padding: 20px 25px;cursor: pointer; text-transform:uppercase;
font-family: MyriadPro-Regular !important;}
ul.tabs li.current{background: #ed1b24;color: #fff;}
.tab-content{display: none;background: #ededed;}
.tab-content.current{display: inherit;}




