#set( $layout = "layout/admin.vm" )
<div class="view-zone admin-user container-fluid" style="background-color:#f1f2f2; padding:20px 0 20px 0;">
	<div class="container wow fadeInDown animated animated animated">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-red margin-bottom-40">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-tasks"></i>Phòng giao dịch TechcomSecurities</h3>
					</div>
					<div class="panel-body">
						<div class="form-inline" role="form">
							<div class="form-group">
								<label class="sr-only">CMND khách hàng</label>
								<input type="text" class="form-control" id="idnumber" placeholder="Số chứng minh nhân dân">
							</div>
							<button type="submit" class="btn-u btn-u-default" onclick="MyCustomer.findCustomer()" style="top: -2px">
								Tìm kiếm
							</button>
						</div>
					</div>
				</div>
				<div class="acccount-err-msg alert" id="error-message">New</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="panel panel-default margin-bottom-40">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-gear"></i> Dánh sách khách hàng</h3>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th>STT</th>
								<th>Họ và Tên</th>
								<th>CMND</th>
								<th>Số lưu ký</th>
								<th>Tài liệu</th>
								<th>Ngày</th>
								<th>Trạng thái</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody id="customerFilterBody">
							
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="cancelConfirm" role="dialog"
aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Huỷ yêu cầu</h4>
			</div>
			<div class="modal-body">
				<h3> Bạn có muốn huỷ yêu cầu mở tài khoản của <b id="cancelName"></b></h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default"
				data-dismiss="modal">
					Không
				</button>
				<button type="button" class="btn btn-sm btn-success"
				data-dismiss="modal" onclick="Register.doCancel()">
					Đồng ý
				</button>
			</div>
		</div>
	</div>
</div>
<script>
	var mode = 'SALE_OFFICE';
</script>