<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="vi" />
	<title>
	    #if($title)
	       Techcom Securities | ${title}
	    #else
	       Techcom Securities | Đổi mật khẩu
	    #end
    </title>
	<base href="$request.contextPath/" />
	<!-- Style -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="res/css/bootstrap.min.css">
	<link rel="stylesheet" href="res/css/style.css">
	<link rel="stylesheet" href="res/css/share.css">
	
</head>