<script src="res/js/library/jquery-2.1.4.min.js"></script>
<script src="res/js/library/bootstrap.min.js"></script>
<script src="res/js/library/utils.js"></script>

<script src="res/js/app/ForgotPwd.js"></script>
<script src="res/js/app/Loading.js"></script>