
<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
	<div class="tree-node tree-node-content">
		<span class="connector" ng-click="toggle($event)"></span>
    	<div class="node-name" ng-click="editGroup(node.groupid)" >
    		{{node.groupname}}
    	</div>
		<div class="node-action">
            <i class="fa fa-plus-circle" ng-click="newSubItem(this)"></i>
            <i class="fa fa-trash" ng-click="delete(this)"></i>
            <i ui-tree-handle class="fa fa-arrows"></i>
        </div>
  	</div>
	<ul ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
		<li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
  	</ul>
</script>

<div class="box box-danger permission">
    <div class="box-header with-border">
        <h3 class="box-title">Groups</h3>
    </div>
    <div class="col-sm-6">
        <div id="tree-root" class="tcbs-tree" data-ui-tree="treeOptions" >
      		<ul ui-tree-nodes ng-model="groups">
        		<li ng-repeat="node in groups" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      		</ul>
    	</div>
    </div>
    <div class="col-sm-6 tab-v1 nav-tabs-custom">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#information" data-toggle="tab" aria-expanded="true">Thông tin</a>
            </li>
            <li class="">
                <a href="#admin-bank" data-toggle="tab" aria-expanded="false">Thành viên ({{groupmembercount}})</a>
            </li>
        </ul>
        <div class="tab-content">
            <div  id="information" class="tab-pane fade in active">
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Tên nhóm</label>  
                                <input type="text" class="form-control" placeholder="Tên nhóm" ng-model="group.groupname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Mô tả nhóm</label>  
                                <input type="text" class="form-control" placeholder="Mô tả nhóm" ng-model="group.groupdesc">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Nhóm cha</label>  
                                <input type="text" class="form-control typeahead" placeholder="Nhóm cha" ng-model="group.groupdesc">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button ng-click="saveGroup()" class="btn btn-success pull-right">Lưu lại</button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
