<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="box margin-top-20 home-block">
		<div class="headebox">
		   <i class="fa fa-bar-chart-o"></i><span>Trái phiếu</span><a href="{{bondUrl}}" class="a-gd">Giao dịch</a>
		</div>
		<div class="block-content">
			<table class="table">
				<tr>
					<td class="text-left headcolor-table">Mã TP</td>
					<td class="text-right headcolor-table">Số lượng</td>
					<td class="text-right headcolor-table">Giá trị hiện tại</td>
		      		<td class="headcolor-table text-center">Yield</td>
	      			<td class="text-center headcolor-table r-noneline">Ngày đáo hạn</td>
				</tr>
				<tr ng-repeat="bond in bondList">
					<td class="text-left label-name"><a ui-sref="bond.detail({tradingId:bond.assetData.tradingId})">{{bond.assetData.tradingCode}}</a></td>
					<td class="text-right">{{bond.assetData.quantity | currency}}</td>
					<td class="text-right">{{bond.assetData.price |prorata:bond.assetData.quantity:bond.assetData.originQuantity | currency}}</td>
					<td class="text-center">{{bond.rate}} %</td>
					<td class="text-center">{{bond.expiryDate}}</td>
				</tr>
			</table>
		</div>
		<div class="viewmore-box">
     		<p>
   				<a href="#" class="a-viewmore">Xem thêm</a>
     			Tổng: <span> {{bondList | totalValueBond | currency}} VND</span>
			</p>
		</div>
	</div>
</div>
