<div class="box margin-top-20 home-block">
	<div class="headebox">
		<i class="fa fa-briefcase"></i><span>quỹ đầu tư</span><a href="#" class="a-gd">Giao dịch</a>
	</div>
	<div class="block-content">
		<table class="table">
			<tr>
				<td class="text-left headcolor-table">Quỹ</td>
				<td class="text-left headcolor-table ipnone">Công ty quản lý</td>
				<td class="headcolor-table text-center">Số lượng CCQ</td>
				<td class="headcolor-table text-right ipnone">Giá trị hiện tại</td>
				<td class="text-right headcolor-table r-noneline">NAV</td>
			</tr>
			<tr ng-repeat="fund in fundList">
		    	<td class="text-left">
			    	<span style="color:red">{{fund.FUND}}</span>
		        	<p class="ipnone">{{fund.title}}</p>
				</td>
		    	<td class="text-left">{{fund.COMPANY}}</td>
		       	<td class="text-center">{{fund.AMOUNT | currency}}</td>
		        <td class="text-right">{{fund.BALANCE | currency}}</td>
		   		<td class="text-right">{{fund.NAV | currency}}</td>
	        </tr>
		</table>
	</div>
	<div class="viewmore-box">
 		<p><a href="#" class="a-viewmore">Xem thêm</a>
 		Tổng: <span> {{fundList | totalValueFund | currency}} VND</span></p>
	</div>
</div>