<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="box margin-top-20 home-block">
		<div class="headebox">
         	<i class="fa fa-pie-chart"></i><span>Cổ phiếu</span><a href="{{flexSSOUrl}}" class="a-gd">Giao dịch</a>
      	</div>
      	<div class="block-content">
			<table class="table">
				<tr>
	      			<td class="text-left headcolor-table">Mã CK</td>
	      			<td class="text-center headcolor-table ipnone">Số lượng</td>
	      			<td class="headcolor-table text-center">Thị giá</td>
	      			<td class="text-right headcolor-table">Giá trị</td>
	      			<td class="headcolor-table text-center">% Lợi nhuận</td>
	      			<td class="text-center headcolor-table r-noneline ipnone">Tỉ trọng</td>
				</tr>
	    		<tr ng-repeat="stockItem in stockList  | orderBy:'symbol' track by $index" ui-sref="stock.detail({symbol:stockItem.symbol})">
	      			<td class="label-name text-left"><span data-ng-bind="stockItem.symbol"></span></td>
	      			<td class="text-center ipnone" ng-model="stock.data[$index]">{{stockItem.seBalance}}</td>
	      			<td class="text-center" data-ng-class="stockItem.isGrowth ? 'green' : 'red'"><span ng-class="{'positive': stockItem.shake && stockItem.isGrowth, 'negative': stockItem.shake && !stockItem.isGrowth}" data-ng-bind="stockItem.realtimePrice | stockprice"></span></td>
	      			<td class="text-right"><span data-ng-bind="stockItem.seBalance * stockItem.realtimePrice | currency"></span></td>
	      			<td class="text-center {{stockItem.costPriceO | stockprofitcolor:stockItem.costPriceI:stockItem.realtimePrice}}">
	        			<span data-ng-bind="stockItem.seBalance | stockprofitpercent:stockItem.costPriceO:stockItem.costPriceI:stockItem.realtimePrice"></span>%
	      			</td>
	      			<td class="text-center r-noneline ipnone"><span data-ng-bind="stockItem.seBalance * stockItem.realtimePrice | ratioStock:stockList"></span>%</td>
	    		</tr>
	  		</table>
	  	</div>
	</div>
  	<div class="viewmore-box">
		<p>
			<a ui-sref="stock.portfolio()" class="a-viewmore">Xem thêm</a>Tổng: <span data-ng-bind="totalStock | currency"></span> VND
		</p>
	</div>
</div>
</div>