<script type="text/javascript" src="res/js/library/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="res/js/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="res/js/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="res/js/library/sockjs.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="res/js/plugins/back-to-top.js"></script>
<script type="text/javascript" src="res/js/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="res/js/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="res/js/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="res/js/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="res/js/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="res/js/unify/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="res/js/unify/app.js"></script>
<script type="text/javascript" src="res/js/unify/forms/reg.js"></script>
<script type="text/javascript" src="res/js/unify/forms/checkout.js"></script>
<script type="text/javascript" src="res/js/unify/plugins/datepicker.js"></script>

<!-- Library -->
<script type="text/javascript" src="res/js/library/templating.js"></script>
<script type="text/javascript" src="res/js/library/handlebars-latest.js"></script>
<script type="text/javascript" src="res/js/library/moment.min.js"></script>
<script type="text/javascript" src="res/js/library/jquery.validate.min.js"></script>
<script type="text/javascript" src="res/js/library/jquery.validate.extend.js"></script>
<script type="text/javascript" src="res/js/library/typeahead.bundle.min.js"></script>

<!-- Application code -->
<script type="text/javascript" src="res/js/app/Utils.js"></script>
<script type="text/javascript" src="res/js/app/Realtime.js"></script>
<script type="text/javascript" src="res/js/app/service/HandleBarService.js"></script>
<script type="text/javascript" src="res/js/app/Loading.js"></script>
<script type="text/javascript" src="res/js/app/profile/Account.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function() {
		App.init();
		App.initScrollBar();
		RegForm.initRegForm();
		Datepicker.initDatepicker();
		CheckoutForm.initCheckoutForm();
	});
</script>
