<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Language" content="vi" />
	<title>Mở tài khoản TechcomSecurities</title>
	<base href="$request.contextPath/" />
	<!-- Style -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="res/css/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="res/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="res/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="res/css/font-awesome.min.css" >

	<link rel="stylesheet" href="res/css/default/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="res/css/default/headers/header-default.css">
	<link rel="stylesheet" href="res/css/default/footers/footer-v1.css">
	
	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="res/js/plugins/animate.css">
	<link rel="stylesheet" href="res/js/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="res/js/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="res/js/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="res/js/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
	<link rel="stylesheet" href="res/js/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

	<!-- CSS Page Style -->
	<link rel="stylesheet" href="res/css/default/customer-dashboard.css">
	<link rel="stylesheet" href="res/css/default/pages/profile.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="res/css/default/custom.css">

	<link rel="stylesheet" href="res/css/share.css" />
	<link href="res/css/default/tcbs_style.css" rel="stylesheet">
	<link rel="stylesheet" href="res/css/profile/profile.css" />
	<link rel="stylesheet" href="res/css/default/main.css" />
	
	<link href="res/css/account/responsive.css" rel="stylesheet">
	
	
	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="res/js/library/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="res/js/library/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="res/js/library/moment.min.js"></script>
</head>