<div class="tab-pane fade in active anim-slide-left" id="detail">
	<div class="snapshot white">
      <div class="snapshot-box r-noneline">
        <div class="snapshot-box-l"> <span>VNM</span>
          <p>Công ty cổ phần sữa Việt Nam</p>
        </div>
        <div class="snapshot-box-r"> <a href="./invest/sso">Giao dịch</a> </div>
      </div>
      <div class="snapshot-box snapshot-box-none">
        <div class="snapshot-box-m"> <span>{{stockData.seBalance}}</span>
          <p>SLCP nắm giữ</p>
        </div>
      </div>
      <div class="snapshot-box ipnone">
        <div class="snapshot-box-m"> <span ng-class="stockData.realtimePriceChange >= 0 ? 'green': 'red' " >{{stockData.realtimePrice | stockprice}}</span>
          <p>Giá hiện tại</p>
        </div>
      </div>
      <div class="snapshot-box ipnone">
        <div class="snapshot-box-m"> <span>{{(stockData.realtimePrice * stockData.seBalance) | currency}}</span>
          <p>Giá trị CK</p>
        </div>
      </div>
      <div class="snapshot-box r-noneline ipnone">
        <div class="snapshot-box-m"> 
        	<span>{{stockData.seBalance | stockprofit:stockData.costPriceO:stockData.costPriceI:stockData.realtimePrice | currency}} 
        		<i class="{{stockData.costPriceO | stockprofitcolor:stockData.costPriceI:stockData.realtimePrice}}">({{stockData.seBalance | stockprofitpercent:stockData.costPriceO:stockData.costPriceI:stockData.realtimePrice}}%)</i>
        	</span>
          		<p>LN chưa thực hiện</p>
        </div>
      </div>
      <div class="sn-btn"> 
            <a href="javascript:void(0);" ng-click="prevSymbol()"><i class="fa fa-angle-left"></i></a> 
            <a href="javascript:void(0);" ng-click="nextSymbol()"><i class="fa fa-angle-right"></i></a> 
        </div>
    </div>
	<div class="col-md-7 col-sm-7 col-xs-12">
    	<div style="padding:20px 10px 20px 10px">
      		<highchart config="hChart.chartConfig"></highchart>
      	</div>
	</div>
</div>