.admin.top-bar .header-profile a {
	color: #333;
	height: 46px;
	white-space: nowrap;
	line-height: 46px;
}
.admin.top-bar .header-profile:hover a {
	text-decoration: none;
}
.admin.top-bar .header-profile > li:hover > a {
	color: white;
	text-decoration: none;
}
.admin .header-profile li .submenu {
	top: 46px;
	width: auto;
}
.top-bar .header-profile > li {
	margin-left: -4px;
}
.top-bar .line {
	margin: 0px;
}
.form-control {
	padding: 6px 12px;
	height: 35px;
}
.tab-v1 .nav-tabs > li > a {
	height: 32px;
	padding: 0px 18px;
}
.nav-tabs > li {
	margin-bottom: 0px;
}
.btn2 {
	height: 45px;
	font-weight: normal !important;
	font-size: 16px !important;
}
.blog-info-acc .tab-info-acc {
	padding: 6px 12px !important;
	font-size: 16px !important;
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}
.btn-default.focus, .btn-default:focus {
	color: #333;
	background-color: #e6e6e6;
	border-color: #8c8c8c
}
.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}
.upload-progress {
	border-radius: 10px;
	height: 9px;
}
.upload-progress .bar {
	border-radius: 10px;
}
#fileupload {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	cursor: pointer;
}
.upload-button {
	position: relative;
	width: 75px;
	height: 24px;
	display: inline-block;
    vertical-align: top;
}
.upload-button:hover .btn {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}
.upload-button .btn {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	margin: 0px;
}
#uploaded-files tr td {
	white-space: pre-line;
	word-break: break-all;
	word-wrap: break-word;
	padding: 12px 0px !important;
}
#admin-user-detail-action > td {
	padding: 25px 10px !important;
}
.uploaded-image-wrapper {
	display: inline-block;
	border: 2px solid transparent;
	vertical-align: top;
	position: relative;
}
.uploaded-image-wrapper:hover .delete-file{
	display: block;
}
.uploaded-image-wrapper .delete-file{
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 15px;
    width: 24px;
    height: 24px;
    background: rgba(255,0,0,0.75);
    color: white;
    border-radius: 50%;
    text-align: center;
    display: none;
    z-index: 100;
}
.uploaded-image-wrapper.pdf{
	width: 90px;
	height: 90px;
	background: url('../../images/pdf.png') center center no-repeat;
	background-size: 55px;
}
.uploaded-image-wrapper.doc{
	width: 90px;
	height: 90px;
	background: url('../../images/doc.png') center center no-repeat;
	background-size: 55px;
}
.uploaded-image-wrapper.excel{
	width: 90px;
	height: 90px;
	background: url('../../images/excel.jpg') center center no-repeat;
	background-size: 55px;
}
.uploaded-image-wrapper.other{
	width: 90px;
	height: 90px;
	background: url('../../images/file.png') center center no-repeat;
	background-size: 55px;
}
.uploaded-image-wrapper:hover {
	background-color: #ed1c24;
}
.uploaded-image-wrapper.pdf:hover{
	background-color: white;
}
.uploaded-image-wrapper > img {
	width: auto;
	height: 90px;
	margin: 0px;
}
#admin-add-bank.adding .add-btn{
	display: none;
}

/* chart */
.month-chart{
	height: 400px;
}
