<div class="content-fullscreen" id="admin-user-line" style="min-height:{{height}}px">
	<div class="tab-v1 col-md-12 nav-tabs-custom">
		<h3><span>Thông tin khách hàng</span>
		<div class="close-button">
			X
		</div></h3>

		<ul class="nav nav-tabs ">
			<li class="active">
				<a href="#admin-information" data-toggle="tab" aria-expanded="true">Thông tin</a>
			</li>
			<li class="">
				<a href="#admin-bank" data-toggle="tab" aria-expanded="false">Ngân hàng</a>
			</li>
			<li class="">
				<a href="#admin-changepassword" data-toggle="tab" aria-expanded="false">Mật khẩu</a>
			</li>
			<li class="">
				<a href="#admin-action" data-toggle="tab" aria-expanded="false">Chức năng</a>
			</li>
		</ul>
		<div class="tab-content">
			<div  id="admin-information" class="tab-pane fade active in">
				<div class="col-xs-4">
					<div  class="margin-bottom-40" role="form">
						<div class="form-group">
							<label>Họ và Tên</label>
							<input type="text" class="form-control"  id="edit-fullname" value="{{user.lastname}} {{user.firstname}}">
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="text" class="form-control" id="edit-phone" value="{{user.phone}}">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" id="edit-email" value="{{user.email}}">
						</div>
						<div class="form-group">
							<label>Username</label>
							<input type="text" class="form-control" id="edit-username" value="{{user.username}}">
						</div>
						<div ng-repeat="identification in user.identifications track by $identificationindex">
							<div class="form-group">
								<label>CMND</label>
								<input type="text" class="form-control edit-idnumber" value="{{identification.idNumber}}" ident-id={{identification.id}}>
							</div>
							<div class="form-group">
								<label>CMND ngày cấp</label>
								<input type="text" datepicker value="{{identification.idDateFormated}}" class="form-control edit-iddate" ng-model="identification.idDateFormated" ident-id={{identification.id}} placeholder="dd/mm/yyyy" >
							</div>
							<div class="form-group">
								<label>CMND nơi cấp</label>
								<input type="text" class="form-control edit-idplace" value="{{identification.idPlace}}" ident-id={{identification.id}}>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-repeat="app in user.apps">
						<label>Tài khoản: {{app.apps.appname}}</label>
						<input type="text" class="form-control" value="{{app.userAppId}}" disabled="disabled">
					</div>
					<div class="form-group">
						<label>Ngày sinh</label>
						<input type="text" datepicker ng-model="user.birthdayFormated" class="form-control" id="edit-birthday" value="{{user.birthday | dateTimeFormat}}" >
					</div>
					<div class="form-group" ng-repeat="add in user.address">
						<label>Địa chỉ</label>
						<input type="text" class="form-control edit-address" value="{{add.address}}" address-id={{add.id}}>
					</div>
					<button type="submit" class="btn btn-success" onclick="Admin.save()">
						Lưu lại
					</button>
				</div>
			</div>
			<div id="admin-bank" class="tab-pane fade in">
				<table class="table no-border">
					<thead>
						<tr>
							<th>Chủ tài khoản</th>
							<th>Số tài khoản</th>
							<th>Tỉnh</th>
							<th>Ngân hàng</th>
							<th>Chi nhánh</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="admin-bank-wrapper">
						<tr adminuserbank ng-repeat="bank in banks" data="bank" provinces="provinces"></tr>
					</tbody>
				</table>
				<div style="text-align: right">
					<button type="submit" class="btn-u btn-u-blue" ng-click="Admin.addBank($(this))">
						Thêm mới
					</button>
					<button type="submit" class="btn-u" ng-click="Admin.saveBank()">
						Lưu lại
					</button>
				</div>
			</div>
			<div  id="admin-changepassword" class="tab-pane fade in">
				<div class="col-xs-12">
					<div class="panel-body">
						<div  class="margin-bottom-40" role="form">
							<div class="form-group">
								<label>Thay đổi mật khẩu</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" id="send-email-checkbox" checked>
									Gửi email đến <b><span id="send-email">{{user.email}}</span></br></b> </label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" id="send-sms-checkbox" checked>
									Gửi sms đến <b><span id="send-sms">{{user.phone}}</span></b> </label>
							</div>
							<button type="submit" class="btn-u btn-u-blue" onclick="updatePassword()">
								Lưu lại
							</button>
						</div>
					</div>
				</div>
			</div>
			<div id="admin-action" class="tab-pane fade">
				<div class="col-xs-4">
					<button type="submit" class="btn-u btn-u-blue" onclick="Admin.delete()">
						Xoá tài khoản
					</button>
					<button type="submit" class="btn-u btn-u-blue" onclick="Admin.syncBond()">
						Sync sang BOND
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
