<td>{{data.bankAccountName}}</td>
<td>{{data.bankAccountNo}}</td>
<td>{{data.bankProvince}}</td>
<td>{{data.bankBranch}}</td>
<td>
<select class="form-control bankcode" ng-model="data.bankCode" bank-id={{data.id}}>
	<option ng-repeat="branch in branches" value="{{branch.bankcode}}">{{branch.branchname}}</option>
</select></td>
<td><span class="btn btn-xs btn-default" ng-click="Admin.deleteBank({{data.id}})">Xoá</span></td>
