<td colspan=9 id="admin-user-detail-action">
<div class="panel-body">
	<h4>Tải về hợp đồng</h4>
	<strong>Hợp đồng:</strong>
	<span style="color:#1abc9c"> <a href="./file/download-generated-file.html">Tải về</a> </span> &nbsp;&nbsp;&nbsp;&nbsp; <strong>Term & Condition:</strong>
	<span style="color:#1abc9c"><a href="./file/public/MB-TCBS-TC01.pdf.html">Tải về</a></span>
</div></td>
