<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="static/assets/img/profile.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>
                    {{user.fullname}}
                </p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">
                MAIN NAVIGATION
            </li>
            <li class="active treeview">
                <a href="#"> <i class="fa fa-dashboard"></i> <span>Khách hàng</span> <i class="fa fa-angle-left pull-right"></i> </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a ui-sref="pgd()"><i style="font-size: 11px;" class="fa fa-circle-o"></i>Phòng giao dịch</a>
                    </li>
                    <li>
                        <a ui-sref="mycustomer()"><i style="font-size: 11px;" class="fa fa-circle-o"></i>Khách hàng của tôi</a>
                    </li>
                    <li>
                        <a href="index.html"><i style="font-size: 11px;" class="fa fa-circle-o"></i>Mở tài khoản</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"> <i class="fa fa-users"></i> <span>Quản lý người dùng</span> <i class="fa fa-angle-left pull-right"></i> </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a ui-sref="adminusermanager()"><i style="font-size: 11px;" class="fa fa-circle-o"></i>Danh sách khách hàng</a>
                    </li>
                    <li>
                        <a href="index.html"><i style="font-size: 11px;" class="fa fa-circle-o"></i>Danh sách chờ mở</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"> <i class="fa fa-users"></i> <span>Phân quyền</span> <i class="fa fa-angle-left pull-right"></i> </a>
                <ul class="treeview-menu">
                    <li>
                        <a ui-sref="permission.group()"><i style="font-size: 11px;" class="fa fa-circle-o"></i>Group</a>
                    </li>
                    <li>
                        <a ui-sref="permission.group()"><i style="font-size: 11px;" class="fa fa-circle-o"></i>Roles</a>
                    </li>
                    <li>
                        <a ui-sref="system()"><i style="font-size: 11px;" class="fa fa-circle-o"></i>Systems</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>