<td colspan=9 id="admin-user-detail-action" class="uploaddocument">
	<div class="panel-body">
		<h4>Tải tài liệu của người dùng lên hệ thống</h4>
		<div class="col-xs-2 no-padding" style="margin-top: 24px;">
			<div class="upload-button">
				<input id="fileupload" type="file" name="files[]" data-url="api/upload/upload-file" multiple>
				<input type="button" class="btn btn-info" value="Chọn file" />
			</div>
		</div>
		<div class="col-xs-10 no-padding">
			<a ng-repeat="file in files track by $index" >
				<span ng-if="file.type == 'image'">
					<div class="uploaded-image-wrapper">
						<img src="file/alias/{{file.fileAlias}}.html" />
						<div class="delete-file" ng-click="removeUpload($index)">x</div>
					</div>
				</span>
				<span ng-if="file.type != 'image'">
					<div class="uploaded-image-wrapper {{file.type}}"><div class="delete-file" ng-click="removeUpload($index)">x</div></div>	
				</span>
			</a>
		</div>
	</div>
</td>
