<div class="tab-pane fade in active anim-slide-left">
	<div class="tag-box">
	      <div class="ct-tbox">
	          <p>
				<span><i class="fa fa-clock-o"></i>{{notification.time | timeAgo}}</span>
				<h4><b style="color:#c4161c; text-transform:uppercase;">({{notification.type}}) </b> {{notification.title}}</h4>
				<div ng-bind-html="notification.content"></div>
			</p>
	     </div>
	</div>
</div>