<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
     <div infinite-scroll='getNotifications()' infinite-scroll-disabled='busy' infinite-scroll-container='".rightcolin"'>
       <div class="panel panel-default panel-custom" ng-repeat="notification in notifications track by $index" id="anchor{{$index}}" data-ng-click="gotoAnchor($index, notification.notiId)">
         <div class="panel-heading pointer"  data-ng-class="{'selected': notification.notiId == currentId || currentAnchor == 'anchor' + $index  }" role="tab" data-toggle="collapse" data-parent="#accordion" href=".collapse{{$index}}" aria-expanded="true" aria-controls="collapseOne">
           <h4 class="panel-title" ng-class="{'read': notification.status == 1}">
               {{notification.title}}
           </h4>
           <span class="time" ng-class="{'read': notification.status == 1}"><i class="fa fa-clock-o"></i>{{notification.time | timeAgo}}</span>
         </div>
         <div class="panel-collapse collapse collapse{{$index}}" data-ng-class="{'in': notification.notiId == currentId}" role="tabpanel" aria-labelledby="headingOne">
           <div class="panel-body" ng-bind-html="notification.content">
           </div>
         </div>
       </div>
     </div>
</div>
