<div class="tab-pane fade in active" id="sms">
    <div class="boxin-padd-2">
        <div class="tag-boxmail">
            <ul infinite-scroll='getNotifications()' infinite-scroll-disabled='busy' infinite-scroll-container='".rightcolin"'>
                <li  ng-repeat="notification in notifications track by $index">
                    <a href="javascript:void(0);" class="delete-mail-btn" ng-click="remove(notification.smsId)"><i class="fa fa-times"></i></a>
                    <a href="javascript:void(0);">
                        <div class="row">
                            <div class="col-xs-10 col-sm-10 col-md-10">
                                <h5 ng-class= "{'read' : notification.status == 1}">{{notification.content}}</h5>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                <span class="time">{{notification.time | timeAgo}}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

