body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.content-wrapper {
    background: #F1F2F2;
    overflow: auto;
}
.btn-black {
    background: #333;
    color: white;
}
.btn-black:hover {
    color: #dd4b39;
}
.box-header .box-title {
    font-size: 17px;
}
downloadcontract, uploaddocument {
    display: table-row;
    width: 100%;
    border-top: 1px solid #F3F3F3;
}
.uploaddocument {
    border-top: 1px solid #F3F3F3;
}
.content-header > h1 {
    font-weight: normal;
    font-size: 19px;
}
.form-control:active, .form-control:focus {
    border-color: #dd4b39;
}

/*---------file upload ----------*/
.upload-progress {
    border-radius: 10px;
    height: 9px;
}
.upload-progress .bar {
    border-radius: 10px;
}
#fileupload {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    cursor: pointer;
}
.upload-button {
    position: relative;
    width: 84px;
    height: 33px;
    display: inline-block;
    vertical-align: top;
}
.upload-button:hover .btn {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}
.upload-button .btn {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0px;
}
#uploaded-files tr td {
    white-space: pre-line;
    word-break: break-all;
    word-wrap: break-word;
    padding: 12px 0px !important;
}
#admin-user-detail-action > td {
    padding: 25px 10px !important;
}
.uploaded-image-wrapper {
    display: inline-block;
    border: 2px solid transparent;
    vertical-align: top;
    position: relative;
}
.uploaded-image-wrapper:hover .delete-file {
    display: block;
}
.uploaded-image-wrapper .delete-file {
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 15px;
    width: 24px;
    height: 24px;
    background: rgba(255,0,0,0.75);
    color: white;
    border-radius: 50%;
    text-align: center;
    display: none;
    z-index: 100;
}
.uploaded-image-wrapper.pdf {
    width: 75px;
    height: 100px;
    background: url('../../assets/img/file/pdf.png') center center no-repeat;
    background-size: 55px;
}
.uploaded-image-wrapper.doc {
    width: 75px;
    height: 100px;
    background: url('../../assets/img/file/doc.png') center center no-repeat;
    background-size: 55px;
}
.uploaded-image-wrapper.excel {
    width: 75px;
    height: 100px;
    background: url('../../assets/img/file/excel.png') center center no-repeat;
    background-size: 55px;
}
.uploaded-image-wrapper.other {
    width: 75px;
    height: 100px;
    background: url('../../assets/img/file/file.png') center center no-repeat;
    background-size: 67px;
}
.uploaded-image-wrapper:hover {
    border-color: #ed1c24;
}
.uploaded-image-wrapper.pdf:hover {
    background-color: white;
}
.uploaded-image-wrapper > img {
    width: auto;
    height: 64px;
    margin: 17px;
}

#loading-bar .bar {
    background: white;
    height: 3px;
}
select.form-control {
    -webkit-appearance: none;
}
.datepicker-days .day {
    padding: 5px 12px;
}
.datepicker-days .day.active {
    background-color: #dd4b39 !important;
}
.form-group > label {
    font-size: 13px;
}
.nav-tabs-custom > .nav-tabs > li > a {
    background: transparent;
    border: 1px solid #EEE;
    line-height: 14px;
    border-bottom: 0px;
    margin-bottom: 1px;
}
.nav-tabs-custom > .nav-tabs > li.active {
    border-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li:hover > a {
    background-color: #dd4b39;
    color: white;
    border-color: transparent;
    border-bottom: 0px;
}
.nav-tabs-custom > .tab-content {
    border: 1px solid #EEE;
    box-shadow: none;
    border-top: 0px;
}
#admin-information {
    overflow: auto;
}
.content-fullscreen {
    position: absolute;
    right: 0px;
    height: 100%;
    top: 0px;
    margin-top: 50px;
    left: 230px;
}
.close-button {
    float: right;
    font-size: 15px;
    width: 50px;
    height: 50px;
    background: #EEE;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #777;
    font-weight: normal;
}
.close-button:hover {
    background: #dd4b39;
    color: white;
}
@media (max-width: 767px) {
    .content-fullscreen {
        left: 0px
    }
}

.skin-red .sidebar-menu > li > .treeview-menu {
    background: inherit;
}

/* tree */
.tcbs-tree .angular-ui-tree-node {
    border-left: 4px solid #dddddd;
    margin-left: 20px;
}
.tcbs-tree .connector {
    width: 27px;
    height: 4px;
    display: inline-block;
    background: #DDD;
    margin-right: -4px;
    margin-left: -4px;
}
.tcbs-tree .connector.black {
    background: #393939;
}
.tcbs-tree .tree-node-content {
    padding-top: 12px;
}
.tcbs-tree .node-name {
    display: inline-block;
    padding: 4px 10px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: none;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    font-size: 13px;
}
.tcbs-tree .angular-ui-tree-handle {
    font-weight: 400;
}
.tcbs-tree .node-action {
    display: none;
}
.tcbs-tree .tree-node-content:hover .node-action {
    display: inline-block;
}
.tcbs-tree .node-action .fa {
    cursor: pointer;
}
.angular-ui-tree-placeholder {
    background: white;
    border: 1px dashed #bed2db;
    box-sizing: border-box;
    margin-left: 20px;
}

.permission .nav-tabs-custom{
    background: transparent;
    box-shadow: none;
    margin-top: 12px;
}
.box-no-border{
	border-top: 0px;
}


/* test */
/*
.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/