<section class="content-header">
	<h1>Khách hàng của tôi</h1>
</section>
<section class="content">
	<div class="box box-danger">
		<div class="box-header with-border">
			<i class="fa fa-filter"></i>
			<h3 class="box-title">Tìm kiếm khách hàng</h3>
		</div><!-- /.box-header -->
		<div role="form">
			<div class="box-body">
				<div class="form-group col-md-3 ">
					<input class="form-control" ng-model="data.idnumber" ng-enter="search()" placeholder="Số chứng minh nhân dân" />
				</div>
				<div class="col-md-2 no-padding">
					<button class="btn btn-black" ng-click="search()">
						<i class="fa fa-search"></i>			
					</button>
				</div>
			</div><!-- /.box-body -->

		</div>
	</div>
	<div class="box box-default">
		<div class="box-header">
			<i class="fa fa-list"></i>
			<h4 class="box-title">Dach sách khách hàng ({{list.length}})</h4>
			&nbsp;&nbsp;&nbsp;&nbsp;<span class={{status}}>{{statusText}}</span>
		</div>
		<div class="box-body no-padding">
			<table class="table">
				<tbody>
					<tr>
						<th style="width: 10px">STT</th>
						<th>Họ và Tên</th>
						<th>CMND</th>
						<th>Số lưu ký</th>
						<th>Tài liệu</th>
						<th>Trạng thái</th>
						<th>VSD</th>
						<th>Hành động</th>
					</tr>
					<tr ng-repeat="user in list track by $index" id="user-line-{{$index}}">
						<td>{{$index + 1}}</td>
						<td>{{user.lastname}} {{user.firstname}}</td>
						<td>{{user.idnumber}}</td>
						<td>
							<span ng-if="user.user != null">{{user.user.username}}</span> 
						</td>
						<td>
							<img ng-click="uploadDocument({{$index}})" ng-if="user.uploaded" src="res/images/document.png" height=16/>
						</td>
						<td>
							<span ng-if="user.status == 0" class="label label-warning label-xs">chờ kích hoạt</span>
							<span ng-if="user.status == 1" class="label label-success label-xs">đã kích hoạt</span>
							<span ng-if="user.status == -1" class="label label-danger label-xs">đã huỷ</span>
							<span ng-if="user.status == 3" class="label label-info label-xs">đã ký hợp đồng</span>
						</td>
						<td>
							<span ng-if="user.user && user.user.vsdStatus == 1" class="label label-success label-xs">activated</span>
							<span ng-if="user.user == null || (user.user &&  user.user.vsdStatus == 0)" class="label label-warning label-xs">inactivated</span>
						</td>
						<td>
							<span ng-if="user.status == 0" class="btn btn-xs btn-success" ng-click="confirmOpen({{$index}})">Xác nhận</span>
							<span ng-if="user.status == 1" class="btn btn-xs btn-info" ng-click="confirmContract({{$index}})">Ký HĐ</span>
							<span ng-if="user.status == 2" class="btn btn-xs btn-warning" ng-click="reOpen({{$index}})">Mở lại</span>
							<span class="btn btn-xs btn-default" ng-click="printContract({{$index}})">Hợp đồng</span>
							<span class="btn btn-xs btn-default" ng-click="uploadDocument({{$index}})">Upload</span>
						</td>
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>