<div class="tab-pane fade in active" id="tab1">
	<div style="padding: 20px">
		<div class="tag-box">
			<div class="none" ng-class="{show: showotp}">
				<div class="otp-input">
					<p>Mã xác thực sẽ được gửi về số điện thoại của bạn trong giây lát</p>
					<input type="text" ng-model="edit.otp"/></br>
					Thời gian còn lại: <timer autostart="false" countdown="180" interval="1000">{{mminutes}}:{{sseconds}}</timer>
					<div class="control">
						<div ng-click="submitOtp()" class="btn btn-u">Xác nhận</div>
						<div ng-click="cancelOtp()" class="btn btn-u btn-u-default">Huỷ</div>
					</div>
				</div>
			</div>
			<div id="profile" class="profile-edit fade active in" ng-class="{hidden: showotp}">
				<h2 class="heading-md">Quản lý thông tin cá nhân</h2>
				<p>Thông tin cá nhân của quý khách tại Công ty chứng khoán Kỹ Thương</p>
				<br>
				<dl class="dl-horizontal">
					<dt>
						<strong>Họ và Tên </strong>
					</dt>
					<dd>
						{{user.fullname}}
					</dd>
					<hr>
					<dt>
						<strong>Ngày sinh </strong>
					</dt>
					<dd>
						{{user.birthday}}
					</dd>
					<hr>
					<dt>
						<strong>Email </strong>
					</dt>
					<dd>
						<div class="user-email" ng-class="{hidden: emailedit}">
							{{user.email}}
							<span>
								<a class="pull-right" ng-click="editData('email')" href=""> <i class="fa fa-pencil"></i></a>
							</span>
						</div>
						<div class="sky-form user-email-edit" ng-class="{show: emailedit}">
							<form name="emailEditForm">
								<label class="input">
									<input type="email" ng-keyup="clearError()" name="input" ng-model="edit.email" required />
								</label>
								<span class="email-error error" ng-show="emailEditForm.input.$error.email">Email trống hoặc không đúng định dạng</span>
								<span class="email-error error" ng-show="edit.emailSystemError">{{edit.errorText}}</span>
								
								<div class="control">
									<div ng-click="editData('email')" class="btn btn-u btn-u-default">Huỷ</div>
									<div ng-click="saveData(emailEditForm)" class="btn btn-u">Lưu lại</div>
								</div>
							</form>
						</div>
					</dd>
					<hr>
					<dt>
						<strong>Số điện thoại </strong>
					</dt>
					<dd>
						</a>
						</span>
						<div class="user-email" ng-class="{hidden: phoneedit}">
							{{user.phone}}
							<span>
								<a class="pull-right" ng-click="editData('phone')" href=""> <i class="fa fa-pencil"></i></a>
							</span>
						</div>
						<div class="sky-form user-email-edit" ng-class="{show: phoneedit}">
							<form name="phoneEditForm">
								<label class="input">
									<input type="text" ng-pattern="/^(\+*)\d{10,12}$/" ng-keyup="clearError(phoneEditForm)" name="input" ng-model="edit.phone" required />
								</label>
								<span class="email-error error" ng-show="phoneEditForm.input.$error.pattern">Số điện thoại chưa đúng</span>
								<span class="email-error error" ng-show="edit.emailSystemError">{{edit.errorText}}</span>
								
								<div class="control">
									<div ng-click="editData('phone')" class="btn btn-u btn-u-default">Huỷ</div>
									<div ng-click="saveData(phoneEditForm)" class="btn btn-u">Lưu lại</div>
								</div>
							</form>
						</div>
					</dd>
					<hr>
					<dt>
						<strong>Địa chỉ</strong>
					</dt>
					<dd>
						{{user.address}}
					</dd>
					<hr>
					<dt>
						<strong>Số CMND/Hộ chiếu </strong>
					</dt>
					<dd>
						{{user.idnumber}}
					</dd>
					<hr>
					<dt>
						<strong>Nơi cấp CMND</strong>
					</dt>
					<dd>
						{{user.idplace}}
					</dd>
					<hr>
					<dt>
						<strong>Ngày cấp CMND</strong>
					</dt>
					<dd>
						{{user.iddate}}
					</dd>
					<hr>
				</dl>
			</div>
		</div>
	</div>
</div>
