<div class="tab-pane fade in">
	<div style="padding: 20px">
		<div class="tag-box">
			<div class="none" ng-class="{show: showotp}">
				<div class="otp-input">
					<p>Mã xác thực sẽ được gửi về số điện thoại của bạn trong giây lát</p>
					<p class="none green" ng-class="{show: changeSuccess}">Bạn đã đổi mật khẩu thành công. Cảm ơn bạn!</p>
					<p class="none error" ng-class="{show: changeError}">{{errorMessage}}</p>
					<input type="text" ng-model="model.otp"/></br>
					Thời gian còn lại: <timer autostart="false" countdown="180" interval="1000">{{mminutes}}:{{sseconds}}</timer>
					<div class="control">
						<div ng-click="submitOtp()" class="btn btn-u">Xác nhận</div>
						<div ng-click="cancelOtp()" class="btn btn-u btn-u-default">Huỷ</div>
					</div>
				</div>
			</div>
			<div id="passwordTab" class="profile-edit fade active in" ng-class="{hidden: showotp}">
				<h2 class="heading-md">Quản lý thông tin đăng nhập</h2>
				<p>Thay đổi mật khẩu đăng nhập hệ thống tại Công ty chứng khoán Kỹ Thương</p>
				<br>
				<form class="sky-form" name="passwordForm">
					<dl class="dl-horizontal">
						<dt style="padding-top: 10px;">Mật khẩu cũ</dt>
						<dd>
							<section>
								<label class="input">
									<input ng-model="model.oldpass" ng-keyup="typePassword($event)" type="password" placeholder="Mật khẩu cũ" style="border: 1px #e5e5e5 solid;"> 
								</label>
							</section>
							<div class="email-error error" ng-show="model.wrongPassword" style="margin-bottom: 12px" >Mật khẩu hiện tại chưa chính xác</div>
						</dd>
						<dt style="padding-top: 10px;">Mật khẩu mới</dt>
						<dd>
							<section>
								<label class="input">
									<input name="newpassword" ng-keyup="passwordEnter(passwordForm)" ng-pattern="/((?=.*\d)(?=.*[a-zA-Z]).{6,20})/" ng-model="model.newpass" type="password" placeholder="Mật khẩu mới" style="border: 1px #e5e5e5 solid;">
								</label>
							</section>
							<div class="email-error error" ng-show="passwordForm.newpassword.$error.pattern" style="margin-bottom: 12px" >Mật khẩu phải chứa ít nhất một chữ số, một chữ cái và dài hơn 6 ký tự</div>
						</dd>
						
						<dt style="padding-top: 10px;">Nhập lại mật khẩu mới</dt>
						<dd>
							<section>
								<label class="input">
									<input name="newpasswordretype" ng-class="{error: model.passwordMatch}" ng-keyup="passwordEnter(passwordForm)" ng-pattern="/((?=.*\d)(?=.*[a-zA-Z]).{6,20})/" ng-model="model.newpassretype" type="password" placeholder="Nhập lại mật khẩu mới" style="border: 1px #e5e5e5 solid;">
								</label>
							</section>
							<div class="email-error error" ng-show="passwordForm.newpasswordretype.$error.pattern" style="margin-bottom: 12px" >Mật khẩu phải chứa ít nhất một chữ số, một chữ cái và dài hơn 6 ký tự</div>
						</dd>
					<br>
					<button class="btn-u" ng-click="changePasswordRequest(passwordForm)" style="margin-left: 20px;">Đổi mật khẩu</button>
				</form>
			</div>
		</div>
	</div>
</div>