<section class="content-header">
	<h1> Quản lý System</small></h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-6">
			<div class="box box-no-border box-danger permission">
				<div class="box-header with-border">
					<h3 class="box-title">Danh sách system trong hệ thống</h3>
				</div>
				<div class="box-body no-padding">
					<table class="table table-condensed">
						<tbody>
							<tr>
								<th style="width: 10px">#</th>
								<th>Tên hệ thống</th>
								<th>Trạng thái</th>
							</tr>
							<tr ng-repeat="system in data track by $index">
								<td>$index + 1</td>
								<td>system.systemname</td>
								<td>
								<div class="progress progress-xs">
									<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
								</div></td>
								<td><span class="badge bg-red">55%</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-6 tab-v1 nav-tabs-custom">

			</div>
		</div>
	</div>
</section>
