<div class="padd10-product-2">
   <!--Tag Box -->
   <div ng-repeat="bond in bonds">
        <div ng-if="bond.listBondProductData != null">
          <div class="col-xs-12">
                <div class="headline-2">
                   <h4>{{bond.bondCatName}}</h4>
                </div>
              </div>
            <div class="col-xs-12">
                <div ng-repeat="data in bond.listBondProductData">
                    <div class="box-card bond-card"> 
                         <div class="tag-box-nopadd margin-bottom-20">
                            <!-- <div class="tag-box-img images-title-1">
                               <div class="tag-box-img-title">
                                  <i>{{bond.bondCatName}}</i>
                               </div>
                            </div> -->
                            <div class="tag-box-logo">
                                <div class="tag-box-title">
                                    <div class="tag-box-title-l"><img ng-src="https://static.tcbs.com.vn/images/tcbond/{{bond.bondCatCode | lowercase}}.png" ></div>
                                    <div class="tag-box-title-r">
                                      <h4 class="ng-binding">{{data.bondName}}</h4>
                                      <h6 class="ng-binding">{{data.issuerName}}</h6>
                                    </div>
                                  </div>
                              <hr style="margin:15px 0 5px 0 !important">
                            </div>
                            <div class="tag-box-content">
                              <table class="table table-bordered margin-bottom-20 bond-card">
                                <thead>
                                  <tr>
                                    <th class="box50">Hạn mức</th>
                                    <th class="box50">Booking</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="box50">{{data.avaliable | bondprice}} tỷ</td>
                                    <td class="box50">{{data.booking | bondprice}} tỷ</td>
                                  </tr>
                                </tbody>
                              </table>
                              <table class="table table-bordered" style="margin-bottom:10px !important;">
                                <thead>
                                  <tr>
                                    <th class="box50"><span>Lợi tức</span></th>
                                    <th class="box50">Ngày đáo hạn</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="box50"><span>{{data.rate}} %</span></td>
                                    <td class="box50">{{data.expriceDate}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="tag-box-button">
                              <div class="tag-box-button-l">
                                <button class="btn-u redcode" type="button">Mua</button>
                              </div>
                              <div class="tag-box-button-r">
                                <button class="btn-u graycode" type="button">Bán</button>
                              </div>
                            </div>
                          </div>
                     </div>
                </div>
            </div>
        </div>
   </div>
   
   <!--End Tag Box -->
</div>
