<!--quy-->
        <div class="padd10-product">
           <!--Tag Box -->
           <div class="col-md-3 col-sm-4 col-xs-12"> 
                 <div class="tag-box-nopadd margin-bottom-30">
                    <div class="tag-box-img images-title-4">
                       <div class="tag-box-img-title">
                          <i>Open-Ended Fund</i>
                          <h3>TCbf</h3>
                       </div>
                    </div>
                    <div class="tag-box-logo">
                        <p>Quỹ mở<br>
trái phiếu TCC<br>
                        </p>
                      <hr style="margin:15px 0 5px 0 !important">
                    </div>
                    <div class="tag-box-content">
                      <table class="table table-bordered margin-bottom-20">
                        <thead>
                          <tr>
                            <th class="box50">Khối lượng</th>
                            <th class="box30">Thời hạn</th>
                            <th class="box20">Coupon</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="box50">1,000 tỷ VNĐ</td>
                            <td class="box30">20 tháng</td>
                            <td class="box20">10%</td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table table-bordered" style="margin-bottom:10px !important;">
                        <thead>
                          <tr>
                            <th class="box50"><span>YTM</span></th>
                            <th class="box30">Bảo lãnh</th>
                            <th class="box20">TSBĐ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="box50"><span>10%</span></td>
                            <td class="box30">0</td>
                            <td class="box20">Có</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tag-box-button">
                      <div class="tag-box-button-l">
                        <button class="btn-u redcode" type="button">Mua</button>
                      </div>
                      <div class="tag-box-button-r">
                        <button class="btn-u graycode" type="button">Bán</button>
                      </div>
                    </div>
                  </div>
             </div>
           <div class="col-md-3 col-sm-4 col-xs-12"> 
                 <div class="tag-box-nopadd margin-bottom-30">
                    <div class="tag-box-img images-title-4">
                       <div class="tag-box-img-title">
                          <i>Open-Ended Fund</i>
                          <h3>TCef</h3>
                       </div>
                    </div>
                    <div class="tag-box-logo">
                        <p>Quỹ mở<br>
cổ phiếu TCC<br>
                        </p>
                      <hr style="margin:15px 0 5px 0 !important">
                    </div>
                    <div class="tag-box-content">
                      <table class="table table-bordered margin-bottom-20">
                        <thead>
                          <tr>
                            <th class="box50">Khối lượng</th>
                            <th class="box30">Thời hạn</th>
                            <th class="box20">Coupon</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="box50">1,000 tỷ VNĐ</td>
                            <td class="box30">20 tháng</td>
                            <td class="box20">10%</td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table table-bordered" style="margin-bottom:10px !important;">
                        <thead>
                          <tr>
                            <th class="box50"><span>YTM</span></th>
                            <th class="box30">Bảo lãnh</th>
                            <th class="box20">TSBĐ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="box50"><span>10%</span></td>
                            <td class="box30">0</td>
                            <td class="box20">Có</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tag-box-button">
                      <div class="tag-box-button-l">
                        <button class="btn-u redcode" type="button">Mua</button>
                      </div>
                      <div class="tag-box-button-r">
                        <button class="btn-u graycode" type="button">Bán</button>
                      </div>
                    </div>
                  </div>
             </div>
           <!--End Tag Box -->
        </div>
    <!--end-quy-->