<!--cophieu-->
     <div class="padd10-product">
        <div class="col-xs-12 col-sm-12 col-md-12">
             <div class="headline margin-bottom-10">
                <div class="headline-r">
               <input type="search" placeholder="Ticker">
               <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              <i class="fa fa-filter"></i>
                     </button>
                     <ul class="dropdown-menu" role="menu">
                              <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Cổ phiếu hot nhất</a></li>
                              <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Cổ phiếu tăng mạnh nhất</a></li>
                              <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Giao dịch nhiều nhất</a></li>
                              <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Tất cả</a></li>
                     </ul>
               </div>
               <a class="owl-btn back-v1"><i class="fa fa-angle-left"></i></a>
               <a class="owl-btn next-v1"><i class="fa fa-angle-right"></i></a>
              </div>
             </div>
         </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!--Tag Box -->
            <div ng-repeat="stockInfo in stockInfos">
               <div class="box-card stock-card"  data-animation="1">
                <div class="tag-box-small padd10">
                  <div class="tag-box-title">
                    <div class="tag-box-title-l"><a target="_blank" href="https://www.tcbs.com.vn/dashboard/-/dashboard/page/main/{{stockInfo.data.ticker}}"><img ng-src="https://static.tcbs.com.vn/images/ticker-logo/{{stockInfo.data.ticker|lowercase}}.jpg"/></a></div>
                    <div class="tag-box-title-r">
                      <h4><a target="_blank" href="https://www.tcbs.com.vn/dashboard/-/dashboard/page/main/{{stockInfo.data.ticker}}">{{stockInfo.data.ticker}}</a></h4>
                      <h6>{{stockInfo.data.name}}</h6>
                    </div>
                  </div>
                  <hr>
                  <div class="tag-box-chart"> 
                        <!-- <img src="assets/images-add/chart.jpg" class="img-responsive"/>  -->
                        <div sparkline template="ratioPriceTemplate.html" template2="priceTemplate.html" class="sparkline" ticker="stockInfo.data.ticker" style="width: 100%; height:70px; margin:10px 0 10px 0;"></div> 
                    </div>
                </div>
                <div class="market-card-insight margin-bottom-20 ">        
                    <div class="market-card-animate market-card-insight-buy" style="width: 55%;">
                    </div>   
                    <div class="market-card-animate market-card-insight-sell" style="width: 45%;">
                    </div>  
                  </div>
              </div>
            </div>
        <!--End Tag Box -->
     </div>
 </div>
 <script type="text/ng-template" id="priceTemplate.html">
    <div class="tag-box-button">
        <div class="tag-box-button-l">
          <button class="btn-u redcode" type="button">Mua</button>
          <p><span>{{price | currency}}</span></p>
        </div>
        <div class="tag-box-button-r">
          <button class="btn-u graycode" type="button">Bán</button>
          <p><span>{{price | currency}}</span></p>
        </div>
      </div>
</script>
<script type="text/ng-template" id="ratioPriceTemplate.html">
    <div class="tag-box-text">
        <p><span class="spanl">Change (1M)</span><span class="spanr" ng-class="changePrice >= 0 ? 'green' : 'red'">
            <img ng-src="assets/images-add/icon-{{changePrice >= 0 ? 'up' : 'down'}}.png"/>{{ratio}}%</span>    
        </p>
  </div>
</script>