.error-container {
	min-height:500px;
	text-align:center;
	font-family: "Open Sans";
}
.error-container .error-title {
	font-weight: 300;
	color:#777;
	margin-top:100px;
}
.error-container .error-content {
	font-weight:normal;
	color:#555;
	margin-top: 25px;
}
