body {
    background-color: #edecec;
    font-family: 'Roboto', sans-serif;
}
*, *:active, *:hover {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
F
.container {
    margin: auto;
    position: relative;
}
.body-content {
    margin-top: 32px;
}
.card {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    overflow: auto;
}
.left-bar {
    left: 0;
    top: 0;
    height: 100%;
    background: #f8f8f8;
    border-right: 1px solid #eee;
    padding-top: 15px;
}
.profile-picture {
    width: 100%;
    height: 275px;
    background-size: cover !important;
    background-position: center center;
}
.profile .profile-name {
    padding: 8px 12px;
    width: 100%;
    height: 75px;
    background-color: #ffc107;
    color: white;
}
.profile .profile-name p {
    color: white;
    font-size: 24px;
    margin: 0px;
}

/* pmo block */
#profile-main .pmo-block {
    padding: 25px 9px;
}
#profile-main .pmo-block > h2 {
    font-size: 16px;
    margin: 0 0 15px;
}
#profile-main .pmo-contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#profile-main .pmo-contact ul li {
    position: relative;
    padding: 8px 0 8px 32px;
}
#profile-main .pmo-contact ul li i {
    font-size: 18px;
    vertical-align: top;
    line-height: 100%;
    position: absolute;
    left: 0;
}
.md-phone:before {
    content: "\f0ee";
}
[class*=" md-"], [class^=md-] {
    display: inline-block;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    font-size: inherit;
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* profile content */
.tab-nav {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    overflow: auto;
    box-shadow: inset 0 -2px 0 0 #eeeeee;
}
.tab-nav > li {
    display: inline-block;
    vertical-align: top;
}
.tab-nav.tn-justified > li {
    display: table-cell;
    width: 1%;
    text-align: center;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.tab-nav > li.active > a {
    color: #000;
}
.tab-nav > li > a {
    display: inline-block;
    color: #7a7a7a;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    font-weight: 500;
    padding: 15px;
    font-weight: 700;
}
.tab-nav > li > a:after {
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.tab-nav > li.active > a:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.tab-nav:not(
[data-tab-color]) > li > a:after {
    background: #2196f3;
}
#profile-main .right-content {
    padding: 0px;
}

#profile-main .pmb-block {
    margin-bottom: 20px;
    padding: 40px 42px 0;
}
#profile-main .pmb-block .pmbb-header {
    margin-bottom: 25px;
    position: relative;
}
#profile-main .pmb-block .pmbb-header h2 {
    margin: 0;
    font-weight: 100;
    font-size: 20px;
}
.m-r-5 {
    margin-right: 5px !important;
}
.md {
    line-height: inherit;
    vertical-align: bottom;
}
#profile-main .pmb-block .pmbb-header .actions {
    position: absolute;
    top: -2px;
    right: 0;
}
.dropup, .dropdown {
    position: relative;
}
.actions > li {
    display: inline-block;
    vertical-align: baseline;
}
.actions > li > a, .actions > a {
    width: 30px;
    height: 30px;
    line-height: 29px;
    display: inline-block;
    text-align: center;
    position: relative;
    color: #CCC;
}
.actions {
    list-style: none;
    padding: 0;
    z-index: 2;
    margin: 0;
}
.actions > li > a:before, .actions > a:before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    border-radius: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.actions > li > a:hover:before, .actions > a:hover:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.dropdown-menu {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 1px;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}

/*.dropdown:not([data-animation]) .dropdown-menu, .btn-group:not([data-animation])
.dropdown-menu {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
}
*/
.p-l-30 {
    padding-left: 30px !important;
}
#profile-main .pmb-block .pmbb-edit, #profile-main .pmb-block .pmbb-view {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.pmbb-edit .p-t-10{
	padding-top: 9px;
}
#profile-main .pmb-block.toggled .pmbb-edit {
    display: block;
}
#profile-main .pmb-block.toggled .pmbb-view {
    display: none;
}
dl {
    margin-top: 0;
    margin-bottom: 18px;
}
.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 180px;
}
.dl-horizontal dt {
    text-align: left;
}
#profile-main .pmb-block .pmbb-edit {
    position: relative;
    z-index: 1;
    display: none;
}
#profile-main .pmb-block .pmbb-edit, #profile-main .pmb-block .pmbb-view {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.dropdown.open .dropdown-menu:not([data-animation]), .dropup.open .dropdown-menu:not([data-animation]), .bootstrap-select.open .dropdown-menu:not([data-animation]), .btn-group.open .dropdown-menu:not(
[data-animation]) {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}
.dropdown-menu > li > a {
    padding: 8px 17px;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.fg-line {
    position: relative;
    vertical-align: top;
}
.fg-line:not(.form-group) {
display: inline-block;
width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control {
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}
.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border-radius: 0;
}
.fg-line .form-control {
    resize: none;
    box-shadow: none;
}
.fg-line .form-control:not(:disabled) {
color: #000;
}
.fg-line:not(.disabled):after, .fg-line:not(.readonly):after {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.fg-line:not([class*=has-]):after {
    background: #2196f3;
}
.fg-line.fg-toggled:after {
    width: 100%;
}
.input-group .fg-line.fg-toggled:after {
    width: calc(100% - 20px);
}
.fg-line:not([class*=has-]):after {
    background: #2196f3;
}
.input-group .fg-line {
    padding: 0 10px;
}

.input-group .fg-line:after {
    left: 10px;
}
.fg-line input[type="text"], .fg-line select {
    outline: none;
    box-shadow: none;
}
.fg-line:not([class*=has-])
:after {
    background: #2196f3;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-primary {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #0d8aee;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}
.btn {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    border: 0;
    text-transform: uppercase;
}
.datepicker.dropdown-menu{
    margin-top: 30px; 
}
