.loading {
	position: fixed;
	width: 50px;
	height: 50px;
	top: 120px;
	left: 50%;
	margin-left: -25px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
	z-index: 100;
}
.datepicker {
    padding: 7px 12px;
    margin-top: 6px;
}
.datepicker .day {
    width: 32px;
    height: 29px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.datepicker .day:hover {
    background: red !important;
    color: white;
}

.datepicker .datepicker-switch {
    text-align: center;
}

.datepicker .next {
    text-align: right;
    cursor: pointer;
}

.datepicker .prev {
    cursor: pointer;
}

.datepicker-months .month {
    padding: 4px 7px;
    cursor: pointer;
    border-radius: 4px;
}

.datepicker-months .month:hover, .datepicker-years .year:hover {
    background: red;
    color: white;
}
.datepicker-years .year {
    padding: 4px 7px;
    cursor: pointer;
    border-radius: 4px;
}
.long-padding{
	padding: 25px 0px;
}
