body {
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
a.no-deco:hover {
	text-decoration: none;
}
input.success {
	border-color: #3BB74D !important;
}
input.error {
	border-color: #ea252f !important;
}
.button {
	background-color: #ea252f;
	border: 0px;
	padding: 10px 12px;
	color: white;
	border-radius: 3px;
	outline: none;
}
.button:hover {
	background: #111;
	text-decoration: none;
}
.error-message {
	color: transparent;
	text-align: center;
	font-size: 13px;
	opacity: 0;
	min-height: 22px;
}
.error-message.show {
	color: #ea252f;
	opacity: 1;
}
.error-message.normal {
	color: #555;
	opacity: 1;
}
.full-page {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url('../images/bg2.jpg') no-repeat bottom center fixed;
	background-size: cover !important;
	background:#fff url(../images/bg2.jpg) no-repeat bottom center fixed;
}
.full-page .flow-login {
	z-index: 1;
	max-width: 565px; width:100%; 
	background:none;
	background-image: url('../images/logo.png');
	background-size: 240px;
	background-repeat: no-repeat;
	background-position: center 7px;
	position: fixed;
    top: 50%;
    left: 50%;
    background-color: #f1f3f5;
    transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);}
	
.full-page .flow-login .flow-login-in{-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.25);}
	
.full-page .flow-login .head-folow-login{ width:100%; height:50px; overflow:hidden; clear:both; background-color:#dcddde; text-align:center}
.full-page .flow-login .head-folow-login img{ width:250px; margin:7px 0 0 0;}

.full-page .flow-login .flow-login-content {
	background: #fff;
	border-radius: 3px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 45px;
}
.full-page .flow-login .fieldgroup {
	width: 77%;
	float: left;
	position: relative;
}
.full-page .flow-login .fieldgroup input{ border-radius:0px !important; box-shadow:none !important; border-right:1px #fff solid !important;}

.full-page .flow-login .form-actions{ float:right; width:23%;}
.full-page .flow-login .form-actions input{ float:right; border-radius:0px !important; width:100%; font-size:13px; text-transform:uppercase;}

.full-page .flow-login legend {
	border-bottom: 0px;
}
.full-page .flow-login input[type="email"], input[type="text"], input[type="password"] {
	background: #fdfdfd;
	vertical-align: middle;
	border-radius: 2px;
	padding: 8px 7px 5px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	border: 1px solid #c1c1c1;
	font-size: 16px;
	color: #333;
	box-sizing: border-box;
	line-height: 18px;
	padding-bottom: 7px;
	display: block;
	width: 100%;
	outline: none;
}
.full-page .flow-login input[type="email"]:focus {
	border-color: #AAA;
}
.full-page .change-password-btn {
	margin-left: 12px;
}
.full-page .flow-login-content .title {
	text-align: center;
	margin-bottom: 24px;
}
.full-page .flow-login-content .title > h3 {
	margin-top: 0px;
	font-size: 21px;
}
.full-page .flow-login-content .title > h4 {
	margin-top: 0px;
	font-size: 18px; line-height:normal;
}
.full-page .input-status {
	width: 40px;
	height: 24px;
	margin-bottom: 12px;
	position: absolute;
	right: 0px;
	top: 5px;
}
.full-page .input-status > div {
	position: absolute;
	top: 0px;
	opacity: 0;
	width: 40px;
	height: 24px;
}
.full-page .loading-small {
	background: url('../images/loading.gif') center center no-repeat;
	background-size: auto 16px;
}
.full-page .success-icon {
	background: url('../images/success.png') center center no-repeat;
	background-size: auto 24px;
	margin-top: 2px;
}
.full-page #passwordForm.status-0 .loading-small {
	opacity: 1;
}
.full-page #passwordForm.status-1 .success-icon {
	opacity: 1;
}
input.success, .full-page #passwordForm.status-1 .pw-reset-email {
	border-color: #3BB74D;
}

.flow-login .success-card {
	display: none;
	opacity: 0;
	margin-top: 45px;
	-webkit-transform: translateY(25px);
	-moz-transform: translateY(25px);
	-ms-transform: translateY(25px);
	-o-transform: translateY(25px);
	transform: translateY(25px);
}
.flow-login .success-card.show {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.flow-login .success-card .flow-login-content{
    margin-top: 0px;

}
.flow-login-status {
	padding-top: 10px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	text-align: center;
	display: none;
}
.flow-login-status.success {
	background-color: #5b912d;
	display: block;
}
.flow-login-status .status-link {
	color: white;
	text-decoration: underline;
}

/*==============new password=============*/
.enter-new-password .new-password {
	margin-bottom: 12px;
}
.enter-new-password .button, .button.long {
	display: block;
	width: 100%;
	font-size: 14px;
	margin-top: 32px;
	margin-bottom: 32px;
}
.flow-login.enter-new-password {
	width: 380px;
}

/*--Small-Desktop-2--*/
@media (min-width: 992px) and (max-width: 1200px) {
	
	}
/*--Fix Tablet--*/
@media (min-width: 768px) and (max-width: 991px) {
	
	}
/*--Fix Phone--*/
@media (max-width: 767px) {
	.full-page .flow-login{ width:90%;}
	.full-page .flow-login .fieldgroup{ width:65%;}
	.full-page .flow-login .form-actions{ width:35%;}
	.full-page .flow-login .flow-login-content{ padding:30px}
	.full-page .flow-login input[type="email"], input[type="text"], input[type="password"]{ font-size:13px; padding: 9px 9px;}
	}
