#parse("layout/includes/active/head.vm")
<body class="full-page">
	<div>
		#parse ("layout/includes/nav-header.vm")
	</div>
	<div>
		$screen_content
	</div>
	<div>
		#parse ("layout/includes/nav-footer.vm")
		#parse ("layout/includes/share.vm")
	</div>
</body>