#parse("layout/includes/profile/head.vm")
<body>
	<div>
		#parse ("layout/includes/profile/nav-header.vm")
	</div>
	<div>
		<div class="error-container container">
			$screen_content
		</div>
	</div>
	<div>
		#parse ("layout/includes/profile/nav-footer.vm")
		#parse ("layout/includes/share.vm")
	</div>
</body>