<header id="header" role="banner">
	<div class="top-bar">
		<div class="container">
			<div class="row">
				<div class="top-number btn-icon btn-phone">
					<p>
						<i></i> +844 2220 1039
					</p>
				</div>
				<ul class="navbar-sub">
					<div style="float:left; margin-left:20px;"></div>
				</ul>
				<div class="social">
					<div class="lag">
						<a href="https://www.tcbs.com.vn/en"> <img src="res/images/en.png"> </a><a href="https://www.tcbs.com.vn/vi" class="hide-phone"> <img src="res/images/vn.png"> </a>
					</div>
					<form class="navbar-form" role="search">
						<div class="form-group">
							<button id="loginBtn" class="btn btn-default btn-login btn-icon">
								<i></i>Login
							</button>
						</div>
						<div class="form-group">
							<div class="form-search">
								<i class="fa fa-search ic-search"></i>
								<input type="text" class="form-control" placeholder="Search">
							</div>
						</div>

					</form>
				</div><!--</div>-->
			</div>
		</div>
	</div><!--/.container-->
	<nav class="navbar navbar-inverse" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="navbar-brand" href="https://tcbs.com.vn/home"> <img src="res/images/logo.png" alt="logo"></a>
						<ul class="dropdown-menu">
							<li>
								<a href="https://tcbs.com.vn/gioi-thieu" class="active">Giới thiệu</a>
							</li>
							<li>
								<a href="https://tcbs.com.vn/lich-su" class="active">Lịch sử</a>
							</li>
							<li>
								<a href="https://tcbs.com.vn/doi-ngu" class="active">Đội ngũ</a>
							</li>
							<li>
								<a href="https://tcbs.com.vn/album-anh" class="active">Album ảnh</a>
							</li>
							<li>
								<a href="https://tcbs.com.vn/lien-he" class="active">Liên hệ</a>
							</li>
						</ul>

					</li>
				</ul>
			</div>
			<div class="collapse navbar-collapse navbar-right">
				<ul aria-label="Các trang" class="nav navbar-nav" role="menubar">

					<li class="dropdown" id="layout_2" role="presentation">
						<a aria-labelledby="layout_2" href="https://www.tcbs.com.vn/e-securities" role="menuitem"> Chứng khoán Online<i class="fa fa-angle-down"></i> </a>
						<ul class="dropdown-menu" role="menu" style="width:200px">
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/moi-gioi-online" role="menuitem">TCInvest</a>
							</li>
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/dich-vu-luu-ky-chung-khoan" role="menuitem">Dịch vụ lưu ký chứng khoán</a>
							</li>
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/dich-vu-tai-chinh" role="menuitem">Dịch vụ tài chính</a>
							</li>
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/phan-phoi-san-pham-dau-tu" role="menuitem">Phân phối sản phẩm đầu tư</a>
							</li>
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/support" role="menuitem">Hỗ trợ</a>
							</li>
						</ul>
					</li>

					<li class="dropdown" id="layout_7" role="presentation">
						<a aria-labelledby="layout_7" href="https://www.tcbs.com.vn/san-pham" role="menuitem"> Sản phẩm<i class="fa fa-angle-down"></i> </a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/trai-phieu-tcbon" role="menuitem">TCBond Series</a>
							</li>
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/tcwealth" role="menuitem">TCWealth</a>
							</li>
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/quy-dau-tu-co-phieu" role="menuitem">Quỹ đầu tư Cổ phiếu</a>
							</li>
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/quy-au-tu-trai-phieu" role="menuitem">Quỹ Đầu tư Trái phiếu</a>
							</li>
						</ul>
					</li>

					<li class="dropdown" id="layout_11" role="presentation">
						<a aria-labelledby="layout_11" href="https://www.tcbs.com.vn/nganhangdautu" role="menuitem"> Ngân hàng Đầu tư<i class="fa fa-angle-down"></i> </a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/huy-dong-von" role="menuitem">Tư vấn huy động vốn</a>
							</li>
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/mua-ban-sat-nhap" role="menuitem">Mua bán sát nhập</a>
							</li>
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/cong-cu-tai-chinh" role="menuitem">Công cụ tài chính</a>
							</li>
						</ul>
					</li>

					<li class="dropdown" id="layout_16" role="presentation">
						<a aria-labelledby="layout_16" href="https://www.tcbs.com.vn/ho-tro" role="menuitem"> Nghiên cứu<i class="fa fa-angle-down"></i> </a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/nghien-cuu-phan-tich" role="menuitem">Nghiên cứu phân tích</a>
							</li>
							<li role="presentation">
								<a href="https://www.tcbs.com.vn/thong-tin-thi-truong" role="menuitem">Thông tin thị trường</a>
							</li>
						</ul>
					</li>
					<!--
					<li class="hide-desktop dropdown" role="presentation">
						<a href="/gioi-thieu" class="active"> Giới thiệu<i class="fa fa-angle-down"></i> </a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation" class="hide-desktop">
								<a href="/lich-su"> Lịch sử </a>
							</li>
							<li role="presentation" class="hide-desktop">
								<a href="/doi-ngu"> Đội ngũ </a>
							</li>
							<li role="presentation" class="hide-desktop">
								<a href="/album-anh"> Album ảnh </a>
							</li>
						</ul>
					</li>
					-->
				</ul>
				<div class="open-account">
					<a href="javascript:openAccount();" class="btn-icon btn-open"><i></i>Mở tài khoản</a>
				</div>
			</div>
		</div>
	</nav>
</header>