<script src="res/js/library/jquery-2.1.4.min.js"></script>
<script src="res/js/library/bootstrap.min.js"></script>
<script src="res/js/library/utils.js"></script>

<script src="res/js/app/ForgotPwd.js"></script>
<script src="res/js/app/Loading.js"></script>

<div class="portlet-layout row-fluid" id="bottom">
	<div class="container">
		<div class="portlet-column portlet-column-only span12" id="column-4">
			<div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-4">
				<div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_iF5H7avHlQZD_">
					<span id="p_56_INSTANCE_iF5H7avHlQZD"></span>
					<div class="portlet-borderless-container" style="">
						<div class="portlet-body">
							<div class="journal-content-article blog-content">
								<div class="container wow fadeInDown animated animated animated" data-wow-delay="600ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms;">
									<div class="row">
										<div class="col-md-9 col-sm-6">
											<div class="col-md-2 col-sm-6">
												<div class="widget">
													<h3>Giới thiệu</h3>
													<ul>
														<li>
															<a href="https://tcbs.com.vn/gioi-thieu">Giới thiệu</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/lich-su">Lịch sử</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/doi-ngu">Đội ngũ</a>
														</li>
													</ul>
												</div>
											</div>
											<!--/.col-md-3-->
											<div class="col-md-2 col-sm-6">
												<div class="widget">
													<h3>Chứng khoán online</h3>
													<ul>
														<li>
															<a href="https://tcbs.com.vn/moi-gioi-online">Môi giới online</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/dich-vu-luu-ky-chung-khoan">Dịch vụ lưu ký CK</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/dich-vu-tai-chinh">Dịch vụ tài chính</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/phan-phoi-san-pham-dau-tu">Phân phối SP đầu tư</a>
														</li>
													</ul>
												</div>
											</div>
											<!--/.col-md-3-->
											<div class="col-md-2 col-sm-6">
												<div class="widget">
													<h3>Đầu tư</h3>
													<ul>
														<li>
															<a href="https://tcbs.com.vn/trai-phieu-tcbon">Bond</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/chung-chi-quy">Funds</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/e-securities">Stock</a>
														</li>
													</ul>
												</div>
											</div>
											<!--/.col-md-3-->
											<div class="col-md-2 col-sm-6">
												<div class="widget">
													<h3>Tư vấn</h3>
													<ul>
														<li>
															<a href="https://tcbs.com.vn/san-pham">Tư vấn đầu tư cá nhân</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/nganhangdautu">Tài chính doanh nghiệp</a>
														</li>
													</ul>
												</div>
											</div>
											<!--/.col-md-3-->
											<div class="col-md-2 col-sm-6">
												<div class="widget">
													<h3>Hỗ trợ</h3>
													<ul>
														<li>
															<a href="https://tcbs.com.vn/thong-tin-thi-truong">Thông tin thị trường</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/guide/accountopening.pdf">Hướng dẫn mở tài khoản</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/documents/10181/26888/guide.pdf/543fe58d-feb7-49e4-9968-aff56ad86fa8?version=1.0">Hướng dẫn sử dụng</a>
														</li>
														<li>
															<a href="https://tcbs.com.vn/huong-dan-chuyen-tien">Hướng dẫn chuyển tiền</a>
														</li>
													</ul>
												</div>
											</div>
											<!--/.col-md-3-->
										</div>
										<div class="col-md-3 col-sm-6">
											<div class="widget-support">
												<h3>Công ty TNHH Chứng khoán Kỹ Thương</h3>
												<ul>
													<li>
														<a href="https://www.google.com/maps/place/9+Tô+Hiến+Thành,+Bùi+Thị+Xuân,+Hai+Bà+Trưng,+Hà+Nội,+Vietnam/@21.013543,105.851128,17z/data=!3m1!4b1!4m2!3m1!1s0x3135ab8ca1f5076f:0xdfb46deef6deafd0">Trụ sở chính: tầng 4+5, số 9 Tô Hiến Thành, Hai Bà Trưng, Hà Nội.</a>
													</li>
													<li>
														<h3><i>&nbsp;</i>Hotline: +844 2220 1039</h3>
													</li>
												</ul>
											</div>
										</div>
										<!--/.col-md-3-->
									</div>
								</div>
							</div>
							<div class="entry-links"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer id="footer" class="midnight-blue">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<b>© Techcom Securities 2015</b>
				<br>
				<div class="no-print">
					<a href="https://www.tcbs.com.vn/contactus">Liên hệ TCBS</a> | <a href="https://www.tcbs.com.vn/terms-condition">Điều khoản và điều kiện</a> | <a href="https://www.tcbs.com.vn/terms-of-use">Điều khoản sử dụng</a> | <a href="https://www.tcbs.com.vn/career">Cơ hội nghề nghiệp</a> | <a href="https://www.tcbs.com.vn/sitemap">Sitemap</a> |
				</div>
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
					Kết nối với chúng tôi:
					<ul class="social-share">
						<li>
							<a href="http://www.facebook.com/techcomsecurities" target="_blank"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="http://www.linkedin.com/company/3786400" target="_blank"><i class="fa fa-linkedin"></i></a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UCuEJ3Dkzl6NXSyVkHbmxnbw" target="_blank"><i class="fa fa-youtube"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
