<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body style="margin: 0;mso-line-height-rule: exactly;padding: 0;min-width: 100%;background-color: #fbfbfb">
		<center class="wrapper" style="display: table;table-layout: fixed;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #fbfbfb">
			<table class="header centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 602px">
				<tbody>
					<tr>
						<td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px">&nbsp;</td>
					</tr>
					<tr>
						<td class="logo" style="padding: 32px 0;vertical-align: top;mso-line-height-rule: at-least">
						<div class="logo-center" style="font-size: 26px;font-weight: 700;letter-spacing: -0.02em;line-height: 32px;color: #41637e;text-align: center" align="center" id="emb-email-header"><img style="border: 0;-ms-interpolation-mode: bicubic;display: block;Margin-left: auto;Margin-right: auto;max-width: 472px" src="https://i1.createsend1.com/ei/i/6A/A5D/260/190934/csfinal/Teckcomsecurity.png" alt="" width="315" height="44">
						</div></td>
					</tr>
				</tbody>
			</table>

			<table class="border" style="border-collapse: collapse;border-spacing: 0;font-size: 1px;line-height: 1px;background-color: #e9e9e9;Margin-left: auto;Margin-right: auto" width="602">
				<tbody>
					<tr>
						<td style="padding: 0;vertical-align: top">&#8203;</td>
					</tr>
				</tbody>
			</table>

			<table class="centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
				<tbody>
					<tr>
						<td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px">&#8203;</td>
						<td style="padding: 0;vertical-align: top">
						<table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #ffffff;font-size: 14px;table-layout: fixed">
							<tbody>
								<tr>
									<td class="column" style="padding: 0;vertical-align: top;text-align: left">
									<div>
										<div class="column-top" style="font-size: 32px;line-height: 32px">
											&nbsp;
										</div>
									</div>
									<table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
										<tbody>
											<tr>
												<td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word"><h3 style="Margin-top: 0;color: #565656;font-weight: 700;font-size: 36px;Margin-bottom: 18px;line-height: 44px;text-align:center;">Kích hoạt tài khoản</h3></td>
											</tr>
										</tbody>
									</table>
									<table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
										<tbody>
											<tr>
												<td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word">
												<p style="Margin-top: 0;color: #565656;font-size: 16px;line-height: 25px;Margin-bottom: 25px">
													Bạn vừa mở tài khoản chứng khoán tại hệ thống TechcomSecurities. Vui lòng bấm vào đường dẫn dưới đây để tiến hành kích hoạt tài khoản.
												</p></td>
											</tr>
										</tbody>
									</table>
									<table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
										<tbody>
											<tr>
						                        <td style="background:#fff; padding:20px 20px 20px 20px; text-align:center;">
						                            <p style="margin:0; padding:0 0 20px 0;"><a href="${link}" style="padding:15px 30px; background-color:#ed1c24; font-size:16px; color:#fff; text-decoration:none;">Kích hoạt tài khoản</a></p>
						                        </td>
						                     </tr>
											<tr>
						                        <td style="background:#fff; padding:20px 20px 20px 20px; text-align:center; font-size:16px; font-weight: normal;">
						                        	Hoặc sử dụng đường dẫn dưới đây: </br>${link}</br>
						                        </td>
						                     </tr>
										</tbody>
									</table>
									<div class="column-bottom" style="font-size: 8px;line-height: 8px">
										&nbsp;
									</div></td>
								</tr>
							</tbody>
						</table></td>
						<td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px">&#8203;</td>
					</tr>
				</tbody>
			</table>

			<table class="border" style="border-collapse: collapse;border-spacing: 0;font-size: 1px;line-height: 1px;background-color: #e9e9e9;Margin-left: auto;Margin-right: auto" width="602">
				<tbody>
					<tr>
						<td style="padding: 0;vertical-align: top">&#8203;</td>
					</tr>
				</tbody>
			</table>
		</center>
	</body>
</html>
