<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Newsletter</title>
</head>
<body style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; background-color:#f1f1f1;">
   <table cellpadding="0" cellspacing="0" border="0" style="max-width:650px; width:100%;margin:0 auto;background-color:#cdcdcd; padding:5px;">
      <tbody>
          <tr>
             <td style="width:620px;background-color:#fff;">
                <table style="width:100%" cellpadding="0" cellspacing="0" border="0">
                     <tr>
                       <td style="background:#ececec; text-align:center; padding:3px 0 3px 0;">
							<img src="https://www.tcbs.com.vn/tcbs-v3-theme/images/Teckcomsecurity.png" width="255"/>
                       </td>
                     </tr>
                     <tr>
                       <td style="background:#dedede; height:1px;">
                       </td>
                     </tr>
                     <tr>
                       <td style="background:#fff; padding:0 20px"><p style=" font-size:26px; font-weight:bold; line-height:normal; text-align:center; text-transform:uppercase; padding:0; margin:25px 0 10px 0; color:#000">Mở tài khoản thành công</p></td>
                     </tr>
                     <tr>
                       <td style="background:white; padding:10px 20px;">
                           <table style="width:100%; background-color:#f5f5f5; border:1px #e8e8e8 solid; padding:5px 0 5px 0;" cellpadding="0" cellspacing="0" border="0">
                               <tr>
                                  <td style="width:30%; padding:5px 10px; vertical-align: text-top;text-align:left">Kính gửi</td>
                                  <td style="width:70%; padding:5px 10px; vertical-align: text-top;text-align:left"><b style="font-weight:bold; color:#000; font-size:14px">${fullname}</b></td>
                               </tr>
                               <tr>
                                  <td style="width:30%; padding:5px 10px; vertical-align: text-top;text-align:left">Email</td>
                                  <td style="width:70%; padding:5px 10px; vertical-align: text-top;text-align:left"><b style="font-weight:bold; color:#F00; font-size:14px">${email}</b></td>
                               </tr>
                           </table>
                       </td>
                     </tr>
                     <tr>
                        <td style="padding:10px 20px 10px 20px;"><p style="margin:0; padding:0; line-height:normal; text-align:justify"><span style="font-size:12px; font-weight:normal; color:#5e5e5e;"><i style="font-style:italic">Xin trân trọng thông báo tài khoản của Quý khách đã được kích hoạt. Thông tin đăng nhập tài khoản giao dịch trực tuyến của Quý khách như sau:</i></span></p></td>
                     </tr>
                     <tr>
                        <td style="padding:10px 20px 10px 20px;">
                           <p style="margin:5px 0 5px 0; padding:0; line-height:normal"><img src="https://www.tcbs.com.vn/documents/10181/14336/arrow/4bec4c48-cc64-4420-aed8-4f694140fbe2"/>&nbsp;<span style="font-size:12px; font-weight:normal; color:black;">Email đăng nhập của Quý khách là: <b style="font-weight:bold">${email}</b></span></p>
                           <p style="margin:5px 0 5px 0; padding:0; line-height:normal"><img src="https://www.tcbs.com.vn/documents/10181/14336/arrow/4bec4c48-cc64-4420-aed8-4f694140fbe2"/>&nbsp;<span style="font-size:12px; font-weight:normal; color:black;">Mật khẩu đăng nhập và mật khẩu đặt lệnh: <b style="font-weight:normal; color:#F00;">
                           	#if($password)
                           		$password
	                        #else
	                        	là mật khẩu Quý khách đã đăng ký online
	                        #end
	                      </b></span></p>
                           <p style="margin:5px 0 5px 0; padding:0; line-height:normal"><img src="https://www.tcbs.com.vn/documents/10181/14336/arrow/4bec4c48-cc64-4420-aed8-4f694140fbe2"/>&nbsp;<span style="font-size:12px; font-weight:normal; color:black;">Số điện thoại đăng ký của quý khách: <b style="font-weight:bold">${phone}</b></span></p>
                           #if(${custodycd})
                           <p style="margin:5px 0 5px 0; padding:0; line-height:normal"><img src="https://www.tcbs.com.vn/documents/10181/14336/arrow/4bec4c48-cc64-4420-aed8-4f694140fbe2"/>&nbsp;<span style="font-size:12px; font-weight:normal; color:black;">Số lưu ký chứng khoán của quý khách: <b style="font-weight:bold">${custodycd}</b></span></p>
                           #end
                        </td>
                     </tr>
                     <tr>
                        <td style="padding:0 20px;">
                           <div style="width:100%; height:1px; background:#e9e9e9;"></div>
                        </td>
                     </tr>
                     <tr>
                        <td style="padding:10px 20px 10px 20px;">
                        <p style="margin:5px 0 5px 0; padding:0; line-height:normal; text-align:justify;"><span style="font-size:12px; font-weight:normal; color:black;">Để thực hiện giao dịch, Quý khách vui lòng tham khảo hướng dẫn hỗ trợ khách hàng trong giao dịch tại <a href="https://www.tcbs.com.vn/support" style="color:#00F">https://www.tcbs.com.vn/support</a> và bản công bố rủi ro tại <a href="https://www.tcbs.com.vn/ban-cong-bo-rui-ro" style="color:#00F">https://www.tcbs.com.vn/ban-cong-bo-rui-ro</a></span></p>
                        <p style="margin:20px 0 5px 0; padding:0; line-height:normal; text-align:justify;"><span style="font-size:12px; font-weight:normal; color:black;">TCBS xin gửi kèm bộ Hồ sơ đăng ký mở tài khoản đã được điền đầy đủ các thông tin cơ bản để Quý khách ký xác nhận. Quý khách cũng có thể điền thêm các thông tin cần thiết khác (trang 2 Hợp đồng kiêm đề nghị mở tài khoản và sử dụng dịch vụ chứng khoán) để chúng tôi có thể phục vụ tốt hơn.</span></p>
                        </td>
                     </tr>
                     <tr>
                        <td style="padding:0 20px;">
                           <div style="width:100%; height:1px; background:#e9e9e9;"></div>
                        </td>
                     </tr>
                     <tr>
                        <td style="padding:10px 20px 10px 20px">
                            <p style="margin:5px 0 5px 0; padding:0; line-height:normal"><span style="font-size:12px; font-weight:normal; color:black;">Hồ sơ mở tài khoản giao dịch chứng khoán gồm:</span></p>
                            <p style="margin:5px 0 5px 0; padding:0; line-height:normal"><img src="https://www.tcbs.com.vn/documents/10181/14336/arrow/4bec4c48-cc64-4420-aed8-4f694140fbe2"/>&nbsp;<b style="font-weight:bold;"><i style="font-style:italic">Hợp đồng kiêm đề nghị mở tài khoản & sử dụng dịch vụ chứng khoán (02 bản)</i></b></span></p>
                           <p style="margin:5px 0 5px 0; padding:0; line-height:normal"><img src="https://www.tcbs.com.vn/documents/10181/14336/arrow/4bec4c48-cc64-4420-aed8-4f694140fbe2"/>&nbsp;<b style="font-weight:bold;"><i style="font-style:italic">Các điều khoản và điều kiện (02 bản)</i></b></span></p>
                           <p style="margin:5px 0 5px 0; padding:0; line-height:normal"><img src="https://www.tcbs.com.vn/documents/10181/14336/arrow/4bec4c48-cc64-4420-aed8-4f694140fbe2"/>&nbsp;<b style="font-weight:bold;"><i style="font-style:italic">CMTND: 01 bản phô tô</i></b></span></p>
                        </td>
                     </tr>
                     <tr>
                        <td style="padding:0 20px 0 20px;">
                            <table style="width:100%; background-color:#f5f5f5;" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                   <td style="padding:10px; border:1px #e8e8e8 solid;">
                                       <p style="margin:0 0 5px 0; padding:0; line-height:normal"><span style="font-size:12px; font-weight:normal; color:black;">Quý khách vui lòng ký nháy từng trang hồ sơ và gửi về địa chỉ:</span></p>
                            <p style="margin:0; padding:0; line-height:normal"><b style="font-weight:bold;"><i style="font-style:italic">Công ty TNHH Chứng khoán Kỹ Thương</i></b></span></p>
                           <p style="margin:0; padding:0; line-height:normal"><b style="font-weight:bold;"><i style="font-style:italic">Tầng 5, Số 9 Tô Hiến Thành, Hai Bà Trưng, Hà Nội</i></b></span></p>
                           <p style="margin:0; padding:0; line-height:normal"><b style="font-weight:bold;"><i style="font-style:italic">Điện thoại: 0422201039</i></b></span></p>
                                   </td>
                                </tr>
                            </table>
                        </td>
                     </tr>
                     <tr>
                        <td style="padding:10px 20px 10px 20px;">
                           <p style="margin:10px 0 0 0; padding:0;"><span style="font-size:12px; font-weight:normal; color:black;"><b style="font-weight:bold"><u>Lưu ý:</u></b></span></p>
                           <p style="margin:0; padding:10px 0; text-align:justify;">
                             <span style="font-size:11px; color:#5e5e5e;"><i style="font-style:italic"><b style="font-weight:bold;color:#000;">1.</b>&nbsp;&nbsp;Tài khoản của Quý khách hàng đã được kích hoạt, Quý khách hàng có thể đăng nhập trải nghiệm các tính năng của hệ thống cũng như chuyển tiền vào tài khoản chứng khoán để chuẩn bị giao dịch. Khách hàng chỉ có thể mua bán chứng khoán sau khi TCBS nhận được hồ sơ bản cứng của khách hàng và hoàn thiện các thủ tục theo quy định.
<br/><br/><b style="font-weight:bold;color:#000;">2.</b>&nbsp;&nbsp;Hiện nay, TCBS chỉ hỗ trợ mở tài khoản trực tuyến cho nhà đầu tư là cá nhân trong nước. Với các khách hàng là Nhà đầu tư tổ chức hoặc Nhà đầu tư nước ngoài xin vui lòng liên hệ trực tiếp với TCBS theo địa chỉ: <b style="font-weight:bold; color:#000">Tầng 5, số 9 Tô Hiến Thành, Hai Bà Trưng, Hà Nội</b>. Điện thoại : <b style="font-weight:bold; color:#000">(84-4) 22201039</b> để được hỗ trợ mở tài khoản một cách nhanh nhất.
<br/><br/><b style="font-weight:bold; color:#000;">3.</b>&nbsp;&nbsp;Cách mở tài khoản như trên chỉ áp dụng đối với tài khoản giao dịch thông thường. Để được phép giao dịch ký quỹ, Quý khách vui lòng xác nhận chữ ký tại chính quyền địa phương hoặc mang CMND đến các điểm giao dịch của TCBS để được hỗ trợ. Mọi thắc mắc, vui lòng liên hệ trực tiếp với TCBS qua số điện thoại: <b style="font-weight:bold; color:#000">(84-4) 22201039.</b>.</i>
</span>
                           </p>
                           <p style="margin:0; padding:0; text-align:justify;"><span style="font-size:11px; color:#5e5e5e;"><i style="font-style:italic">Công ty TNHH Chứng khoán Kỹ Thương (TCBS) xin cảm ơn Quý khách đã quan tâm và sử dụng dịch vụ giao dịch trực tuyến <b style="color:#000; font-weight:bold"><span style="color:#F00">TC</span>Invest</b>.</i></span></p>
                        </td>
                     </tr>
                     <tr>
                       <td style="background:#dedede; height:1px;">
                       </td>
                     </tr>
                     <tr>
                       <td style="padding:20px;; background-color:#fafafa;"><p style="margin:0; padding:0; text-align:justify;"><span style="font-size:11px; color:#5e5e5e;"><i style="font-style:italic">Đây là Email được gửi từ hệ thống <b style="color:#000; font-weight:bold"><span style="color:#F00">TC</span>Invest</b>, Quý khách vui lòng không trả lời Email này. Quý khách có thể truy cập vào hệ thống qua địa chỉ sau: <a href="https://invest.tcbs.com.vn" style=" color:#00F">https://invest.tcbs.com.vn</a>. Nếu Quý khách có thắc mắc cần giải đáp, xin vui lòng liên hệ Hotline của TCBS theo số điện thoại: <b style="font-weight:bold; color:#000">(84-4) 22201039</b>.</i></span></p></td>
                     </tr>
                 </table>
             </td>
          </tr>
      <tbody>
   </table>
</body>
</html>
