#set( $layout = "layout/admin.vm" )

<div class="view-zone admin-user container-fluid" style="background-color:#f1f2f2; padding:20px 0 20px 0;">
	<div class="container wow fadeInDown animated animated animated">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-red margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Tìm kiếm </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only">Tên khách hàng</label>
                                <input type="text" class="form-control" id="fullname" placeholder="Họ và tên">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email khách hàng</label>
                                <input type="text" class="form-control" id="email" placeholder="Nhập email ">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Số điện thoại</label>
                                <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Chứng minh nhân dân</label>
                                <input type="text" class="form-control" id="idnumber" placeholder="CMND">
                            </div>
                            <button type="submit" class="btn-u btn-u-default" onclick="Admin.searchUserQueue()" style="top: 2px">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-12 md-margin-bottom-40">
                <div class="panel panel-default margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-gear"></i> Dánh sách yêu cầu mở tài khoản</h3>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Fullname</th>
                                <th>CMND</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Người mở</th>
                                <th>Số lưu ký</th>
                                <th>Tài liệu</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="admin-queue-body">
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>
</div>
<div id="popup" class="fullscreen transition" onclick="$('#popup').removeClass('show')">
	<div class="bg"></div>
	<div class="container" onclick="arguments[0].stopPropagation()">
		<div class="col-md-12 md-margin-bottom-40 popup">
			<div class="panel panel-default margin-bottom-40">
	            <div class="panel-heading">
	                <h3 class="panel-title"><i class="fa fa-gear"></i> Chi tiết</h3>
	            </div>
	            <div class="tab-v1">
	                <ul class="nav nav-tabs">
	                    <li class="active"><a href="#user-detail" data-toggle="tab" aria-expanded="true">Thông tin</a></li>
	                    <li class=""><a href="#password" data-toggle="tab" aria-expanded="false">Mật khẩu</a></li>
	                    <li class=""><a href="#action" data-toggle="tab" aria-expanded="false">Tương tác</a></li>
	                </ul>
	                <div class="tab-content">
	                    <div class="tab-pane fade active in" id="user-detail">
	                    </div>
	                    <div class="tab-pane fade" id="password">
	                    	<div class="panel-body">
						        <div  class="margin-bottom-40" role="form">
						            <div class="form-group">
						                <label>Mật khẩu</label>
						                <input type="text" class="form-control"  id="edit-pwd">
						            </div>
					              	<div class="checkbox">
									    <label>
									      <input type="checkbox" id="send-email-checkbox" checked> Gửi email đến <b><span id="send-email"></span></br></b>
									    </label>
								 	</div>
								 	<div class="checkbox">
									    <label>
									      <input type="checkbox" id="send-sms-checkbox" checked> Gửi sms đến <b><span id="send-sms"></span></b>
									    </label>
								 	</div>
	
						            <button type="submit" class="btn-u btn-u-blue" onclick="Admin.updatePassword()">Lưu lại</button>
						        </div>
						    </div>
	                    </div>
	                    <div class="tab-pane fade" id="action">
	                    	<div class="panel-body">
	                    		<button type="submit" class="btn-u btn-u-blue" onclick="Admin.delete()">Xoá tài khoản</button>
	                    		<button type="submit" class="btn-u btn-u-blue" onclick="Admin.syncBond()">Sync sang BOND</button>
	                    	</div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
	Admin.init();
	Admin.searchUserQueue();
});
</script>