<div class="contentin wow fadeInDown animated">
  <div class="tab-v1">
    <ul class="nav nav-tabs">
      <li ng-class="{active: $state.current.activetab == 'stock'}"><a href="#/watchlist/stock">Cổ phiếu</a></li>
      <li ng-class="{active: $state.current.activetab == 'bond'}"><a href="#/watchlist/bond">Trái phiếu</a></li>
      <li ng-class="{active: $state.current.activetab == 'fund'}"><a href="#/watchlist/fund">Quỹ đầu tư</a></li>
    </ul>
    <div class="tab-content">
      <div ui-view="" class="anim-in-out anim-fade" data-anim-speed="500"></div>
    </div>
    <div class="anim-fade" ng-show="busy">
        <div class="loading-overlay">
          <img src="assets/images/spin.svg"/>
        </div>
    </div>      
  </div>
  <div class="boxline100"></div>
</div>