<section class="content-header">
	<h1>Quản lý thông tin khách hàng</h1>
</section>
<section class="content">
	<div class="box box-danger">
		<div class="box-header with-border">
			<i class="fa fa-filter"></i>
			<h3 class="box-title">Tìm kiếm khách hàng</h3>
		</div><!-- /.box-header -->
		<div role="form">
			<div class="box-body">
				<div class="form-group col-md-2">
					<input class="form-control" ng-enter="search()" ng-model="search.fullname" placeholder="Họ và Tên" />
				</div>
				<div class="form-group col-md-2">
					<input class="form-control" ng-enter="search()" ng-model="search.email" placeholder="Email" />
				</div>
				<div class="form-group col-md-2">
					<input class="form-control" ng-enter="search()" ng-model="search.phone" placeholder="Phone" />
				</div>
				<div class="form-group col-md-2">
					<input class="form-control" ng-enter="search()" ng-model="search.idnumber" placeholder="CMND" />
				</div>
				<div class="form-group col-md-2">
					<input class="form-control" ng-enter="search()" ng-model="search.username" placeholder="105C..." />
				</div>
				<div class="form-group col-md-2">
					<input class="form-control" ng-enter="search()" ng-model="search.fromdate" placeholder="Từ ngày" datepicker/>
				</div>
				<div class="form-group col-md-2">
					<input class="form-control" ng-enter="search()" ng-model="search.todate" placeholder="Đến ngày" datepicker/>
				</div>
				<div class="form-group col-md-2">
					<select class="form-control" ng-model="search.vsdstatus">
                        <option value="">Trạng thái VSD</option>
                        <option value=1>Đã kích hoạt</option>
                        <option value=0>Chưa kích hoạt</option>
					</select>
				</div>
				
				<div class="col-md-2">
					<button class="btn btn-black" ng-click="search()">
						<i class="fa fa-search"></i>			
					</button>
				</div>
			</div><!-- /.box-body -->

		</div>
	</div>
	<div class="box box-default">
		<div class="box-header">
			<i class="fa fa-list"></i>
			<h4 class="box-title">Dach sách khách hàng ({{list.length}})</h4>
			&nbsp;&nbsp;&nbsp;&nbsp;<span class={{status}}>{{statusText}}</span>
		</div>
		<div class="box-body no-padding">
			<table class="table">
				<tbody>
					<tr>
						<th style="width: 10px">STT</th>
						<th>Họ và Tên</th>
						<th>CMND</th>
						<th>Số lưu ký</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Trạng thái</th>
						<th>VSD</th>
					</tr>
					<tr ng-repeat="user in list track by $index" id="user-line-{{$index}}" ng-click="viewDetail($index)">
						<td>{{$index + 1}}</td>
						<td>{{user.lastname | nameCase}} {{user.firstname | nameCase}}</td>
						<td>
							<span ng-if="user.identifications.length > 0">
								{{user.identifications[0].idNumber}}
							</span>
						<td>
							{{user.username}} 
						</td>
						<td>
							{{user.email.toLowerCase()}} 
						</td>
						<td>
							{{user.phone}} 
						</td>
						<td>
							<span ng-if="user.status == 0" class="label label-warning label-xs">chờ kích hoạt</span>
							<span ng-if="user.status == 1" class="label label-success label-xs">đã kích hoạt</span>
							<span ng-if="user.status == -1" class="label label-danger label-xs">đã huỷ</span>
							<span ng-if="user.status == 3" class="label label-info label-xs">đã ký hợp đồng</span>
						</td>
						<td>
							<span ng-if="user.vsdStatus == 1" class="label label-success label-xs">activated</span>
							<span ng-if="user.vsdStatus == 0" class="label label-warning label-xs">inactivated</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>