#set( $layout = "layout/error.vm" ) 

<h1 class="error-title"> Bạn không đủ quyền</h1>
<p class="error-content">
	Bạn không đủ quyền để sử dụng chức năng này.</br>
	Vui lòng liên hệ với IT Support để kích hoạt tính năng. 
</p>
