/*--Customer-Dashboard--*/
.breadcrumbs-v3{ padding:50px 0 50px 0 !important;}
.breadcrumbs-v3 h1{text-shadow:10x 10px 10px 10px #000;}

.profile .profile-body{ padding:0px !important; background:none !important;}
.panel-profile .panel-body .profile-post{ width:100%; padding:0px !important;}
.profile-post .profile-post-in{ padding:20px;} 
.profile-post .profile-post-in p, .profile-post .profile-post-in h3{ text-align:center}
.profile-post .profile-post-in h3 span{}

table{ width:100%;}
table tr td{ padding:12px 10px;vertical-align:middle;border-bottom: 1px solid #f0f0f0; background-color:#fff;}
table tr td.label-name span{ color:#ed1b24; font-weight:500;font-size:14px; text-transform:uppercase;text-align:left;}
table tr td.label-name{ width:10%;}
table tr td.label-name-2{text-transform:uppercase; padding:13px 10px;}
table tr td.number{ color:#ed1c24; font-weight:bold;}
table tr td i.fa-caret-down{float:right; font-size:22px; color:#ed1b24;}
table tr td i.fa-caret-right{float:right; font-size:22px; color:#9f9f9f;}
table tr td img{margin-right:10px}

.panel-heading-2 table{ width:100%;}
.panel-heading-2 table tr td{ padding:10px 10px;vertical-align:middle; background:white;border-bottom:2px #f7f7f7 solid;}

.panel-gray > .panel-heading{ background-color:#303030 !important; padding:10px}
.panel-profile .panel-heading{}
.panel-profile .panel-heading h2.panel-title{ color:#fff; font-weight:500 !important; text-transform:uppercase;}
.panel-profile .panel-heading h2.panel-title i.fa-pie-chart, .panel-profile .panel-heading h2.panel-title i.fa-bar-chart-o, .panel-profile .panel-heading h2.panel-title i.fa-line-chart,
.panel-profile .panel-heading h2.panel-title i.fa-users{color:#ed1c24 !important; font-size:20px; margin:6px 10px 0 0;}
.panel-profile .panel-heading span{ float:right; font-size:15px; margin:6px 0 0 0;color:#fff; line-height:normal; padding:0 2px 0 2px}
.panel-profile .panel-heading a i{float:right; font-size:16px; color:#fff !important; margin:4px 0 0 15px; background-color:#999;
border-radius:50px; height:20px; width:20px; text-align:center; line-height:20px;-webkit-transition: all 300ms; -o-transition: all 300ms; -ms-transition: all 300ms;-moz-transition: all 300ms;}
.panel-profile .panel-heading a:hover i{ background-color:#ed1c24;}
.profile .profile-post{ padding:0px !important;}

.spctbox{ width:100%;}
.spctbox .spctbox-img{ text-align:center; width:100px; height:100px; overflow:hidden; clear:both; margin:0 auto;}
.spctbox .spctbox-img a{ width:100px; height:100px; -webkit-border-radius:100px;-moz-border-radius:100px;-ms-border-radius:100px;-o-border-radius:100px; background-color:#CCC; float:left}
.spctbox .spctbox-img a.icon-spct-red{ width:70px; height:70px;-webkit-border-radius:100px;-moz-border-radius:100px;-ms-border-radius:100px;-o-border-radius:100px; float:left; background-color:#ed1c24;}
.spctbox .spct-title{ text-align:center; padding:15px 0 15px 0;}
.spctbox .spct-title p{ line-height:normal; color:#000 !important;}

/*--tag-box-10--*/
.tag-box-10, .tag-box-10 .taisan, .tag-box-10 table{ width:100%; background:white; float:left; height: auto; overflow:hidden}
.padding20{ padding:20px;}
.padding30{ padding:30px;}
.tag-box-10 table tr td{ font-size:14px;}
.tag-box-10 table tr td span{ font-size:20px;}
.tag-box-10 .taisan{ padding:0 0 20px 0;}
.tag-box-10 .taisan .taisan-ct h3, .tag-box-10 .taisan .taisan-ct h1{ margin:5px 0 5px 0; padding:0;}
.tag-box-10 .taisan .taisan-ct h3 i{ color:#ed1c24; margin:0 10px 0 0;}
.tag-box-10 .taisan .taisan-ct h1{ font-weight:500; color:#ed1c24; width:auto !important; float:left;}
.progress-bar-blue { background-color:#ed1b24 !important;}
.whitecolor{ background:white}
.color-red-2{ background-color:#ed1c24; color:#fff;}
.no-border{ border:none !important;}

.ruler10{ width:100%; height:10px; overflow:hidden; clear:both;}
.ruler20{ width:100%; height:20px; overflow:hidden; clear:both;}
.ruler30{ width:100%; height:30px; overflow:hidden; clear:both;}
.ruler40{ width:100%; height:40px; overflow:hidden; clear:both;}
.ruler50{ width:100%; height:50px; overflow:hidden; clear:both;}
.ruler-line{ height:20px; width:100%; overflow:hidden; clear:both; display:none;}

.list-group-item{ border:none !important;}

.sidebar-nav-v1 .list-group-item ul.collapse{ margin-bottom:0px !important;}
.sidebar-nav-v1 > li.active, .sidebar-nav-v1 > li.active:hover{ background-color:#ed1c24;}

.sky-form fieldset{ padding:20px;}
.sky-form section{ margin-bottom:0px !important;}

.headcolor-table{ background-color:#dedede; color:#000; text-transform:uppercase; font-size:14px; border-bottom:1px #fff solid;}
.headcolor2-table{background-color:#303030; color:#fff; text-transform:uppercase; font-size:14px;border-bottom:1px #fff solid;}

.sky-form .toggle i:before{ background-color:#ed1c24 !important; top:2px !important;}
.sky-form .radio input:checked + i, .sky-form .checkbox input:checked + i, .sky-form .toggle input:checked + i{border:1px #e5e5e5 solid;}
.sky-form .checkbox input + i:after{color:#000;}
.sky-form .radio i, .sky-form .checkbox i{ top:7px;}

.box-account-info{ background-color:#303030; border-top:4px #ed1b24 solid; padding:20px; float:left; width:100%; height:auto;}
.box-account-info p{ color:#959595; margin:0; padding:0; text-transform:uppercase;}
.box-account-info p i.fa-chevron-right{ color:#ed1b24; margin:0 10px 0 0; font-size:12px;}
.box-account-info h4{ font-size:18px; text-transform:uppercase; font-weight:500; color:#fff; margin:0; padding:0; text-align:left}
.box-account-info span{ text-transform:uppercase; font-weight:bold; color:#ed1b24; float:right}
.box-account-info hr{margin:15px 0 15px 0; border-bottom:none; border-top:1px #434343 solid}

.left-info .box-left-info{ background-color:#636363; border-bottom:1px #737373 solid; padding:10px 14px 10px 14px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;}
.left-info .box-left-info:hover{ background-color:#555555; cursor:pointer}
.left-info .box-left-info p{ font-size:14px; color:#fff; margin:0; padding:0; line-height:40px; text-align:left;}
.left-info .box-left-info p img{ margin:0 15px 0 0;-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;}
.left-info .box-left-info p:hover img{
	transform: translate(10px,0);
    -webkit-transform: translate(10px,0); /** Chrome & Safari **/
    -o-transform: translate(10px,0); /** Opera **/
    -moz-transform: translate(10px,0);}
.left-info .box-left-info p span{ font-weight:bold; float:right}
.left-note{}
.left-note h5{ text-transform:uppercase; color:#ed1b24;}
.left-note::before{ background-color:#ed1b24; width:22px; height:5px;content:""; float:right; margin:10px 0 0 0;}
.left-note p{ text-align:justify; line-height:normal; color:#747474;}
.left-note p b{ color:#000;}

/*--Large-Desktop-2--*/
@media (min-width: 1200px) {
	.large-desktop{ display:block;}
	.small-desktop, .none-desktop, .iphone-desktop-none{ display:none;}
	}
/*--Small-Desktop-2--*/
@media (min-width: 992px) and (max-width: 1200px) {
	.left-info .box-left-info p img{ display:none;}
	.large-desktop, .none-desktop, .iphone-desktop-none{ display:none;}
	.small-desktop{ display:block;}
	}
/*--Fix-Tablet--*/
@media (min-width: 768px) and (max-width: 991px) {
	.spctbox .spctbox-img{ width:80px; height:80px;}
    .spctbox .spctbox-img a{ width:80px; height:80px;}
	.ruler-line, .iphone-desktop-none{ display:block}
	.large-desktop, .none-tablet, .avatar, .ipad-none{ display:none;}
	}
/*--Fix-Phone-Lanscape--*/
@media (min-width: 481px) and (max-width: 767px) {
	.large-desktop, .none-desktop, .avatar, .iphone-desktop-none{ display:none;}
	}
/*--Fix-Phone-Potrait--*/
@media (min-width: 321px) and (max-width: 480px){
	.none-desktop, .avatar, .iphone-desktop-none{ display:none;}
	}
@media (max-width: 320px){
	.none-desktop, .avatar, .iphone-desktop-none{ display:none;}
	}



