/*--@font-face--*/
@font-face {font-family: 'UTM-Swiss-721-Black-Condensed';
    src: url('assets/fonts/UTM-Swiss-721-Black-Condensed.ttf');}
	
@font-face {font-family: 'UTM-HelvetIns';
    src: url('assets/fonts/UTM-HelvetIns.ttf');}
	
@font-face {font-family: 'UTM-Neo-Sans-Intel';
    src: url('assets/fonts/UTM-Neo-Sans-Intel.ttf');}

/*--body--*/	
.wrapper{background:#fafafa}

/*--Mua-ban-*/
.rateInfo, .widget{ width:100%;}
.padding25{ padding:25px}
.rateInfo .widget .widget-header{ padding:0 0 15px 0;}
.rateInfo .widget .widget-header i{ color:#ed1c24}
::selection{color:#fff; background:#ed1c24;}
.widget-content table tr td{ vertical-align:middle; padding:10px !important;}

.alert-warning{ float:left; width:100%;}
.tag-box-9 .sky-form fieldset{ padding:10px}
.tag-box-9 .sky-form fieldset .label{ padding:0px}
.tag-box-9 .sky-form fieldset label p{ margin:10px 0 0 0; font-weight:normal;}
.tag-box-9 .sky-form fieldset label p b{ color:#ed1c24; font-size:16px;}
.tag-box-9 .sky-form fieldset label span{ background-color:#fff; color:#ed1c24; font-size:16px; font-weight:normal; padding:10px 30px; border:1px #e5e5e5 solid;}
.tag-box-9 .sky-form fieldset label select{ font-size:13px;}

/*--sub-banner-(for in site)--*/
.subbanner{ width:100%; position:relative; height:250px; background:#CCC; margin:60px 0 0 0; overflow:hidden;clear:both; text-align:center;}
.subbanner p{ position:absolute; z-index:9999; text-align:center; color:#fff; font-size:26px; font-weight:normal; line-height:normal; top:0;left:0; right:0; margin:100px 0 0 0; text-shadow:0 0 10px rgba(0,0,0,0.1); padding:0 40px 0 40px;font-family:UTM-Neo-Sans-Intel}

.deal{ width:100%; position: relative; height:auto; overflow:hidden; clear:both; padding:15px 0 15px 0; background:#fff; text-align:center;}
.deal a.owl-btn{ padding:10px 30px; background:#ed1c24; font-size:14px; line-height:30px; color:#fff; margin:0 10px 0 0; border:1px #ed1c24 solid;}
.deal a:hover.owl-btn{ text-decoration:none; color:#000; background-color:#fff;}

/*--top-bar--*/
.topbar{ background-color:#fff; width:100%; overflow:hidden; clear:both; top:0; left:0; right:0;border-bottom:1px #fff solid; height:60px; position: fixed; z-index:100000;-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.1);-ms-box-shadow:0px 0px 10px rgba(0,0,0,0.1);-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.1);-o-box-shadow:0px 0px 10px rgba(0,0,0,0.1);}
.topbar .topbar-l{ text-align:left; float:left}
.topbar .topbar-r{ text-align:right; float:right}
.topbar .topbar-l .top-v1-contacts, .topbar .topbar-r .top-v1-data{ margin:0px !important;}
.topbar .topbar-l .top-v1-contacts .navbox{ float:left;}
.topbar .topbar-l .top-v1-contacts .navbox a{ width:60px; height:60px; float:left}
.topbar .topbar-l .top-v1-contacts a img{ float:left; width:250px; margin:15px 0 0 30px;}
.topbar .topbar-r .top-v1-data a.account{ border-left:1px #e7e7e7 solid;padding:20px; height:60px; overflow:hidden;float:right;}
.topbar .topbar-r .top-v1-data a.account{color:#939598; font-size:13px;}
.topbar .topbar-r .top-v1-data a.account i{color:#939598; font-style: normal}
.topbar .topbar-r .top-v1-data a:hover{ text-decoration:none;}
.topbar .topbar-r .top-v1-data a:hover.account i{ color:#ed1c24;}
.topbar .topbar-r .top-v1-data a.account span{ color:#dfdfdf !important; text-decoration:none;}
.topbar .topbar-r .top-v1-data a.hotline, .topbar .topbar-r .top-v1-data a.support{border-left:1px #e7e7e7 solid;padding:20px; height:60px; overflow:hidden; width:60px; float:right}
.topbar .topbar-r .top-v1-data a.hotline i, .topbar .topbar-r .top-v1-data a.support i{visibility:hidden; font-style:normal !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;-ms-transition: all .5s;color:#939598; float:left; width:1px;}
.topbar .topbar-r .top-v1-data a.hotline span, .topbar .topbar-r .top-v1-data a.support span{ font-size:18px; color:#939598; float:left;}
.topbar .topbar-r .top-v1-data a.hotline:hover{ width:170px}
.topbar .topbar-r .top-v1-data a.hotline:hover i, .topbar .topbar-r .top-v1-data a.support:hover i{ visibility:visible; color:#939598;text-decoration:none;float:left;margin:0 0 0 10px;}
.topbar .topbar-r .top-v1-data a.support:hover{ width:300px}

/*--tag-box--*/
.tag-box-title, tag-box-text, tag-box-content, tag-box-chart, tag-box-button, tag-box-logo{ width:100%;}
.tag-box, .tag-box-small{ height: auto; display:block; overflow:hidden; clear:both; background-color:#fff; float:left;border:1px #e7e7e7 solid !important;
/*-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.15);-ms-box-shadow:0px 0px 5px rgba(0,0,0,0.15);
-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.15);-o-box-shadow:0px 0px 5px rgba(0,0,0,0.15);*/
-webkit-transition: all 300ms; -o-transition: all 300ms; -ms-transition: all 300ms;-moz-transition: all 300ms;}
.tag-box:hover, .tag-box-small:hover, .tag-box-nopadd:hover, .tag-box-nopadd-3:hover{-webkit-box-shadow:0px 0px 15px rgba(0,0,0,0.5);-ms-box-shadow:0px 0px 15px rgba(0,0,0,0.5);-moz-box-shadow:0px 0px 15px rgba(0,0,0,0.5);-o-box-shadow:0px 0px 15px rgba(0,0,0,0.5);
cursor:pointer;}
.tag-box .tag-box-chart{ padding:0 0 9px 0;}
.tag-box-content p{ text-align:justify}
.tag-box-title .tag-box-title-l{ width:65px; float:left}
.tag-box-title .tag-box-title-l img{ width:50px;}
.tag-box-title .tag-box-title-r{ width:90%;}
.tag-box-title .tag-box-title-r h6, .tag-box-title .tag-box-title-r h4{ margin:0; padding:0;}
.tag-box-title .tag-box-title-r h4{ color:#000 !important; font-weight:bold; }
.tag-box-text p span.spanl{ float:left; width:50%; text-align:left; text-transform:uppercase;}
.tag-box-text p span.spanr{ float:right; width:50%; text-align:right; font-weight:bold; color:#72c02c}
.tag-box-text p span.spanr img{ width:15px; margin:-5px 5px 0 0;}
.tag-box-text{ padding:0 0 10px 0;}
.tag-box hr{ margin:20px 0 10px 0 !important; overflow:hidden; clear:both; display:block}
.tag-box-button-l{ float:left; width:50%;}
.tag-box-button-r{ float:right; width:50%;}
.tag-box-button{ padding:10px 0 0 0;}
.tag-box-button .tag-box-button-l, .tag-box-button .tag-box-button-r{width:50%;}
.tag-box-button .tag-box-button-l button{ width:95%; float:left; padding:5px 10px;}
.tag-box-button .tag-box-button-r button{ width:95%; float:right; padding:5px 10px;}
.tag-box-button .tag-box-button-l p{ text-align:center; padding:10px 10px 0 0 !important; float:right; font-size:14px}
.tag-box-button .tag-box-button-r p{ text-align:center; padding:10px 0 0 0 !important; float:right; font-size:14px}
.tag-box-button .tag-box-button-r p span, .tag-box-button .tag-box-button-l p span{ font-size:18px; font-weight:500;}
.tag-box-content table thead tr th,
.tag-box-content table tbody tr td{ vertical-align:middle; border:none; padding:0 0 3px 0; font-weight: normal; color:#666;}
.tag-box-content table thead tr th.box50, .tag-box-content table tbody tr td.box50{ width:50%;}
.tag-box-content table thead tr th.box30, .tag-box-content table tbody tr td.box30{ width:30%}
.tag-box-content table thead tr th.box20, .tag-box-content table tbody tr td.box20{ width:30%}
.tag-box-content table tbody tr td{ font-weight:bold !important; color:#000;}
.tag-box-content table{ border:none;}
.tag-box-content table thead tr th span, .tag-box-content table tbody tr td span{ color:#C00;}

.tag-box-logo{ padding:0 0 10px 0;}
.tag-box-logo p img{ float:left; width:50px; margin:0 15px 20px 0;}
.tag-box-logo p{ font-size:14px; color:#000; font-weight:bold; line-height: normal; text-transform:uppercase;}
.tag-box-logo p span{ text-transform:none; font-weight:normal; color:#555; font-size:13px;}
.tag-box-logo h5{ color:#555; font-size:13px;}

/*--tag-box-3--*/
.tag-box-3{height:auto; background:none;padding:20px; float:left; width:100%;}
.tag-box-3 p{ text-align:justify}
.leader{ margin-bottom:30px;}
.leader h3{ color:#000 !important; margin:0; text-align:center}
.leader p b{ font-size:14px;}
.leader p{ text-align:center}
.leader .leader-img{ width:130px; height:130px; margin:0 auto 20px auto; overflow:hidden; clear:both}
.leader .leader-img img{ width:130px; height:130px; border-radius:200px;}
.sky-form{ box-shadow:none !important;}
.sky-form input{ border:1px solid #e5e5e5 !important;}
.sky-form i{ color:#747474 !important;}
.tag-box-3 hr{ margin:0 0 10px 0;}
.tag-box-3 h5{ margin:0 0 2px 0;}
.tag-box-3 .headline{ border-bottom:2px #e6e6e6 solid !important; float:left; width:100%;}
.tag-box-3 .headline h3{ border-bottom:none !important;}
.tag-box-3 .headline h3 i{ color:#ed1c24; margin:0 10px 0 0;}
h4.thumb-headline i{ color:#ed1c24; font-size:16px; line-height:24px; float:left; margin:0 10px 0 0;}
h4.thumb-headline{ color:#000;}

.sub-headline{ width:100%; float:left; overflow:hidden; padding:10px 0 10px 0;}
.sub-headline i.headicon{ color:#fff !important; background-color:#ed1c24; height:40px; width:40px; text-align:center; float:left; line-height:40px; font-size:16px; border-radius:50px; margin:0 15px 0 0;}
.sub-headline span{ float:left; font-size:26px; line-height:40px; color:#000;font-family:UTM-Neo-Sans-Intel}

.tag-box-4{ background:white; width:100%; height:270px; padding:20px;border-bottom:2px #ed1c24 solid; float:left}
.tag-box-4a{ background:white; width:100%; height:200px; padding:20px;float:left}
.tag-box-4ab{background:white; height:220px; padding:20px;}
.tag-box-4 p span{ font-size:18px; color:#ed1c24;}
.tag-box-4 hr{ margin:10px 0 10px 0;}
.tag-box-5{ width:100%; background-color:#eeeeee;float:left;height:auto; padding:20px 30px 20px 30px;}
.tag-box-6{width: 100%;height: auto;padding:30px 0 30px 0;position: relative;background: url(../images-add/quymoquy-bg2.jpg) no-repeat center top;float:left}
.tag-box-7{width: 100%;height: 350px;position: relative; background-color:#58595b; padding:10px;float:left}
.tag-box-7-in{ padding:30px; border:2px #848589 dotted; height:100%; overflow:hidden; clear:both;}
.tag-box-7 h4.thumb-headline, .tag-box-7 p{ color:#fff;}
.tag-box-8{ width:100%; height:auto; position:relative; background:white; border-left:2px #333 solid; padding:15px 20px; float:left}
.tag-box-8 span{ float:left; width:80%;}
.tag-box-8 a{ float:right; color:#ed1c24; text-transform:uppercase; padding:0 0 0 20px; font-size:16px; line-height:normal}
.tag-box-9{ float:left; width:100%; padding:10px 0 0 0; background-color:#fff; height:auto;}

.width20{ width:20%;}

/*--tag-box-nopadd-2--*/
.tag-box-nopadd-2{ border:1px #ebebeb solid; width:100%; overflow:hidden; clear:both;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in{}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered{ width:100%; float:left; overflow:hidden; clear:both; margin:0 0 0 0 !important; border:none !important;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column,
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column-2{ float:left; height:auto;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column p{ text-align:left; padding:0; margin:0 0 5px 0;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column p b{ color:#000; font-size:14px;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column img{ float:left; width:55px; margin:0 0 0 0;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column h4,
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column h6{ margin:0; padding:0 0 0 15px; text-align:left; float:left; line-height:normal}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column h4{ font-weight:bold; color:#000;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column img.piechart{ width:35px; margin:10px 10px 0 0;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column p.bounce{font-size:13px; text-align:center !important; padding:18px 0 0 0;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column a i.fa-plus-square{font-size:30px; color:#808285 !important; padding:10px 0 0 0;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column a i.fa-check-square-o{font-size:30px; padding:10px 0 0 0;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column a:hover i{ color:#ed1c24 !important;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column-2 p{ text-align:right; line-height: normal; margin:0; padding:5px 0 0 0;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column-2 p span{ font-weight:bold; color:#72c02c; font-size:18px}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column-2 img{ width:170px;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td.tdtitle{ background-color:#58595b; padding:15px 10px; border:none !important}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td.tdtitle h5{ margin:0px !important; font-weight: normal; color:#fff; text-transform:uppercase; font-size:16px;}
.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered>tbody>tr>td{ border-right:none;border-top:none;border-left:none; padding:20px 10px 20px 10px; border-bottom:1px #ececec solid; background-color:#fff;}

/*-- tag-box-small --*/
.tag-box-small{ padding:10px 10px 0 10px !important;}
.tag-box-small .tag-box-title .tag-box-title-l{ width:45px;}
.tag-box-small .tag-box-title .tag-box-title-l img{ width:35px;}
.tag-box-small .tag-box-title .tag-box-title-r h6, .tab-box-small .tag-box-title .tag-box-title-r h4{ margin:0; padding:0; line-height: normal}
.tag-box-small .tag-box-title .tag-box-title-r, .tab-box-small .tag-box-title .tag-box-title-l{ padding:0 0 10px 0;}
.tag-box-small .tag-box-button{ padding:5px 0 0 0;}
.tag-box-small .tag-box-button .tag-box-button-l p{padding:5px 10px 0 0 !important}
.tag-box-small .tag-box-button .tag-box-button-r p{padding:5px 0 0 0 !important}
.tag-box-small .tag-box-button .tag-box-button-l button,
.tag-box-small .tag-box-button .tag-box-button-r button{padding:3px 7px;}
.tag-box-small hr{margin:0px !important; overflow:hidden; clear:both; display:block}
.tag-box-small .tag-box-button .tag-box-button-l p, .tag-box-small .tag-box-button .tag-box-button-r p{ font-size:12px;}
.tag-box-small .tag-box-button .tag-box-button-r p span, .tag-box-small .tag-box-button .tag-box-button-l p span{ font-size:15px;}

/*--Tag-Box-Nopadd--*/
.tag-box-nopadd{ background-color:#fff; height:auto; overflow:hidden; clear:both;position:relative;-webkit-transition: all 300ms; -o-transition: all 300ms; -ms-transition: all 300ms;-moz-transition: all 300ms; border-bottom:1px #e7e7e7 solid !important; padding:0 0 15px 0;/*-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.1);-ms-box-shadow:0px 0px 10px rgba(0,0,0,0.1);-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.1);-o-box-shadow:0px 0px 10px rgba(0,0,0,0.1);*/}
.tag-box-nopadd .tag-box-img{ height:95px; background-color:#830a16;}
.tag-box-nopadd .tag-box-img .tag-box-img-title{ position:absolute; padding:7px 0 0 15px}
.tag-box-nopadd .tag-box-img .tag-box-img-title i{ font-size:21px; color:#fff; line-height: normal;}
.tag-box-nopadd .tag-box-img .tag-box-img-title h3{ color:#fff; text-transform:uppercase; font-family:UTM-Swiss-721-Black-Condensed; font-size:42px; margin:0; padding:0;}
.tag-box-nopadd .tag-box-img a.addcart{ position:absolute; right:0; margin-right:20px; margin-top:73px; width:45px; height:45px;
text-align:center;}
.tag-box-nopadd .tag-box-img a:hover.addcart i,
.tag-box-nopadd-3 .righttag-box-nopadd-3 .righttag-box-nopadd-3in .righttag-box-nopadd-title a:hover.addcart i{ background-color:#000;}
.tag-box-nopadd .tag-box-img a.addcart i,
.tag-box-nopadd-3 .righttag-box-nopadd-3 .righttag-box-nopadd-3in .righttag-box-nopadd-title a.addcart i{ height:45px; width:45px; color:#fff; background-color:#ed1c24; -moz-border-radius:50px;-ms-border-radius:50px;-o-border-radius:50px;-webkit-border-radius:50px; font-size:26px; line-height:46px;-webkit-transition: all 300ms; -o-transition: all 300ms; -ms-transition: all 300ms;-moz-transition: all 300ms;}
.tag-box-nopadd .tag-box-img a.plus-icon{ position:absolute; width:41px; height:41px; background-color:#ed1c24; text-align:center; border-radius:50px; right:0; margin-top:-20px; margin-right:15px;}
.tag-box-nopadd .tag-box-img a.plus-icon span{ color:#fff; font-size:18px; line-height:41px}
.tag-box-nopadd .tag-box-logo{padding:15px;}
.tag-box-nopadd .tag-box-content{ padding:0px 15px 0px 15px;}
.tag-box-nopadd .tag-box-button{ padding:5px 15px 5px 15px;}
.tag-box-nopadd .tag-box-logo p{ font-size:14px;}
.tag-box-nopadd .tag-box-logo p span{ font-size:13px; color:#666;}
.tag-box-button .tag-box-button-l button:hover.redcode,
.tag-box-button .tag-box-button-r button:hover.graycode,
.tag-box-img a:hover.plus-icon{opacity: 0.7; filter: alpha(opacity=70);}
.tag-box-img a:hover.plus-icon{margin-top:-25px;}

/*--tag-box-nopadd-3--*/
.tag-box-nopadd-3{ width:100%; float:left; height:auto;background-color:#dcddde;-webkit-transition: all 300ms; -o-transition: all 300ms; -ms-transition: all 300ms;-moz-transition: all 300ms;}
.tag-box-nopadd-3 .lefttag-box-nopadd-3{ float:left; background-color:#fff; height:100%;}
.tag-box-nopadd-3 .lefttag-box-nopadd-3 p{ margin:0;}
.tag-box-nopadd-3 .lefttag-box-nopadd-3 p a{ color:#000; background-color:#fff; text-transform:uppercase; text-align:center;font-weight: normal; font-size:16px; width:50%; float:left; text-align:center; padding:12px 0 12px 0;}
.tag-box-nopadd-3 .lefttag-box-nopadd-3 p a.buy-btn{ border-right:1px #d1d3d4 solid;}
.tag-box-nopadd-3 .lefttag-box-nopadd-3 p a:hover{ background-color:#ed1c24; text-decoration:none; color:#fff;}

.tag-box-nopadd-3 .righttag-box-nopadd-3{float:left;}
.tag-box-nopadd-3 .righttag-box-nopadd-3 .righttag-box-nopadd-3in{ padding:20px;}
.tag-box-nopadd-3 .righttag-box-nopadd-3 .righttag-box-nopadd-3in .righttag-box-nopadd-title,
.tag-box-nopadd-3 .righttag-box-nopadd-3 .righttag-box-nopadd-3in .righttag-box-nopadd-ct{ width:100%; float:left;}
.tag-box-nopadd-3 .righttag-box-nopadd-3 .righttag-box-nopadd-3in .righttag-box-nopadd-ct{ padding:17px 0 0 0;}
.tag-box-nopadd-3 .righttag-box-nopadd-3 .righttag-box-nopadd-3in .righttag-box-nopadd-title{ padding:0 0 15px 0; border-bottom:1px #eeeeef solid;}
.tag-box-nopadd-3 .righttag-box-nopadd-3 .righttag-box-nopadd-3in .righttag-box-nopadd-title h3{ font-size:22px; color:#000; margin:0; padding:0;}
.tag-box-nopadd-3 .righttag-box-nopadd-3 .righttag-box-nopadd-3in .righttag-box-nopadd-title p{ margin:0; font-size:16px;}
.tag-box-nopadd-3 .righttag-box-nopadd-3 .righttag-box-nopadd-3in .righttag-box-nopadd-title a.addcart{ float:right;width:45px; height:45px; text-align:center}

/*-- headline --*/
.headline{width:100%; float:left; border-bottom:none !important;height:auto;}
.headline .headline-l{ width:30%; text-align:left; float:left;}
.headline .headline-l h2{}
.headline .headline-l h2 a{ color:#939598; font-family:UTM-Neo-Sans-Intel}
.headline .headline-l h2 a:hover{ text-decoration:none;}
.headline .headline-r{ width:70%; text-align:right; float:right; position:relative}
.headline .headline-r .btn-group{ }
.headline .headline-r .btn-group button.btn{ border:none; margin:-5px 10px 0 0;background:none;}
.headline .headline-r .btn-group button.btn i{ color:#939598;}
.headline .headline-r a.owl-btn{ padding:7px 15px !important; background:none; font-size:16px; line-height:30px; color:#939598; margin:0 10px 0 0;}
.headline .headline-r a:hover.owl-btn{ text-decoration:none; color:#fff;}
.headline .headline-r a.owl-btn span{ font-size:13px; padding:0 10px 0 10px;}
.headline .headline-r .btn-group ul.dropdown-menu{ box-shadow:none !important; position: absolute;top:100%;z-index: 1000;min-width: 210px; font-size: 13px;text-align: left;list-style: none;background-color: #fff; padding:0px !important;}
.headline .headline-r .btn-group ul.dropdown-menu li{}
.headline .headline-r .btn-group ul.dropdown-menu li a{ padding:13px !important;}
.headline .headline-r .btn-group ul.dropdown-menu li a i{ font-size:12px; margin:0 10px 0 0; color:#ed1c24;}
.headline .headline-r a:hover.owl-btn, .headline .headline-r .btn-group button:hover.btn{ background-color:#999 !important;}
.headline .headline-r .btn-group button:hover.btn i{ color:#fff;}
.headline .headline-r a.listview,
.headline .headline-r a.boxview{ margin:0 0 0 15px;}
.headline .headline-r a.listview i,
.headline .headline-r a.boxview i{ font-size:26px; color:#808285}
.headline .headline-r a:hover.listview i,
.headline .headline-r a:hover.boxview i{ color:#000}

/*-- Search --*/
input {outline: none;color: #939598;}
input[type=search] {-webkit-appearance: textfield;-webkit-box-sizing: content-box;font-family: inherit;font-size: 100%;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {display:none; }
input[type=search] {background:transparent url(../images-add/search-icon.png) no-repeat 9px center;
padding: 5px 10px 5px 32px; width:55px;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;-ms-transition: all .5s; border:none;}
input[type=search]:focus {width:80px;background-color:rgba(0,0,0,0);}
input:-moz-placeholder {color: #939598; font-size:13px;}
input::-webkit-input-placeholder {color: #939598; font-size:13px;}

/*-- navigation --*/
.navigation{ background-color:#333; width:60px; height:auto; z-index:9000009;position:fixed; top:0; left:0;}
.navigation ul.navig{ margin:0; padding:0; display:none; height:60px; float: left; width:60px;}
.navigation:hover ul.navig{ display:block; height:300px;}
.navigation ul.navig li{list-style:none; float:left; width:60px; height:60px;-moz-transition: all 1s ease;-webkit-transition: all 1s ease;
-o-transition: all 1s ease; transition: all 1s ease; padding:13px;}
.navigation ul.navig li:hover{ background-color:#ed1c24; width:240px;}
.navigation ul.navig li a{text-decoration:none !important;}
.navigation ul.navig li a img{ width:35px; float:left; margin:0 20px 0 0;}
.navigation ul.navig li a p{ color:#fff; font-size:14px; text-transform: uppercase; line-height:35px; visibility:hidden; font-weight:normal; overflow:hidden;-moz-transition: all 1s ease;-webkit-transition: all 1s ease;-o-transition: all 1s ease; transition: all 1s ease; display:none;}
.navigation ul.navig li a:hover p{ visibility:visible; color:#fff; display:block}

/*--infoFooter--*/
.infofooter{ width:100%;height:auto; z-index:99999; bottom:0; background:#000; position:fixed; border-top:1px #373739 solid;}
.infofooter .infofooter-in{margin:0 auto 0 auto; height:auto; max-width:1140px; width:100%}
.infofooter .infofooter-in .infofooter-ct{ width:100%; height:auto;}
.ctmoney, .plussign, .icon{ float:left; background-color:#000; height:70px; border-left:1px #373739 solid;}
.ctmoney{ width:20%}
.plussign, .icon{ width:5%; text-align:center;}
.plussign img, .icon img{ width:23px; margin:24px 0 0 0;}
.ctmoney1, .ctmoney2{ text-align:center; width:100%; line-height: normal;}
.ctmoney1{ padding:13px 5px 3px 5px; font-size:20px; color:#fff;}
.ctmoney2{ text-transform:uppercase; color:#999}

/*--others--*/
.graybox{ background-color:#f9f9f9}
.align-center{ text-align:center}
.align-left{ text-align:left}
.align-right{ text-align:right}
.vertical-align-middle{ vertical-align:middle}
.noborder-bottom{ border-bottom:none !important}
.rtl{ text-align:right;}
.headline h2{border-bottom: 2px solid #ed1c24 !important;}
.ruler10{ width:100%; height:10px; overflow: hidden; clear:both;}
.ruler20{ width:100%; height:20px; overflow: hidden; clear:both;}
.ruler30{ width:100%; height:30px; overflow: hidden; clear:both;}
.ruler40{ width:100%; height:40px; overflow: hidden; clear:both;}
.ruler50{ width:100%; height:50px; overflow: hidden; clear:both;}
.ruler60{ width:100%; height:60px; overflow: hidden; clear:both;}
.ruler70{ width:100%; height:70px; overflow: hidden; clear:both;}
.ruler80{ width:100%; height:80px; overflow: hidden; clear:both;}
.ruler90{ width:100%; height:90px; overflow: hidden; clear:both;}
.ruler100{ width:100%; height:100px; overflow: hidden; clear:both;}
.noborder{ border:none !important} 
.noborder-left{ border-left:none !important}
.noborder-right{border-right:none !important}
.noshadow{ box-shadow:none !important;}
#topcontrol:hover{ background:#ed1c24 !important}
#topcontrol { display: block; z-index:10000000 !important;}
.desktop2{ display:none;}
.desktopnone{ display:none;}
.redcode{ background-color:#ed1c24 !important;}
.graycode{ background-color:#808285 !important}
.padding-bottom{ padding-bottom:15px;}
.revolution-ch1{ font-family:UTM-HelvetIns !important;}
.revolution-ch2{ color:#a3a5a8;}

/*--indexl.html (slide)--*/
.container-up{  width:100%; height: auto; position: relative;}
.container-up-relative{ position:relative; width:100%;}
.bg-number-1{ width:100%; height:560px;background:transparent url(../images-add/cophieu-bg.jpg) no-repeat top center;}
.cophieu{ position:absolute; z-index:1000; right:0; left:0; background:none; bottom:0; margin-bottom:30px;}
.traiphieu{position:relative;padding: 35px 0 35px 0; background-color:#fafafa; width:100%;}
.images-title-1{ background-image:url(../images-add/images-1.jpg); background-size: cover; background-repeat:no-repeat}
.images-title-2{ background-image:url(../images-add/images-2.jpg); background-size: cover; background-repeat:no-repeat}
.images-title-3{ background-image:url(../images-add/images-3.jpg); background-size: cover; background-repeat:no-repeat}
.images-title-4{ background-image:url(../images-add/images-4.jpg); background-size: cover; background-repeat:no-repeat}
.images-title-5{ background-image:url(../images-add/images-5.jpg); background-size: cover; background-repeat:no-repeat}

.intro-bond h1{ font-size:46px; color:#000; line-height:50px;font-family:UTM-Neo-Sans-Intel}
.intro-bond ul{ margin:20px 0 0 0;}
.intro-bond ul li i{ color:#ed1c24; font-size:5px; margin:0 10px 0 0;}
.intro-bond ul li{ font-size:16px; color:#696969; line-height:30px; font-weight:normal}
.intro-bond button{ margin:20px 0 0 0; padding-left:20px; padding-right:20px;}
.intro-bond button i{ margin:0 10px 0 0;}
.intro-bond p{ font-size:16px;}

/*--hotline--*/
.hotlinect{ width:100%; height: auto; background-color:#e6e7e8; padding:30px 0 30px 0; text-align:center}
.hotlinect p i{font-size:36px; color:#000; margin:10px 15px 0 0;}
.hotlinect p span{ color:#7f8185; font-size:26px; font-weight:200;}

.spcautruc {width: 100%;height: auto;padding:30px 0 30px 0;position: relative;background: url(../images-add/spcautruc-bg.jpg) no-repeat center top;}
.quy{ width:100%; padding:35px 0 35px;}
.padding-top50{ padding:50px 0 0 0}

.intro{ width:100%; height:auto; position:relative; background: url(../images-add/intro-bg.jpg) no-repeat center top;
padding:30px 0 30px 0;}
.intro p img.arrow-left{width:34px; height:auto; margin:0 15px 0 0;}
.intro p{ line-height: normal; font-size:20px; font-style: italic; margin:10px; padding:0;}
.intro p img.arrow-right{width:34px; height:auto; margin:0 0 0 15px;}
.intro p{ text-align:center}

.phaisinh{ width:100%; padding:30px 0 30px 0;position: relative;background: url(../images-add/phaisinh-bg.png) repeat center top;}
.quymoquy{ width:100%; position: relative;background: url(../images-add/quymoquy-bg.jpg) no-repeat center top;}
.cldautu{ width:100%; position:relative; background-color:#fff;}
.uudiemquy{width:100%; position: relative;background: url(../images-add/dotted-2.png) repeat center top;}
.uudiemquy table{ border:1px #eee solid}
.uudiemquy table tr td, .uudiemquy table tr th{ padding:20px 15px;background:white; border:1px #eee solid;}

/*--footer--*/
.footer{ background-color:#262628; padding:35px 0 35px 0; width:100%; position:relative; margin:0 0 70px 0; overflow:hidden; clear:both}
.footer p{ text-align:center;}
.footer p a i{ color:#807f80; font-size:24px; height:40px; width:40px;background-color:#454547; line-height:40px; margin:0 10px 0 10px; -webkit-border-radius:50px; -o-border-radius:50px;-ms-border-radius:50px;-moz-border-radius:50px;-webkit-transition: all 300ms; -o-transition: all 300ms; -ms-transition: all 300ms;-moz-transition: all 300ms;}
.footer p a{ width:40px; height:40px;}
.footer p a:hover i{ background-color:#ed1b24; color:#fff;}
.footer p span{ color:#939598; font-size:12px;} 

/*--Small-Desktop-2--*/
@media (min-width: 992px) and (max-width: 1200px) {
	.phaisinh .desktop2{ display:block;}
	.phaisinh .desktop1{ display:none;}
    .tag-box-nopadd .tag-box-img .tag-box-img-title h3{ font-size:30px;}
	}
/*--Fix Tablet--*/
@media (min-width: 768px) and (max-width: 991px) {
	.ipadnone{ display:none;}
    .infofooter .infofooter-in{width:100%;}
    #topcontrol {display:none}
	.phaisinh .desktop2{ display:block;}
	.phaisinh .desktop1{ display:none;}
	.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column img{ width:30px; margin:5px 0 0 0;}
	.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column img.piechart{ width:25px; margin:8px 0 0 0;}
	.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column p.bounce{ padding:13px 0 0 0;}
	.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column a i.fa-plus-square,
	.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column a i.fa-check-square-o{ padding:5px 0 0 0;}
	.tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column-2 p span{ font-size:14px;}
    .tag-box-nopadd-2 .tag-box-nopadd-2-in table.table-bordered tr td .column-2 img{ width:130px;}
	.headline .headline-r .btn-group ul.dropdown-menu{right:0; left: auto; margin-right:-68px;}
	.cophieu{ margin-bottom:-10px;}
	.width20{ width:100%;}
	.tag-box-4a, .tag-box-4ab, .tag-box-7{ height:auto;}
	}
/*--Fix Phone--*/
@media (max-width: 767px) {
	.tag-box-small{ display:none;}
	.iphonenone{ display:none;}
	.ctmoney1{ padding:13px 5px 3px 5px; font-size:16px;}
    .ctmoney2{ font-size:11px}
	.plussign img, .icon img{ width:15px; margin:30px 0 0 0;}
	.infofooter .infofooter-in{width:100%;}
	#topcontrol { display:none}
	.desktopnone{ display:block}
	.phaisinh .desktop2{ display:block;}
	.phaisinh .desktop1{ display:none;}
	.customNavigation a.listview, .customNavigation a.boxview{ display:none;}
	.headline .headline-r .btn-group ul.dropdown-menu{right:0; left: auto; margin-right:-68px;}
	.row-traiphieu{ margin-left:-10px; margin-right:-10px}
	.cophieu{margin-bottom:-50px;}
	.hotlinect p span{ font-size:16px;}
	.width20{ width:100%;}
	.subbanner p{ font-size:20px; margin-top:60px;}
	.tag-box-4a, .tag-box-4ab, .tag-box-4, .tag-box-7{ height:auto;}
	}


