/*
 .top-bar {
 border-bottom: 1px solid rgba(0,0,0,0.05);
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 z-index: 1000;
 background: white !important;
 padding: 0px !important;
 }
 */
.social .navbar-form {
	margin: 0px;
}
.global-nav {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 46px;
	position: relative;
	width: 100%;
}
.global-nav-inner {
	background: #fff;
	height: 46px;
}
div.top-bar {
	padding: 0px;
}
div.top-number {
	padding-top: 5px;
}
.top-bar .small-logo {
	height: 46px;
	width: 250px;
	background: url("../../images/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
}
.profile {
}
.profile .profile-img {
	height: 300px;
	background-image: url("../../images/no-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
@media (max-width: 991px) {
	.profile .profile-img {
		height: 400px;
	}
}
@media (max-width: 480px) {
	.profile .profile-img {
		height: 375px;
	}
}
.loading {
	position: fixed;
	width: 50px;
	height: 50px;
	top: 120px;
	left: 50%;
	margin-left: -25px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
	z-index: 100;
}
.profile .sky-form {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}
.top-bar .line {
	width: 1px;
	height: 46px;
	background: rgba(0,0,0,0.05);
	display: inline-block;
	vertical-align: middle;
	margin: 0px 7px;
}
.top-bar .header-profile {
	display: inline-block;
	float: right;
	text-align: right;
	color: white;
	height: 35px;
}
.top-bar .header-profile a {
	color: white;
	height: 35px;
	line-height: 35px;
	min-width: 100px;
	display: inline-block;
	text-align: left;
}
.top-bar .header-profile > li {
	display: inline-block;
	position: relative;
}
.top-bar .header-profile .submenu a {
	display: block;
	text-align: left;
	color: #333;
}
.top-bar .header-profile .small-avatar {
	width: 32px;
	height: 32px;
	background-image: url("../../images/default_profile.jpg");
	background-size: cover !important;
	background-position: center center;
	border-radius: 50%;
	border: 1px solid #EEE;
	display: inline-block;
	vertical-align: middle;
}
.top-bar .header-profile .name {
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
	padding-left: 9px;
}

.profile-edit .control.mode-1 .mode-1 {
	display: inline-block;
}
.profile-edit .control.mode-1 .mode-2 {
	display: none;
}
.profile-edit .control.mode-2 .mode-1 {
	display: none;
}
.profile-edit .control.mode-2 .mode-2 {
	display: inline-block;
}
.profile-edit .text-edit {
	width: 100%;
	border: 0px;
	color: #333;
}
.profile-edit .text-edit.multi {
	padding-bottom: 12px;
}
.profile-edit .select {
	background-color: #fff;
	height: 35px;
	border: 1px #c2c2c2 solid;
	display: inline-block;
}
.profile-edit .id-inline {

}

.hide {
	display: none;
}
.header-profile {
	padding: 0px;
	margin: 0px;
	list-style: none;
	position: relative;
}
.header-profile li .submenu {
	position: absolute;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-sizing: border-box;
	display: none;
	left: 0px;
	z-index: 1000;
	background-color: white;
	top: 34px;
}
.social .lag {
	padding-top: 5px;
}
.header-profile li:hover {
	background: #ed1c24;
}
.header-profile li:hover .submenu {
	display: block;
}
.header-profile li .submenu li {
	padding: 0px 12px;
}
.header-profile li .submenu li:hover {
	background: #222222;
}
.header-profile li .submenu li:hover a {
	color: white;
}
.error {
	color: #ed1c24;
}
.admin-user .panel {
	background: white;
}
div.datepicker {
	margin-top: 7px !important;
}
div.blog-info-acc {
	border: 0px;
}
.acccount-err-msg {
	display: none;
}
.acccount-err-msg.show {
	display: block;
}
.btn2 {
	padding: 12px 30px 12px 30px;
	border: none !important;
	font-size: 16px;
	font-weight: normal;
	margin: 20px 0 0 0;
	width: 100%;
	text-transform: uppercase;
	background-color: #ea252f;
	color: white;
}
.btn2:hover {
	background-color: #000;
	padding: 12px 30px 12px 30px;
	border: none !important;
	font-size: 16px;
	font-weight: normal;
	margin: 20px 0 0 0;
	width: 100%;
	text-transform: uppercase;
	color: white;
}
a.dashboard-btn {
	height: 45px !important;
	text-decoration: none;
	line-height: 42px !important;
	font-weight: normal !important;
	font-size: 16px !important;
}
a.dashboard-btn:hover {
	text-decoration: none;
}
.fullscreen {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1001;
	display: none;
}
.fullscreen .bg {
	background: rgba(0,0,0,0.0);
	position: absolute;
	width: 100%;
	height: 100%;
}
.fullscreen.show .bg {
	display: block;
	background: rgba(0,0,0,0.5);
}
.fullscreen .popup {
	margin-top: 50px;
}
.no-data-message {
	text-align: center;
	border: 0px;
	padding-top: 100px !important;
	color: #333;
}
.personal-chart-wrapper {
	height: 372px;
	padding-top: 25px;
}
#addText .personal-pie-title {
	position: absolute;
	text-align: center;
	left: 140px !important;
	top: 165px !important;
	width: 200px !important;
}
#addText .personal-pie-title .up-title {
	font-size: 13px;
	color: #000;
}
#addText .personal-pie-title .lower-title{
	color: #ed1c24;
	font-size: 16px;
}
