<div class="tab-pane fade in active anim-slide-left" id="detail">
    <div class="snapshot">
      <div class="snapshot-box r-noneline">
        <div class="snapshot-box-l"> <span>{{stockData.symbol}}</span>
          <p>{{stockData.companyName}}</p>
        </div>
        <div class="snapshot-box-r"> <a href="./invest/sso">Giao dịch</a> </div>
      </div>
      <div class="snapshot-box snapshot-box-none">
        <div class="snapshot-box-m"> <span>{{stockData.seBalance}}</span>
          <p>SLCP nắm giữ</p>
        </div>
      </div>
      <div class="snapshot-box ipnone">
        <div class="snapshot-box-m"> <span ng-class="stockData.realtimePriceChange >= 0 ? 'green': 'red' " >{{stockData.realtimePrice | stockprice}}</span>
          <p>Giá hiện tại</p>
        </div>
      </div>
      <div class="snapshot-box ipnone">
        <div class="snapshot-box-m"> <span>{{(stockData.realtimePrice * stockData.seBalance) | currency}}</span>
          <p>Giá trị CK</p>
        </div>
      </div>
      <div class="snapshot-box r-noneline ipnone">
        <div class="snapshot-box-m"> 
        	<span>{{stockData.seBalance | stockprofit:stockData.costPriceO:stockData.costPriceI:stockData.realtimePrice | currency}} 
        		<i  style="font-size:12px" class="{{stockData.costPriceO | stockprofitcolor:stockData.costPriceI:stockData.realtimePrice}}">({{stockData.seBalance | stockprofitpercent:stockData.costPriceO:stockData.costPriceI:stockData.realtimePrice}}%)</i>
        	</span>
          		<p>LN chưa thực hiện</p>
        </div>
      </div>
      <div class="sn-btn"> 
            <a href="javascript:void(0);" ng-click="prevSymbol()"><i class="fa fa-angle-left"></i></a> 
            <a href="javascript:void(0);" ng-click="nextSymbol()"><i class="fa fa-angle-right"></i></a> 
        </div>
    </div>
    <div class="snapshot desk-ipad-none">
      <div class="snapshot-box width1p3 ipnone2">
        <div class="snapshot-box-m text-center"> <span>{{stockData.seBalance}}</span>
          <p>SLCP nắm giữ</p>
        </div>
      </div>
      <div class="snapshot-box width1p3">
        <div class="snapshot-box-m text-center"> <span>{{stockData.realtimePrice | stockprice}}</span>
          <p>Giá hiện tại</p>
        </div>
      </div>
      <div class="snapshot-box width1p3">
        <div class="snapshot-box-m text-center"> <span>{{(stockData.realtimePrice * stockData.seBalance) | currency}}</span>
          <p>Giá trị CK</p>
        </div>
      </div>
      <div class="snapshot-box r-noneline width1p3">
        <div class="snapshot-box-m text-center"> <span>{{stockData.seBalance | stockprofit:stockData.costPriceO:stockData.costPriceI:stockData.realtimePrice | currency}}
         <i class="{{stockData.costPriceO | stockprofitcolor:stockData.costPriceI:stockData.realtimePrice}}">({{stockData.seBalance | stockprofitpercent:stockData.costPriceO:stockData.costPriceI:stockData.realtimePrice}}%)</i></span>
          <p>LN chưa thực hiện</p>
        </div>
      </div>
    </div>
    <div class="boxin-padd">
      <div class="col-md-6 col-sm-6 col-xs-12">
      	<highchart config="hChart.chartConfig"></highchart>
        <table>
          <tr>
            <td class="text-center label-name2">P/E</td>
            <td class="text-center">{{pe}}</td>
            <td class="text-center label-name2">P/B</td>
            <td class="text-center">{{pb}}</td>
          </tr>
          <tr>
            <td class="text-center label-name2">ROA</td>
            <td class="text-center">{{roa}}%</td>
            <td class="text-center label-name2">ROE</td>
            <td class="text-center">{{roe}}%</td>
          </tr>
        </table>
      </div>
      <div class="linebox20"></div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <table class="talbe">
          <tr>
            <td class="text-left headcolor-table">Giao dịch</td>
            <td class="text-center headcolor-table">Ngày</td>
            <td class="headcolor-table text-center ipnone">KL khớp</td>
            <td class="text-center headcolor-table ipnone">Giá khớp</td>
            <td class="headcolor-table text-center">Giá trị GD</td>
            <td class="text-center headcolor-table ipnone smalldeskt-none">Lợi nhuận<br/>
              (vnd)</td>
            <td class="text-center headcolor-table">Lợi nhuận<br/>
              (%)</td>
          </tr>
          <tr ng-repeat="history in orderHistory">
            <td class="text-left" ng-class="history.exectype == 'NB' ? 'green' : 'red'">{{history.exectype_name}}</td>
            <td class="text-center">{{history.txdate | formatDate}}</td>
            <td class="text-center ipnone">{{history.matchqtty | currency}}</td>
            <td class="text-center ipnone">{{history.matchprice | stockprice}}</td>
            <td class="text-center">{{(history.matchqtty * history.matchprice) | currency}}</td>
            <td class="text-center green ipnone smalldeskt-none" data-ng-class="history.pnl >= 0 ? 'green' : 'red'">{{history.pnl | currency}}</td>
            <td class="text-center" data-ng-class="history.pcProfitAndLoss >= 0 ? 'green' : 'red'">{{history.pcProfitAndLoss | percent:2}}</td>
          </tr>
        </table>
      </div>
    </div>
      </div>