<div class="tab-pane fade in anim-slide-left padding-top-80 boxin-padd-2" id="effective" style="margin-top:46px;">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
            <highchart config="ivChart.chartConfig"></highchart> 
            <div class="anim-fade" ng-show="ivChart.loading">
                <div class="loading-overlay">
                  <img src="assets/images/spin.svg"/>
                </div>
            </div>
      </div>
      <div class="linebox20"></div>
      <div class="col-md-6 col-sm-6 col-xs-12"> 
        <highchart config="daily.chartConfig"></highchart> 
        <div class="anim-fade" ng-show="daily.loading">
            <div class="loading-overlay">
              <img src="assets/images/spin.svg"/>
            </div>
        </div>
    </div>
    </div>
    <div class="loinhuan">
      <table class="table-list">
        <tbody>
          <tr>
            <td class="text-left title-table" colspan="8"><i class="fa fa-tachometer"></i>Lợi nhuận</td>
          </tr>
          <tr>
            <td class="text-left headcolor-table">thời gian</td>
            <td class="text-center headcolor-table ipnone">1 tuần</td>
            <td class="headcolor-table text-center">1 tháng</td>
            <td class="text-center headcolor-table ipnone">3 tháng</td>
            <td class="headcolor-table text-center ipnone">6 tháng</td>
            <td class="text-center headcolor-table">1 năm</td>
            <td class="text-center headcolor-table ipnone">từ đầu</td>
            <td class="text-center headcolor-table">trung bình/năm</td>
          </tr>
          <tr>
            <td class="text-left label-name">danh mục</td>
            <td class="text-center ipnone"><span ng-bind="benchmark.userData.Weekly"/>%</td>
            <td class="text-center"><span ng-bind="benchmark.userData.Monthly"/>%</td>
            <td class="text-center ipnone"><span ng-bind="benchmark.userData.Three_Months"/>%</td>
            <td class="text-center ipnone"><span ng-bind="benchmark.userData.Six_Months"/>%</td>
            <td class="text-center"><span ng-bind="benchmark.userData.Yearly"/>%</td>
            <td class="text-center ipnone"><span ng-bind="benchmark.userData.Current"/>%</td>
            <td class="text-center"><span ng-bind="benchmark.userData.average_year"/>%</td>
          </tr>
          <tr>
            <td class="text-left label-name">VNINDEX</td>
            <td class="text-center ipnone"><span ng-bind="benchmark.vnIndexData.Weekly"/>%</td>
            <td class="text-center"><span ng-bind="benchmark.vnIndexData.Monthly"/>%</td>
            <td class="text-center ipnone"><span ng-bind="benchmark.vnIndexData.Three_Months"/>%</td>
            <td class="text-center ipnone"><span ng-bind="benchmark.vnIndexData.Six_Months"/>%</td>
            <td class="text-center"><span ng-bind="benchmark.vnIndexData.Yearly"/>%</td>
            <td class="text-center ipnone"><span ng-bind="benchmark.vnIndexData.Current"/>%</td>
            <td class="text-center"><span ng-bind="benchmark.vnIndexData.average_year"/>%</td>
          </tr>
        </tbody>
      </table>
      <div class="anim-fade-block" ng-show="benchmark.loading">
            <div class="loading-overlay" colspan="8">
                <img src="assets/images/spin.svg"/>
            </div>
        </div> 
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12"> 
        <highchart config="monthly.chartConfig"></highchart> 
            <div class="anim-fade" ng-show="monthly.loading">
                <div class="loading-overlay">
                  <img src="assets/images/spin.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div class="phanbo-dm">
      <table class="table-list">
        <tbody>
          <tr>
            <td class="text-left title-table" colspan="8"><i class="fa fa-flag"></i>Phân bỏ danh mục theo ngành</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 padd-r-none">
          <div class="phanbo30">
            <table>
              <tbody>
                <tr>
                  <td class="text-left headcolor-table"><img src="assets/images-add/chu-ky.png"/><b>Chu kỳ</b></td>
                  <td class="text-right headcolor-table">{{classify.data.A1.value | sum:classify.data.A8.value:classify.data.A3.value:classify.data.A5.value}}%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/vl-co-ban.png"/>Vật liệu cơ bản</td>
                  <td class="text-right"><span ng-bind="classify.data.A1.value"/>%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/tieu-dung.png"/>Tiêu dùng</td>
                  <td class="text-right"><span ng-bind="classify.data.A8.value"/>%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/dv-tai-chinh.png"/>Dịch vụ tài chính</td>
                  <td class="text-right"><span ng-bind="classify.data.A3.value"/>%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/bat-dong-san.png"/>Bất động sản</td>
                  <td class="text-right"><span ng-bind="classify.data.A5.value"/>%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 padd-l-r-none">
          <div class="phanbo30">
            <table>
              <tbody>
                <tr>
                  <td class="text-left headcolor-table"><img src="assets/images-add/phong-thu.png"/><b>Phòng thủ</b></td>
                  <td class="text-right headcolor-table">{{classify.data.A2.value | sum:classify.data.A7.value:classify.data.A10.value}}%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/tieu-dung-co-ban.png"/>Tiêu dùng cơ bản</td>
                  <td class="text-right"><span ng-bind="classify.data.A2.value"/>%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/duoc-pham-y-te.png"/>Dược phẩm và Y tế</td>
                  <td class="text-right"><span ng-bind="classify.data.A7.value"/>%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/tien-ich-cong-dong.png"/>Tiện ích cộng đồng</td>
                  <td class="text-right"><span ng-bind="classify.data.A10.value"/>%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/img-none.png"/></td>
                  <td class="text-right"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 padd-l-none">
          <div class="phanbo30">
            <table>
              <tbody>
                <tr>
                  <td class="text-left headcolor-table"><img src="assets/images-add/bien-dong.png"/><b>Biến động</b></td>
                  <td class="text-right headcolor-table">{{classify.data.A12.value | sum:classify.data.A13.value:classify.data.A11.value:classify.data.A6.value}}%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/vien-thong.png"/>Viễn thông</td>
                  <td class="text-right"><span ng-bind="classify.data.A12.value"/>%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/nang-luong.png"/>Năng lượng</td>
                  <td class="text-right"><span ng-bind="classify.data.A13.value"/>%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/cong-nghiep.png"/>Công nghiệp</td>
                  <td class="text-right"><span ng-bind="classify.data.A11.value"/>%</td>
                </tr>
                <tr>
                  <td class="text-left"><img src="assets/images-add/cong-nghe-thong-tin.png"/>Công nghệ thông tin</td>
                  <td class="text-right"><span ng-bind="classify.data.A6.value"/>%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="anim-fade" ng-show="classify.loading">
            <div class="loading-overlay">
              <img src="assets/images/spin.svg"/>
            </div>
        </div>
      </div>
    </div>
</div>