<div class="tab-pane fade in anim-slide-left" id="history">
    <div class="dateform">
      <div class="dateform-code">
        <input type="text" ng-enter="search()" ng-model="filter.symbol"  ng-change="filter.symbol = filter.symbol.toUpperCase();" placeholder="Mã" style="width:100%; height:34px; padding:0 0 0 10px">
      </div>
      <div class="dateform-date">
        <form id="sky-form1" class="sky-form">
          <fieldset>
            <label class="input" style="margin-bottom:0 !important;"> <i class="icon-append fa fa-calendar"></i>
              <input type="text" placeholder="Từ ngày" ng-model="filter.from" datepicker>
            </label>
          </fieldset>
        </form>
      </div>
      <div class="dateform-date">
        <form id="sky-form1" class="sky-form">
          <fieldset>
            <label class="input" style="margin-bottom:0 !important;"> <i class="icon-append fa fa-calendar"></i>
              <input type="text" placeholder="Đến ngày"  ng-model="filter.to" datepicker>
            </label>
          </fieldset>
        </form>
      </div>
      <div class="dateform-btn"> <a href="javascript:void(0);" class="a-find" ng-click="search()"><i class="fa fa-search"></i></a> </div>
      <div class="dateform-btn"> <a href="javascript:void(0);" class="a-exportfile" ng-click="exportExcel()"><i class="fa fa-file-excel-o"></i></a> </div>
    </div>
    <table class="table-list">
      <thead>
        <tr>
            <th class="text-left headcolor-table">
                <a href="" ng-click="sort('TXDATE')">ngày giao dịch</a>
                <span ng-show="sortBy == 'TXDATE'">
                  <i ng-show="!reverseSort" class="fa fa-sort-desc"></i>
                  <i  ng-show="reverseSort" class="fa fa-sort-asc"></i>
                </span>
            </th>
            <th class="text-center headcolor-table">
                <a href="" ng-click="sort('EXECTYPE_NAME')">loại lệnh</a>
                <span ng-show="sortBy == 'EXECTYPE_NAME'">
                  <i ng-show="!reverseSort" class="fa fa-sort-desc"></i>
                  <i  ng-show="reverseSort" class="fa fa-sort-asc"></i>
                </span>
            </th>
            <th class="headcolor-table text-center">
                <a href="" ng-click="sort('SYMBOL')">mã ck</a>
                <span ng-show="sortBy == 'SYMBOL'">
                  <i ng-show="!reverseSort" class="fa fa-sort-desc"></i>
                  <i  ng-show="reverseSort" class="fa fa-sort-asc"></i>
                </span>
            </th>
            <th class="text-right headcolor-table ipnone">
                <a href="" ng-click="sort('MATCHQTTY')">kl khớp</a>
                <span ng-show="sortBy == 'MATCHQTTY'">
                  <i ng-show="!reverseSort" class="fa fa-sort-desc"></i>
                  <i  ng-show="reverseSort" class="fa fa-sort-asc"></i>
                </span>
            </th>
            <th class="headcolor-table text-right ipnone">
                <a href="" ng-click="sort('MATCHPRICE')">giá khớp</a>
                <span ng-show="sortBy == 'MATCHPRICE'">
                  <i ng-show="!reverseSort" class="fa fa-sort-desc"></i>
                  <i  ng-show="reverseSort" class="fa fa-sort-asc"></i>
                </span>
            </th>
            <th class="text-right headcolor-table ipnone">
                <a href="" ng-click="sort('FEEAMT')">phí gd</a>
                <span ng-show="sortBy == 'FEEAMT'">
                  <i ng-show="!reverseSort" class="fa fa-sort-desc"></i>
                  <i  ng-show="reverseSort" class="fa fa-sort-asc"></i>
                </span>
            </th>
            <th class="text-right headcolor-table ipnone">
                <a href="" ng-click="sort('TAXSELLAMT')">thuế</a>
                <span ng-show="sortBy == 'TAXSELLAMT'">
                  <i ng-show="!reverseSort" class="fa fa-sort-desc"></i>
                  <i  ng-show="reverseSort" class="fa fa-sort-asc"></i>
                </span>
            </th>
            <th class="text-right headcolor-table">
                <a href="" ng-click="sort('VAL_IO')">giá trị gd</a>
                <span ng-show="sortBy == 'VAL_IO'">
                  <i ng-show="!reverseSort" class="fa fa-sort-desc"></i>
                  <i  ng-show="reverseSort" class="fa fa-sort-asc"></i>
                </span>
            </th>
            <th class="text-right headcolor-table ipnone">
                <a href="" ng-click="sort('VAL_IO')">ln đã thực kiện</a>
                <span ng-show="sortBy == 'VAL_IO'">
                  <i ng-show="!reverseSort" class="fa fa-sort-desc"></i>
                  <i  ng-show="reverseSort" class="fa fa-sort-asc"></i>
                </span>
            </th>
            <th class="text-right headcolor-table">
                <a href="" ng-click="sort('VAL_IO')">% ln</a>
                <span ng-show="sortBy == 'VAL_IO'">
                  <i ng-show="!reverseSort" class="fa fa-sort-desc"></i>
                  <i  ng-show="reverseSort" class="fa fa-sort-asc"></i>
                </span>
            </th>
        </tr>
      </thead>
      <tbody infinite-scroll='loadHistories()' infinite-scroll-disabled='busy' infinite-scroll-container='".rightcolin"'>
        <tr ng-if="histories.length == 0">
            <td colspan="10" style="text-align:center; color: #b41017">Your account have not any transaction!</td>
        </tr>
        <tr ng-repeat="history in histories">
            <td class="text-left"> {{history.txdate | formatDate}} {{history.txtime}}</td>
            <td class="text-center"  ng-class="history.exectype == 'NB' ? 'green' : 'red'">{{history.exectype_name}}</td>
            <td class="text-center">{{history.symbol}}</td>
            <td class="text-right ipnone">{{history.matchqtty | currency}}</td>
            <td class="text-right {{history.pnl | profitcolor}} ipnone">{{history.matchprice | stockprice}}</td>
            <td class="text-right ipnone">{{history.feeamt | currency}}</td>
            <td class="text-right ipnone">{{history.taxsellamt | currency}}</td>
            <td class="text-right ">{{history.val_io | currency}}</td>
            <td class="text-right ipnone {{history.pnl | profitcolor}}">{{history.pnl | currency}}</td>
            <td class="text-right {{history.pcProfitAndLoss | profitcolor}}">{{history.pcProfitAndLoss | percent:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>