<div class="tab-pane fade in anim-slide-left" id="portfolio">
    <table class="table-list">
      <tr>
        <td class="text-left headcolor-table">mã ck</td>
        <td class="text-right headcolor-table">số lượng</td>
        <td class="text-right headcolor-table">thị giá</td>
        <td class="headcolor-table text-right">Giá trị</td>
        <td class="text-right headcolor-table ipnone">lợi nhuận</td>
        <td class="text-right headcolor-table">% lợi nhuận</td>
        <td class="text-center headcolor-table ipnone"></td>
        <td class="text-right headcolor-table ipnone" style="position:relative">
	        <form class="sky-form text-center">
	            <fieldset>
	              <section style="margin-bottom:0 !important;">
	                <label class="select" style="margin-bottom:0 !important;">
	                  <select ng-options="item as item.label for item in chartData track by item.id" ng-model="selected" ng-change="changeChartWindow()"></select>
	                  <i></i> </label>
	              </section>
	            </fieldset>
	          </form>
        </td>
        <td class="text-center headcolor-table ipnone td-desktop-none">&nbsp;</td>
      </tr>
      <tr  class="pointer" ng-repeat="stock in stockList | orderBy:'symbol'" ui-sref="stock.detail({symbol:stock.symbol})">
        <td class="text-left"><span></span><a ui-sref="stock.detail({symbol:stock.symbol})">{{stock.symbol}}</a>
			<p class="ipnone">{{stock.companyName}}</p>
		</td>
        <td class="text-right">{{stock.seBalance}}</td>
        <td class="text-right" ng-class="stock.realtimePriceChange >= 0 ? 'green' : 'red' " >{{stock.realtimePrice | stockprice}}</td>
        <td class="text-right">{{(stock.seBalance * stock.realtimePrice) | currency}} </td>
        <td class="text-right {{stock.costPriceO | stockprofitcolor:stock.costPriceI:stock.realtimePrice}} ipnone">{{stock.seBalance | stockprofit:stock.costPriceO:stock.costPriceI:stock.realtimePrice | currency}}</td>
        <td class="text-right {{stock.costPriceO | stockprofitcolor:stock.costPriceI:stock.realtimePrice}}">{{stock.seBalance | stockprofitpercent:stock.costPriceO:stock.costPriceI:stock.realtimePrice}}%</td>
        <td class="text-center ipnone">
        	<div sparkline template="ratioPriceTemplate.html" class="sparkline" ticker="stock.symbol" style="width:173px; height:37px;"></div>
       	</td>
        <td class="text-right ipnone td-desktop-none"><a href="./invest/sso" class="btn-gd">giao dịch</a></td>
      </tr>
    </table>
</div>
<script type="text/ng-template" id="ratioPriceTemplate.html">
	<td class="text-right ipnone"> 
		<p ng-class="changePrice >= 0 ? 'up' : 'down' " ng-model="changePrice" >{{changePrice}}</p>
        <span ng-class="changePrice >= 0 ? 'up' : 'down'"  ng-model="ratio" >({{ratio}}%)</span>
	</td>
</script>